<style media="screen">

  .blog_{{@index}} {
    grid-column: span {{width}};
    grid-row: span {{height}};
    color: #828282;
    padding: 0 31px;
  }

  .blog_{{@index}} > .foot {
    display: flex;
    float: left;
    align-items: center;

    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 157.9%;
  }

  .blog_{{@index}} > .foot > p {
    padding-left: 7px;
    padding-right: 7px;
  }

  .blog_{{@index}} > p {
    font-family: Roboto;
    font-weight: 300;
    font-size: 16px;
    line-height: 157.9%;
  }



  @media screen and (max-width: 1024px) {
    .blog_{{@index}} {
      padding: 0 8px;
    }

    .blog_{{@index}} > p, .blog_{{@index}} > .foot {
        font-size: 18px;
        line-height: 1.8;
      }
    }

  @media screen and (max-width: 769px) {
    .blog_{{@index}} {
      padding: 0 2px;
    }

    .blog_{{@index}} > p, .blog_{{@index}} > .foot {
        font-size: 12px;
        line-height: 1.8;
        margin: 0;
      }
  }

  @media screen and (max-width: 500px) {
    .blog_{{@index}} {
      padding: 0 2px;
      margin: 5px;
      padding-bottom: 1rem;
    }

    .blog_{{@index}} > p, .blog_{{@index}} > .foot {
        font-size: 17px;
        line-height: 1.8;
        margin: 0;
    }
  }

</style>

<div class="card blog blog_{{@index}}" onclick="window.location.href = `/blogpost?serialNo={{msg.[0].msg}}`">
  {{#each msg}}

  {{#if (match 'h3' type)}}
    <h3 class="{{class}}">{{{msg}}}</h3>
  {{/if}}

  {{#if (match 'p' type)}}
    <p class="{{class}}">{{{msg}}}</p>
  {{/if}}

  {{#if (match 'date' type)}}
  <div class="foot">
    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
    <g opacity="0.54">
    <path d="M11.99 2C6.47 2 2 6.48 2 12C2 17.52 6.47 22 11.99 22C17.52 22 22 17.52 22 12C22 6.48 17.52 2 11.99 2ZM12 20C7.58 20 4 16.42 4 12C4 7.58 7.58 4 12 4C16.42 4 20 7.58 20 12C20 16.42 16.42 20 12 20Z" fill="#828282"/>
    <path d="M12.5 7H11V13L16.25 16.15L17 14.92L12.5 12.25V7Z" fill="#828282"/>
    </g>
    </svg>

    <p class="{{class}}">{{{msg}}}</p>
  </div>
  {{/if}}

  {{#if (match 'author' type)}}
  <div class="foot">
    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M12 12C14.21 12 16 10.21 16 8C16 5.79 14.21 4 12 4C9.79 4 8 5.79 8 8C8 10.21 9.79 12 12 12ZM12 14C9.33 14 4 15.34 4 18V20H20V18C20 15.34 14.67 14 12 14Z" fill="#828282"/>
    </svg>

    <p class="{{class}}">{{{msg}}}</p>
  </div>
  {{/if}}

  {{/each}}
</div>

<script type="text/javascript">

</script>
