<style media="screen">

  .course_{{@index}} {
    grid-column: span {{width}};
    grid-row: span {{height}};
  }

  .subj-card {
    width: 100%;
    max-width: 243px;
    height: auto;
    background: #F2F2F2;
    color: #27AE60;
    opacity: 0.8;

    margin-bottom: 20px;
    border-radius: 2px;
    padding: 16px;
    box-sizing: border-box;
    border: 1px solid transparent;
  }

  .subj-card:hover {
    opacity: 1;
    cursor: pointer;
    border:1px dashed #27AE60;
  }

  .subj-card.true {
    background: #27AE60;
    color: #F2F2F2;
    opacity: 1;
  }

  .subj-card > p:nth-child(1) {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 33px;
    line-height: 178.4%;
    margin: 0;
  }

  .subj-card > p:nth-child(2) {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 27px;
    margin: 0;
  }

  .sticky-nav > * {
    max-width: 243px;
    margin-right: auto;
    margin-left: auto;
  }

  .sticky-nav > *:not(:nth-child(1)) {
    margin-bottom: 10px;
  }
</style>

<div class="card course_{{@index}} sticky-nav">
  <h3>Featured Courses</h3>
  {{#each msg}}
  <div class="subj-card {{active}}" onClick="window.location = '/school/?pagerequest={{course}}';">
    <p>0{{@index}}</p>
    <p>{{name}}</p>
  </div>
  {{/each}}
</div>
