<style media="screen">
  .footer_{{@index}} {
    grid-column: span {{width}};
    grid-row: span {{height}};
    text-align: center;
    margin: auto;
  }

  .footer_{{@index}} > button {
    color: white;
    display: block;
  }
</style>

<div class="footer_{{@index}}">
{{#each msg}}

{{#if (match 'p' type)}}
  <p class="{{class}}">{{{msg}}}</p>
{{/if}}

{{#if (match 'facebook' type)}}
<a href="{{msg}}" target="_blank">

  <svg width="35" height="35" viewBox="0 0 35 35" fill="none" xmlns="http://www.w3.org/2000/svg">
  <circle cx="17.5" cy="17.5" r="17" stroke="#828282"/>
  <path d="M22.116 9.60697C22.2594 9.62293 22.3889 9.63887 22.5 9.6534V11.4936H21.526C20.6972 11.4936 20.0697 11.7451 19.6567 12.2054C19.2532 12.6553 19.121 13.2311 19.121 13.7535V15.8674V16.3674H19.621H22.2774L21.918 18.625H19.621H19.121V19.125V26.5H16.4681V19.125V18.625H15.9681H13.5V16.3674H15.9681H16.4681V15.8674V13.3847C16.4681 12.0776 16.8693 11.1225 17.5217 10.493C18.1769 9.86068 19.1444 9.5 20.3835 9.5C20.9973 9.5 21.6312 9.55301 22.116 9.60697Z" fill="#828282" stroke="#828282"/>
  </svg>
</a>
{{/if}}

{{#if (match 'twitter' type)}}
<a href="{{msg}}" target="_blank">
  <svg width="35" height="35" viewBox="0 0 35 35" fill="none" xmlns="http://www.w3.org/2000/svg">
  <circle cx="17.5" cy="17.5" r="17" stroke="#828282"/>
  <path d="M24.85 13.3381L25.1498 13.7383L24.651 13.773C24.661 13.9168 24.6612 14.0635 24.6612 14.2305C24.6612 19.0321 21.1047 24.5 14.665 24.5C13.354 24.5 12.105 24.2434 10.9608 23.7748C12.3887 23.5785 13.6974 22.9941 14.7842 22.1201L15.8533 21.2603L14.4817 21.2306C13.3528 21.2061 12.3663 20.5882 11.8143 19.6629C12.1591 19.6547 12.4996 19.6029 12.8176 19.5184L12.7909 18.5456C11.5698 18.2917 10.5953 17.3238 10.3135 16.0697C10.6518 16.1752 11.0097 16.2392 11.3791 16.2535L13.1125 16.3206L11.6807 15.3412C10.821 14.7531 10.2538 13.7462 10.2538 12.6015C10.2538 12.2582 10.3035 11.9319 10.3959 11.6254C12.279 13.6759 14.9126 14.9949 17.8362 15.1516L18.4815 15.1862L18.3529 14.5529C18.3014 14.2991 18.2716 14.0397 18.2716 13.7852C18.2716 11.9621 19.7054 10.5 21.4607 10.5C22.3757 10.5 23.2031 10.8929 23.7868 11.5324L23.9765 11.7402L24.2526 11.6859C24.5984 11.6179 24.9384 11.5254 25.2694 11.4108C25.0754 11.6148 24.8553 11.7933 24.6145 11.9408L24.9305 12.8642C25.1275 12.8424 25.3225 12.8123 25.5152 12.7746C25.3043 12.9757 25.0821 13.1642 24.85 13.3381Z" fill="#828282" stroke="#828282"/>
  </svg>
</a>
{{/if}}



{{#if (match 'makerlog' type)}}
<a href="{{msg}}" target="_blank">
  <svg width="35" height="35" viewBox="0 0 35 35" fill="none" xmlns="http://www.w3.org/2000/svg">
  <circle cx="17.5" cy="17.5" r="17" stroke="#828282"/>
  <path d="M9.97315 16.3241L9.97316 16.3241C10.1494 16.1499 10.4376 16.1499 10.6138 16.3241L10.6138 16.3241L14.7736 20.4344L15.125 20.7816L15.4764 20.4344L24.3862 11.6306C24.5624 11.4565 24.8506 11.4565 25.0269 11.6306L26.3703 12.9581L26.7218 12.6025L26.3703 12.9581C26.5432 13.1289 26.5432 13.4034 26.3703 13.5743C26.3703 13.5743 26.3703 13.5743 26.3703 13.5743L15.4453 24.3694C15.2691 24.5435 14.9809 24.5435 14.8047 24.3694L14.458 24.7203L14.8047 24.3694L8.62967 18.2678C8.45679 18.097 8.45676 17.8225 8.62969 17.6516L9.97315 16.3241Z" fill="#828282" stroke="#828282"/>
  </svg>
</a>
{{/if}}

{{/each}}
</div>
