<style media="screen">
  .signin_{{@index}} {
    grid-column: span {{width}};
    grid-row: span {{height}};
  }

  .signin_{{@index}} > button {
    float: left;
  }

  .signin_{{@index}} > p {
    font-family: Roboto;
    font-weight: 300;
    line-height: 157.9%;
  }

  .signin_{{@index}} .note > span {
    line-height: 1.5;
  }

  @media (max-width: 500px) {
    .signin_{{@index}} {
    }
  }

</style>

<div class="card signin_{{@index}}">

{{#if (length session.token)}}

  <h3 class="note w-half">You are signed in as <span>{{session.name}}</span>.</h3>
  <button type="button" name="button" class="danger" onclick="goto(`/logout/{{session.token}}`)">Sign out</button>

{{else}}

{{#each msg}}

{{#if (match 'h3' type)}}
  <h3 class="{{class}}">{{msg}}</h3>
{{/if}}

{{#if (match 'button' type)}}
  <button type="button" name="button" class="{{class}}" onclick="{{url}}">{{msg}}</button>
{{/if}}

{{#if (match 'p' type)}}
  <p class="{{class}}">{{msg}}</p>
{{/if}}

{{#if (match 'svg' type)}}
  <img src="{{msg}}" class="svg" alt="">
{{/if}}

{{/each}}

{{/if}}


</div>
