<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>

    {{>googleAnalytics}}

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Primary Meta Tags -->
    <title>{{data.Ayats}}</title>

    <meta name="title" content="{{data.Ayats}}">
    <meta name="description" content="{{data.Content.0.msg}}">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://www.zakatlists.com/blogpost?serialNo={{data.Ser}}">
    <meta property="og:title" content="{{data.Ayats}}">
    <meta property="og:description" content="{{data.Content.0.msg}}">
    <meta property="og:image" content="https://www.zakatlists.com/quranDailyImages/{{data.Ser}}.png">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://www.zakatlists.com/blogpost?serialNo={{data.Ser}}">
    <meta property="twitter:title" content="{{data.Ayats}}">
    <meta property="twitter:description" content="{{data.Content.0.msg}}">
    <meta property="twitter:image" content="https://www.zakatlists.com/quranDailyImages/{{data.Ser}}.png">

    <link href="https://fonts.googleapis.com/css?family=Montserrat|Roboto:100,300i,400,400i,700,900&display=swap" rel="stylesheet">
    <style media="screen" type="text/css">

      .d-flex {
        display: flex;
      }

      .m-auto {
        margin: auto;
      }

      .lavendar {
        color: brown;
      }

      body {
        padding-bottom: 8rem;
      }

      body > * {
        max-width: 900px;
        margin: auto;
      }

      .logo-area {
        display: flex;
        height: 44px;
        align-items: center;
        padding: 0 20px;
        cursor: pointer;
      }

      .logo-area > p:hover {
        color: black;
      }

      .logo-area > p {
        padding-left: 10px;
        /* Quran Daily */

        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 157.9%;
        /* identical to box height, or 32px */
        display: flex;
        align-items: center;

        /* Gray 2 */
        color: #4F4F4F;
      }

      .date {
        font-family: Roboto;
        font-weight: 400;
        font-size: 18px;
        color: #828282;
      }

      h1 {
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 61px;
        line-height: 157.9%;
        /* or 96px */
        display: flex;
        align-items: center;

        /* Gray 2 */
        color: #4F4F4F;
        margin: 0px;
      }

      .note {
        font-family: Roboto;
        font-style: italic;
        font-weight: 300;
        font-size: 22px;
        color: #828282;
      }

      .quote {
        position: relative;
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 22px;
        color: #828282;
      }

      .quote > svg {
        position: absolute;
        z-index: -10;
        top: -71px;
        left: -67px;
      }

      h3 {
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 42px;
        line-height: 157.9%;
        /* or 66px */
        display: flex;
        align-items: center;

        /* Gray 2 */
        color: #4F4F4F;
      }

      p {

        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 22px;
        line-height: 184.9%;
        /* display: flex; */
        align-items: center;
        color: #828282;

      }

      a {
        text-decoration: none;
        color: black;
        font-style: italic;
      }

      .tags > span {
        background: #4f4f4f;
        font-size: 14px;
        color: #e6e6e6;
        padding: 3px 5px;
        white-space: nowrap;
      }

      .font-normal {
        font-weight: normal;
      }


      .b-left {
        padding-left: 28px;
        border-left: 10px solid lightgrey;
      }

      img {
        max-width: 100%;
        /* text-align: center; */
        margin: auto;
        /* left: 50%; */
        /* border: 1px solid lavender; */
        display: block;
      }

      .no-border {
        border: 1px solid transparent;
      }

      .width-half {
        width: 50%;
      }

      .width-m-half {
        width: 50%;
      }

      .width-m-75 {
        width: 75%;
      }

      h5 {
        font-family: Roboto;
        font-style: normal;
        font-size: 22px;
        line-height: 184.9%;
        align-items: center;
        color: #4f4f4f;
        font-weight: bold;
      }

      h6 {
        font-family: Roboto;
        font-style: normal;
        font-size: 22px;
        line-height: 184.9%;
        align-items: center;
        color: #4f4f4f;
        font-weight: bold;
        margin-bottom: -19px;
      }

      h6 > span, h6 > i {
        color: #828282;
      }

      .text-center {
        text-align: center;
      }

      .caption {
        font-family: Roboto;
        font-weight: 300;
        font-size: 17px;
        color: #000000;
      }

      .caption > a {
        font-weight: 400;
        color: darkcyan;
      }

      .subscribe > input {
        box-sizing: border-box;
        height: 3rem;
        font-family: Roboto;
        font-style: italic;
        font-weight: 300;
        font-size: 22px;
        color: #828282;
        border: 1px solid #d4d4d4;
        padding: 0 26px;
      }

      .subscribe > input::placeholder {
        box-sizing: border-box;
        height: 3rem;
        color: #828282;
        font-style: italic;
        font-weight: 300;
        font-size: 22px;
      }

      .subscribe > button {
        display: block;
        height: 3rem;
        background: #f7f7f7;
        border: 0px solid transparent;
        box-sizing: border-box;
        padding: 8px 27px;
        font-family: Roboto;
        font-style: italic;
        font-weight: 300;
        font-size: 20px;
        color: #717171;
        margin-top: 1rem;
      }

      .subscribe > .success {
        font-weight: normal;
        font-size: 17px;
        font-style: italic;
        color: darkcyan;
      }

      .subscribe > .error {
        font-weight: normal;
        font-size: 17px;
        font-style: italic;
        color: darkred;
      }

      .d-none {
        display: none;
      }

      @media (max-width: 799px) {

        body {
          padding-bottom: 1rem;
        }

        .subscribe > input {
          height: 2.5rem;
          font-size: 18px;
        }

        .subscribe > input::placeholder {
          height: 2.5rem;
          font-size: 18px;
        }

        .subscribe > button {
          height: 2.5rem;
          background: #f1f1f1;
          font-size: 18px;
          color: #717171;
          margin-top: 1rem;
        }

        .subscribe > .success {
          font-weight: normal;
          font-size: 16px;
          font-style: italic;
          color: darkcyan;
        }

        .subscribe > .error {
          font-weight: normal;
          font-size: 17px;
          font-style: italic;
          color: darkred;
        }

        h1 {
          font-family: Roboto;
          font-style: normal;
          font-weight: bold;
          font-size: 45px;
          line-height: 123%;
          display: flex;
          align-items: center;
          color: #4F4F4F;
        }

        h3 {
          font-family: Roboto;
          font-style: normal;
          font-weight: bold;
          font-size: 22px;
          line-height: 157.9%;
          display: flex;
          align-items: center;
          color: #4F4F4F;
        }

        h6, h5 {
          font-size: 20px;
        }

        p {
          font-family: Roboto;
          font-style: normal;
          font-weight: normal;
          font-size: 18px;
          line-height: 184.9%;
          /* display: flex; */
          align-items: center;
          color: #828282;
        }

        .note, .quote {
          font-size: 18px;
        }

        .logo-area {
          margin-left: 0px;
          padding: 0px;
        }

        .logo-area > p {
          padding-left: 10px;
        }

        .b-left {
          padding-left: 10px;
          border-left: 5px solid lightgrey;
        }

        .width-m-half, .width-m-75 {
          width: 100%;
        }
      }
    </style>
  </head>
  <body>
    <div class="logo-area" onclick="window.location.href = '/quranDaily'">
      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M21 11H6.83L10.41 7.41L9 6L3 12L9 18L10.41 16.59L6.83 13H21V11Z" fill="#4F4F4F"/>
      </svg>

      <p>Quran Daily</p>
    </div>

    <section id="blog">

      <p class="date">Day {{data.Ser}}, {{data.Ayats}} <br> {{data.Date}}</p>
      {{#each data.Content}}

      {{#if (match 'h1' type)}}
      <h1 class="{{{class}}}">{{{msg}}}</h1>
      <p class="tags">
      {{#each ../tags}}
        <span>{{this}}</span>
      {{/each}}
      </p>
      {{/if}}

      {{#if (match 'p' type)}}
      <p class="{{{class}}}">
        {{{msg}}}
      </p>
      {{/if}}

      {{#if (match 'h3' type)}}
      <h3 class="{{{class}}}">{{{msg}}}</h3>
      {{/if}}

      {{#if (match 'quote' type)}}
      <p class="quote {{{class}}}">
        <svg width="200" height="200" viewBox="0 0 200 200" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M49.9993 141.667H74.9993L91.666 108.333V58.3333H41.666V108.333H66.666L49.9993 141.667ZM116.666 141.667H141.666L158.333 108.333V58.3333H108.333V108.333H133.333L116.666 141.667Z" fill="#F2F2F2"/>
        </svg>
        {{{msg}}}
      </p>
      {{/if}}

      {{#if (match 'img' type)}}
        <img class="{{{class}}}" src="/quranDailyImages/{{msg}}" alt="">
      {{/if}}

      {{#if (match 'h5' type)}}
      <h5 class="{{{class}}}">{{{msg}}}</h5>
      {{/if}}

      {{#if (match 'h6' type)}}
        <h6 class="{{{class}}}">{{{msg}}}</h6>
      {{/if}}

      {{#if (match 'iframe' type)}}
        <iframe class="{{{class}}}" width="560" height="315" src="{{{msg}}}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      {{/if}}

      {{/each}}

      <form class="subscribe">
        <input class="width-m-half" type="email" id="subscribe-input" name="email" value="" placeholder="youremail@email.com">
        <button type="button" name="button">Subscribe</button>
        <p class="success d-none">Hooray ! You have subscribed to zakatlists. Thanks</p>
        <p class="error d-none"></p>
      </form>

    </section>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="  crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.7/jquery.validate.min.js"></script>

    <script type="text/javascript">
      $(document).on('click','.subscribe>button',function() {

        if (!($(".subscribe").valid())) {

          return;

        }

        $('.subscribe>.success').addClass('d-none');
        $('.subscribe>.error:not(input)').addClass('d-none');

        let data = {
          "query": 'subscription',
          "email": $('#subscribe-input').val(),
        };

        data = JSON.stringify(data);

        $.ajax({
          url: '/signing',
          type: 'post',
          data,
          headers: {
              'content-type': 'application/json',
          }
        }).done((msg) => {
          console.log(msg);
          $('.subscribe>.success').removeClass('d-none');
          // $('button').attr('disabled',true);
        }).fail((e) => {
          $('.error').removeClass('d-none').html(e.responseText);
          console.log(e.responseText);
        });
      })

      $(".subscribe").validate({

        rules: {
          'email' : {
            required: true,
            email: true
          }
        },
        messages: {
          'email' : {
            required: `Email is required before you press this button.`,
            email: `Email is invalid`,
          },
        },
        errorPlacement: function(error, element) {
          console.log(error,element);
          $(element).siblings('.error').removeClass('d-none').html(error);
        },

      });

    </script>
  </body>
</html>
