<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel=icon href=/favicon.png>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800,900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/styles.css">

    <title>Zakat Lists</title>
    <style media="screen">
    .StripeElement {
      box-sizing: border-box;

      height: 40px;

      padding: 10px 12px;

      border: 1px solid transparent;
      border-radius: 4px;
      background-color: white;

      box-shadow: 0 1px 3px 0 #e6ebf1;
      -webkit-transition: box-shadow 150ms ease;
      transition: box-shadow 150ms ease;
    }

    .StripeElement--focus {
      box-shadow: 0 1px 3px 0 #cfd7df;
    }

    .StripeElement--invalid {
      border-color: #fa755a;
    }

    .StripeElement--webkit-autofill {
      background-color: #fefde5 !important;
    }

    .error {
      grid-column: 1/4;
      text-align: center;
    }
    </style>

  </head>
  <body>
    {{>header}}

    <div class="corner-box">
      {{#if dueZakat}}
      <div class="zakat-due-box">
        <div class="d-flex align-items-center justify-content-between">
          <p>Due Zakat: {{this}}.00 </p>
          <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
          <rect y="17.1097" width="24.1967" height="3" transform="rotate(-45 0 17.1097)" fill="whitesmoke"/>
          <rect x="2.12109" width="24.1967" height="3" transform="rotate(45 2.12109 0)" fill="whitesmoke"/>
          </svg>
        </div>
        <small class="d-block w-100">Calculated using <b><a href="/zakatcalc">zakat calculator</a></b></small>
      </div>
      {{/if}}
    </div>




    <div class="container form-placement">
      <h4>Check out</h4>
      <div class="checkout-container d-none">
        <form class="stripe-form" action="/charge" method="get" id="payment-form">

          <div class="form-row">
            <label for="card-element" style="font-size: 15px">
              Credit or debit card
            </label>
            <div id="card-element" class="my-1" style="background: lavender">
              <!-- A Stripe Element will be inserted here. -->
            </div>
            <div class="error" id="card-errors" role="alert"></div>
          </div>

          <input class="d-none" type="text" name="email" value="{{email}}">
          <input class="d-none" type="text" name="token" value="{{token}}">
          <input id="paymentDetails" class="d-none" type="text" name="paymentDetails" value="">
          <input id="input-amount" class="d-none" type="text" name="amount" value="">

          <button id="stripe-btn" class="btn btn-secondary mt-1"></button>

        </form>
      </div>

      <form id="pay-out-form" class="form-grid">
        <div class="heading">
          <p>Person(s)</p>
        </div>
        <div class="heading text-center">
          <p>Amount</p>
        </div>


        {{#each people}}

        <div class="delete-btn">
          <svg width="14" height="18" viewBox="0 0 14 18" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M1 16C1 17.1 1.9 18 3 18H11C12.1 18 13 17.1 13 16V4H1V16ZM14 1H10.5L9.5 0H4.5L3.5 1H0V3H14V1Z" fill="#173627"/>
          </svg>
        </div>

        <div class="person">
          <p>Earning {{salary}} to support {{fMembers}} family members</p>
        </div>
        <input class="input-person" class="form-control text-center" type="number" name="{{_id}}" value="" placeholder="50 {{localCurrency}}" required>

        {{/each}}

        <div class="label">
          <p style="font-weight: normal">Processing fee</p>
        </div>

        <div class="person-amount">
          <p id="processing-fee">0.00 {{localCurrency}}</p>
        </div>
        <div class="label total">
          <p>Total</p>
        </div>
        <div class="person-amount">
          <p id="total-amount">0 {{localCurrency}}</p>
        </div>

        <div class="person-amount">
          <button id="buy" class="btn btn-secondary" type="button" name="button">Pay Out</button>
        </div>
      </form>

    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="  crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.7/jquery.validate.min.js"></script>
    <script type="text/javascript" src="/javascript.js"></script>
    <script src="https://js.stripe.com/v3/"></script>
    <script src="/reload/reload.js"></script>


    <script type="text/javascript">

      var stripe = Stripe('pk_test_WJQN2iDakpSKGN9Va0KeHEDT');

      $('#buy').on('click',function() {

        if (!($('#pay-out-form').valid())) return console.log('form is in-valid');

        let total = 0;
        $.each($('#pay-out-form').find('input'),(key,val) => {
          total += +$(val).val();
        })

        let processingfee = total * 0.1;
        total = total + processingfee;

        $('#total-amount').html(`${total}.00 USD`);
        $('#processing-fee').html(`${processingfee}.00 USD`)

        let array = [];

        $.each($('.input-person'),(key,val) => {
          array.push({
            id : $(val).attr('name'),
            amount: $(val).val()
          });
        });

        let data = JSON.stringify(array);
        $('#paymentDetails').val(data);


        $(this).closest('.form-grid').hide();
        $('.checkout-container').removeClass('d-none');
        $('#stripe-btn').html(`Payout ${total}.00 USD`);
        $('#input-amount').val(total * 100);

        return;

        data = {
          "query": 'add-new-orders',
          "people": array,
          "token": `{{token}}`
        };

        data = JSON.stringify(data);

        console.log(data);

        $.ajax({
            url: '/signing',
            type: 'post',
            data,
            headers: {
                'content-type': 'application/json',
            }
          }).done((msg) => {
            console.log(msg);
            $(this).closest('.form-grid').hide();
            $('.checkout-container').removeClass('d-none');
            $('#stripe-btn').html(`Payout ${total}.00 USD`);
            $('#input-amount').val(total * 100);
          }).fail((e) => {
            console.log('error here', e);
          });

      });

      $("#pay-out-form").validate({

        rules: {
          {{#each people}}
          '{{_id}}' : {
            required: true,
          },
          {{/each}}
        },
        messages: {
          {{#each people}}
          '{{_id}}' : {
            required: `Please fill above fields.`,
          },
          {{/each}}
        },
        errorPlacement: function(error, element) {
          $('#buy').closest('div').before(error);
        },

      });


      // STRIPE JS GOES HERE

      var elements = stripe.elements();

      var style = {
        base: {
          color: '#32325d',
          fontFamily: '"Helvetica Neue", Helvetica, sans-serif',
          fontSmoothing: 'antialiased',
          fontSize: '16px',
          '::placeholder': {
            color: '#aab7c4'
          }
        },
        invalid: {
          color: '#fa755a',
          iconColor: '#fa755a'
        }
      };

      // Create an instance of the card Element.
      var card = elements.create('card', {style: style});

      // Add an instance of the card Element into the `card-element` <div>.
      card.mount('#card-element');

      // Handle real-time validation errors from the card Element.
      card.addEventListener('change', function(event) {
        var displayError = document.getElementById('card-errors');
        if (event.error) {
          displayError.textContent = event.error.message;
        } else {
          displayError.textContent = '';
        }
      });

      // Handle form submission.
      var form = document.getElementById('payment-form');
      form.addEventListener('submit', function(event) {
        event.preventDefault();

        stripe.createToken(card).then(function(result) {
          if (result.error) {
            // Inform the user if there was an error.
            var errorElement = document.getElementById('card-errors');
            errorElement.textContent = result.error.message;
          } else {
            // Send the token to your server.
            stripeTokenHandler(result.token);
          }
        });
      });

      // Submit the form with the token ID.
      function stripeTokenHandler(token) {
        // Insert the token ID into the form so it gets submitted to the server
        var form = document.getElementById('payment-form');
        var hiddenInput = document.createElement('input');
        hiddenInput.setAttribute('type', 'hidden');
        hiddenInput.setAttribute('name', 'stripeToken');
        hiddenInput.setAttribute('value', token.id);
        form.appendChild(hiddenInput);

        // Submit the form
        form.submit();
      }
    </script>
  </body>
</html>
