<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    {{>googleAnalytics}}

    <!-- HTML Meta Tags -->
    <title>Zakat Lists - Raise Funds</title>
    <meta name="description" content="7 Siblings. Father is in old age and does mason works. Need assistance of up to Rs 50,000 to prepare dowry for his sister. 4 younger siblings are school and college going. If anybody wants to help please contact me.">

    <!-- Google / Search Engine Tags -->
    <meta itemprop="name" content="Zakat Lists - Raise Funds">
    <meta itemprop="description" content="{{data.story}}">
    <meta itemprop="image" content="https://www.zakatlists.com/meta-img.png">

    <!-- Facebook Meta Tags -->
    <meta property="og:url" content="https://www.zakatlists.com/donate/5da49ad5ec7fc3f5599dc9a7">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Zakat Lists - Raise Funds">
    <meta property="og:description" content="{{data.story}}">
    <meta property="og:image" content="https://www.zakatlists.com/meta-img.png">

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Zakat Lists - Raise Funds">
    <meta name="twitter:description" content="{{data.story}}">
    <meta name="twitter:image" content="https://www.zakatlists.com/meta-img.png">

    <!-- Meta Tags Generated via http://heymeta.com -->

    <link rel=icon href=/favicon.png>

    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800,900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="/sassstyles.css">

  </head>
  <body id="getPersonDonation">

    <div class="logo-area" onclick="window.location.href = '/'">
      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M21 11H6.83L10.41 7.41L9 6L3 12L9 18L10.41 16.59L6.83 13H21V11Z" fill="#E0E0E0"/>
      </svg>
      <!-- <p>Home</p> -->

      <svg width="116" height="19" viewBox="0 0 116 19" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M7.95064 14.8944L3.58446 14.9098V17.5229L0.115234 17.4123L4.57161 5.31059L6.87921 5.30245L11.4457 17.3724L7.95064 17.3817V14.8944ZM4.2497 12.8904L7.27117 12.8797L5.73618 8.36119L4.2497 12.8904Z" fill="#E0E0E0"/>
      <path d="M17.2724 14.8699C17.2714 14.5766 17.1239 14.3474 16.83 14.1825C16.5417 14.0119 16.0763 13.8614 15.4339 13.7308C13.2963 13.2901 12.225 12.3863 12.2202 11.0195C12.2174 10.2226 12.5443 9.5574 13.201 9.02383C13.8631 8.48471 14.7282 8.21327 15.7963 8.2095C16.9362 8.20548 17.8475 8.47066 18.53 9.00504C19.2181 9.5394 19.5637 10.2355 19.5667 11.0932L17.1678 11.1017C17.1666 10.7586 17.0549 10.4767 16.8328 10.2561C16.6106 10.03 16.2644 9.91782 15.794 9.91948C15.39 9.9209 15.0777 10.0133 14.857 10.1967C14.6363 10.3801 14.5264 10.6129 14.5274 10.8951C14.5283 11.1608 14.6536 11.3761 14.9032 11.5413C15.1583 11.7009 15.5849 11.8405 16.183 11.9601C16.7811 12.0742 17.2851 12.2052 17.6952 12.3532C18.964 12.8136 19.6005 13.6165 19.6045 14.762C19.6074 15.581 19.2584 16.2463 18.5574 16.7579C17.8564 17.264 16.9497 17.519 15.8374 17.5229C15.0848 17.5255 14.4147 17.3951 13.8272 17.1315C13.2452 16.8624 12.7874 16.496 12.4537 16.0324C12.12 15.5632 11.9522 15.0574 11.9503 14.5151L14.2247 14.5071C14.2483 14.9331 14.4072 15.259 14.7013 15.4849C14.9954 15.7107 15.3887 15.8228 15.8812 15.8211C16.3405 15.8194 16.6861 15.7324 16.9179 15.5601C17.1552 15.3822 17.2734 15.1521 17.2724 14.8699Z" fill="#E0E0E0"/>
      <path d="M24.4154 13.7241L23.5551 14.5904L23.5648 17.3296L21.1659 17.3381L21.1209 4.58816L23.5198 0.725098L23.5447 11.6436L24.0075 11.0443L26.2973 8.33848L29.1776 8.32832L25.9452 12.0834L29.4915 17.3087L26.7357 17.3184L24.4154 13.7241Z" fill="#E0E0E0"/>
      <path d="M41.4617 12.7176L42.8313 12.7128L42.8382 14.6469L41.4685 14.6517L41.4778 17.2664L39.0789 19L39.0696 14.6602L34.1141 14.6777L34.0009 13.1673L39.0113 5.18913L41.4351 5.18058L41.4617 12.7176ZM36.39 12.7355L39.0628 12.7261L39.0478 8.45953L38.891 8.73401L36.39 12.7355Z" fill="#E0E0E0"/>
      <path d="M48.633 17.2412L48.5904 5.15535L52.3091 5.14223C53.3716 5.13848 54.3215 5.37586 55.1588 5.85435C56.0016 6.3273 56.6598 7.00564 57.1333 7.8894C57.6068 8.76762 57.8455 9.76841 57.8494 10.8918L57.8514 11.4479C57.8554 12.5713 57.6265 13.571 57.1647 14.4469C56.7085 15.3229 56.0606 16.0031 55.2212 16.4875C54.3818 16.9719 53.4336 17.2187 52.3766 17.228L48.633 17.2412ZM51.0877 7.16364L51.1162 15.232L52.3198 15.2277C53.2937 15.2243 54.0369 14.9035 54.5493 14.2652C55.0617 13.627 55.3213 12.7158 55.3282 11.5315L55.326 10.8924C55.3217 9.66386 55.0638 8.73508 54.5525 8.10602C54.0411 7.47142 53.2957 7.15586 52.3162 7.15931L51.0877 7.16364Z" fill="#E0E0E0"/>
      <path d="M59.1422 12.6304C59.1391 11.7394 59.3078 10.9447 59.6484 10.2463C59.9891 9.54779 60.4797 9.00651 61.1203 8.62241C61.7664 8.23829 62.5155 8.04473 63.3677 8.04173C64.5796 8.03745 65.5687 8.40473 66.335 9.14357C67.1068 9.88239 67.5393 10.888 67.6323 12.1605L67.6511 12.7747C67.6559 14.1526 67.2752 15.2607 66.509 16.0991C65.7427 16.9318 64.7121 17.3505 63.4172 17.3551C62.1223 17.3597 61.086 16.9483 60.3083 16.1209C59.5362 15.2936 59.1476 14.166 59.1426 12.7383L59.1422 12.6304ZM61.5417 12.7962C61.5447 13.6484 61.7075 14.3009 62.0301 14.7535C62.3526 15.2006 62.8127 15.4231 63.4104 15.421C63.9914 15.419 64.4444 15.196 64.7693 14.7522C65.0943 14.3028 65.255 13.5883 65.2515 12.6088C65.2486 11.7732 65.0831 11.1264 64.7549 10.6682C64.4268 10.21 63.9667 9.98201 63.3746 9.9841C62.788 9.98617 62.335 10.2174 62.0157 10.6779C61.6963 11.1328 61.5383 11.8389 61.5417 12.7962Z" fill="#E0E0E0"/>
      <path d="M71.3204 8.1797L71.3988 9.21702C72.0379 8.41235 72.897 8.00812 73.9761 8.00431C74.9279 8.00096 75.6372 8.27792 76.104 8.83519C76.5708 9.39247 76.8117 10.2272 76.8267 11.3395L76.8472 17.1417L74.4483 17.1502L74.428 11.4061C74.4262 10.8969 74.3142 10.5293 74.0921 10.3032C73.8699 10.0716 73.5015 9.95668 72.9869 9.9585C72.3117 9.96088 71.8064 10.2504 71.4709 10.8271L71.4932 17.1606L69.0943 17.169L69.0626 8.18766L71.3204 8.1797Z" fill="#E0E0E0"/>
      <path d="M83.8779 17.1169C83.7665 16.9015 83.6853 16.6334 83.6343 16.3126C83.0556 16.9621 82.3013 17.2885 81.3717 17.2918C80.4918 17.2949 79.7604 17.0429 79.1776 16.5358C78.6003 16.0287 78.3102 15.3878 78.3075 14.6131C78.3042 13.6613 78.653 12.9296 79.354 12.418C80.0605 11.9064 81.0806 11.6455 82.4142 11.6352L83.5182 11.6313L83.5164 11.1167C83.5149 10.7016 83.4059 10.37 83.1892 10.1217C82.978 9.87346 82.6428 9.75012 82.1835 9.75175C81.7795 9.75317 81.4616 9.85113 81.2299 10.0456C81.0037 10.2401 80.8912 10.5061 80.8924 10.8437L78.4935 10.8522C78.4916 10.332 78.6504 9.84998 78.9698 9.40614C79.2892 8.96231 79.7418 8.61484 80.3275 8.36375C80.9132 8.10713 81.5712 7.97753 82.3017 7.97495C83.4085 7.97105 84.2866 8.24741 84.936 8.80404C85.5909 9.35512 85.9202 10.1342 85.9237 11.1414L85.9375 15.0344C85.946 15.8866 86.0673 16.5309 86.3012 16.9672L86.3017 17.1084L83.8779 17.1169ZM81.8881 15.4555C82.2423 15.4542 82.5685 15.3756 82.8668 15.2196C83.1651 15.0581 83.3857 14.8442 83.5286 14.5781L83.5232 13.0341L82.6267 13.0373C81.4258 13.0415 80.7882 13.4588 80.7136 14.2892L80.7058 14.4303C80.7069 14.7292 80.8129 14.975 81.0238 15.168C81.2348 15.3609 81.5229 15.4567 81.8881 15.4555Z" fill="#E0E0E0"/>
      <path d="M90.8434 2.5L90.6279 8.1116L92.1636 8.10619L92.1698 9.86594L90.6341 9.87136L90.6499 14.3538C90.6511 14.6858 90.7156 14.9235 90.8434 15.0669C90.9712 15.2104 91.2149 15.2815 91.5746 15.2802C91.8402 15.2792 92.0753 15.259 92.28 15.2196L92.2864 17.0374C91.8165 17.183 91.3325 17.2566 90.8345 17.2584C89.1522 17.2643 88.2915 16.4179 88.2523 14.7191L88.2352 9.87982L86.9237 9.88444L86.9175 8.12469L88.229 8.12006L88.2212 5.91207L90.8434 2.5Z" fill="#E0E0E0"/>
      <path d="M96.0634 17.0739L93.6562 17.0824L93.6245 8.10103L96.0317 8.09254L96.0634 17.0739ZM93.4752 5.77733C93.4739 5.41763 93.5918 5.12115 93.829 4.88789C94.0716 4.65461 94.4005 4.53724 94.8155 4.53578C95.225 4.53433 95.5519 4.64939 95.7962 4.88095C96.0406 5.11251 96.1633 5.40814 96.1646 5.76784C96.1659 6.13307 96.0424 6.43234 95.7942 6.66564C95.5516 6.89892 95.2282 7.01627 94.8243 7.01769C94.4203 7.01912 94.0934 6.90406 93.8436 6.67252C93.5993 6.44096 93.4765 6.14256 93.4752 5.77733Z" fill="#E0E0E0"/>
      <path d="M97.6576 12.4946C97.6544 11.6036 97.8232 10.8089 98.1638 10.1104C98.5045 9.41196 98.9951 8.87067 99.6356 8.48658C100.282 8.10246 101.031 7.9089 101.883 7.90589C103.095 7.90162 104.084 8.2689 104.85 9.00774C105.622 9.74656 106.055 10.7522 106.148 12.0247L106.166 12.6389C106.171 14.0168 105.791 15.1249 105.024 15.9632C104.258 16.796 103.227 17.2147 101.933 17.2193C100.638 17.2238 99.6014 16.8124 98.8237 15.9851C98.0516 15.1577 97.663 14.0302 97.658 12.6025L97.6576 12.4946ZM100.057 12.6604C100.06 13.5126 100.223 14.165 100.545 14.6177C100.868 15.0648 101.328 15.2873 101.926 15.2852C102.507 15.2831 102.96 15.0602 103.285 14.6163C103.61 14.1669 103.77 13.4525 103.767 12.473C103.764 11.6374 103.598 10.9905 103.27 10.5324C102.942 10.0742 102.482 9.84617 101.89 9.84826C101.303 9.85033 100.85 10.0816 100.531 10.542C100.212 10.9969 100.054 11.7031 100.057 12.6604Z" fill="#E0E0E0"/>
      <path d="M109.914 7.16364V9.08119C110.553 8.27652 111.412 7.87228 112.491 7.86848C113.443 7.86512 114.153 8.14208 114.619 8.69936C115.086 9.25663 115.327 10.0914 115.342 11.2037L115.363 15.5601L112.964 17.0143L112.943 11.2702C112.942 10.7611 112.83 10.3935 112.607 10.1674C112.385 9.93576 112.017 9.82085 111.502 9.82266C110.827 9.82504 110.322 10.1146 109.986 10.6913L110.009 17.0248L107.61 17.0332L107.578 9.40614L109.914 7.16364Z" fill="#E0E0E0"/>
      </svg>
      <!-- <img class="nav-bar-logo" src="/logo5small.png" width="35px" height="35px" alt="">
      <p class="ml-1 align-self-center">Ask 4 Donation</p> -->
    </div>

    <div class="content">
      <div class="card-location">
        {{> cards data}}
      </div>

      <div class="card-description">
        <h6>Note</h6>
        <p style="">{{data.story}}</p>
        <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p> -->
        <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p> -->
        <h6>My Details</h6>
        <p>{{data.sponsorName}}</p>
        <p>{{data.sponsorEmail}}</p>
        <p>{{data.sponsorMob}}</p>
        {{#if (unlocked paidByMe addedByMe)}}
        <p>{{data.sponsorAddress}}</p>
        {{/if}}
        <h6>iNet Banking Details</h6>
        <p>Title: {{data.sponsorName}}</p>
        <p>Bank: {{data.sponsorAccountBank}}</p>
        <p>Account No: {{data.sponsorAccountNo}}</p>
        {{#if data.sponsorOtherMeans}}
        <h6>Other Means of cash delivery</h6>
        <p>Jazz Cash: </p>
        <p>Easy Paisa: 12341323213</p>
        {{/if}}
        <h6>or</h6>
        <a class="donate-btn" type="button" name="button" href="/signin/due">Donate through Credit Card</a>
        <h6>Added at</h6>
        <p>{{getTimeFromId data._id}}</p>
      </div>
    </div>



    <script src="https://code.jquery.com/jquery-3.3.1.min.js"  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="  crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.7/jquery.validate.min.js"></script>
    <script type="text/javascript" src="/javascript.js"></script>
    <script type="text/javascript" src="https://apis.google.com/js/platform.js?onload=renderButton" defer async>

    </script>

    <script type="text/javascript">



    </script>
  </body>
</html>
