<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800,900&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="  crossorigin="anonymous"></script>

    <link rel="stylesheet" href="/styles.css">

    <title>Zakat Lists</title>
  </head>
  <body>

    <div class="modal d-none d-flex flex-col align-items-center">
      <p class="text-white">Report an issue</p>
      <textarea class="my-2" type="text" name="" value="" placeholder="Submit an issue, I will get back to you soon. Thanks."></textarea>
      <div class="d-flex flex-row">
        <button class="btn btn-secondary" type="button" name="button">Submit</button>
        <button class="close-modal btn btn-primary ml-point5" type="button" name="button">Close</button>
      </div>

    </div>
    <section id="hero">
      <div class="grid theme-gradient">
        <div class="item-1">
          <img src="/logo5.png" alt="">
        </div>
        <div class="item-2">
          <img src="/quotes.svg" width="116.67px" alt="">
          <p class="text-light">Eat from, and give the due alms on the day of harvest .
            <br><br>- Al Quran 6:141</p>
        </div>
        <div class="item-3 text-white">
          <div class="d-md-flex d-none flex-col justify-content-start">
            {{#if token}}
            <a class="nav-item my-1 text-light" href="/logout/{{token}}" onclick="signOut()">Sign out - {{name}}</a>
            <a class="nav-item my-1 text-light" href="#explore">Explore</a>
            <a class="nav-item my-1 text-light" href="/zakatcalc">Calculate zakat</a>
            <a class="nav-item my-1 text-light" href="/addpeople/{{token}}">Add people</a>
            {{else}}
            <a class="nav-item my-1 text-light" href="/signin/home">Sign in</a>
            <a class="nav-item my-1 text-light" href="#explore">Explore</a>
            <a class="nav-item my-1 text-light" href="/zakatcalc">Calculate zakat</a>
            <a class="nav-item my-1 text-light" href="/signin/addpeople">Add people</a>
            {{/if}}
          </div>
          <p class="text-brand text-light">Zakat Lists</p>
        </div>
        <div class="item-4 d-md-none">
          <img onclick="opennav()" id="nav-open-icon" src="/nav-icon.svg" alt="">
        </div>
      </div>

      <div class="nav-menu d-flex flex-col align-items-center justify-content-center theme-gradient">
        <img id="nav-close-icon" src="/nav-close-icon.svg" alt="" onclick="closenav()">
        {{#if token}}
        <a class="nav-item my-point5 text-light" href="/logout/{{token}}" onclick="signOut()">Sign out - {{name}}</a>
        <a class="nav-item my-point5 text-light" href="#explore">Explore</a>
        <a class="nav-item my-point5 text-light" href="/zakatcalc">Calculate zakat</a>
        <a class="nav-item my-point5 text-light" href="/addpeople/{{token}}">Add people</a>
        {{else}}
        <a class="nav-item my-point5 text-light" href="/signin/home">Sign in</a>
        <a class="nav-item my-point5 text-light" href="#explore">Explore</a>
        <a class="nav-item my-point5 text-light" href="/zakatcalc">Calculate zakat</a>
        <a class="nav-item my-point5 text-light" href="/signin/addpeople">Add people</a>
        {{/if}}
      </div>
    </section>

    <div class="nav-bar nav-bar-home bg-green ">
      <div class="container d-flex justify-content-between align-items-center">
        <div class="logo-area d-flex flex-row">
          <img class="ml-2 my-point5 nav-bar-logo" src="/logo5.png" width="42px" height="42px" alt="">
          <p class="ml-point5 align-self-center text-light">Zakat Lists</p>
        </div>
        <div class="d-md-flex justify-content-around mr-2 d-none">
          {{#if token}}
          <a class="text-light px-point5 align-self-center" href="/logout/{{token}}" onclick="signOut()">Sign out - {{name}}</a>
          <a class="text-light px-point5 align-self-center" href="#explore">Explore</a>
          <a class="text-light px-point5 align-self-center" href="/zakatcalc">Calculate zakat</a>
          <a class="text-light px-point5 align-self-center" href="/addpeople/{{token}}">Add people</a>
          <a href="/cart/{{token}}" class="text-light px-point5 align-self-center {{cart}}">Cart</a>
          {{else}}
          <a class="text-light px-point5 align-self-center" href="/signin/home">Sign in</a>
          <a class="text-light px-point5 align-self-center" href="#explore">Explore</a>
          <a class="text-light px-point5 align-self-center" href="/zakatcalc">Calculate zakat</a>
          <a class="text-light px-point5 align-self-center" href="/signin/addpeople">Add people</a>
          <a href="/signin/cart" class="text-light px-point5 align-self-center {{cart}}">Cart</a>
          {{/if}}
          <span class="cart-circle">1</span>
        </div>
        </div>
        <div class="d-md-none mr-2 d-flex align-items-center justify-content-center">
          <img onclick="opennav()" id="nav-open-icon" src="/nav-icon.svg" alt="">
        </div>
      </div>
    </div>

    <section id="content" class="container pt-md-2 pt-1 px-1 px-md-2">

      <p id="explore" class="text-brand text-green">Filter Lists</p>
      <div class="filter-btns d-flex flex-wrap justify-content-start align-items-center">
        <div class="d-flex justify-content-start overflow-scroll">
          <button data-target="all" class="btn btn-primary d-flex align-items-center" type="button" name="button">Show All <span class="ml-point5 badge bg-primary text-white">248</span> </button>
          <button data-target="my" class="btn btn-primary d-flex align-items-center ml-point5" type="button" name="button">My List <span class="ml-point5 badge bg-primary text-white">148</span> </button>
          <button data-target="done" class="btn btn-primary d-flex align-items-center ml-point5" type="button" name="button">Delivered <span class="ml-point5 badge bg-delivered text-white">28</span> </button>
          <button data-target="pending" class="btn btn-primary d-flex align-items-center ml-point5" type="button" name="button">Pending <span class="ml-point5 badge bg-pending text-white">18</span> </button>
          <button data-target="inprogress" class="btn btn-primary d-flex align-items-center ml-point5" type="button" name="button">In progress <span class="ml-point5 badge bg-inprogress text-white">81</span> </button>
          <button data-target="issue" class="btn btn-primary d-flex align-items-center ml-point5 mr-point5" type="button" name="button">Issues <span class="ml-point5 badge bg-issue text-white">8</span> </button>
        </div>

        <div class="d-flex justify-content-start border my-point5 search-bar flex-grow-1">
          <input class="form-control flex-grow-1" type="text" name="" value="" placeholder="Search">
          <img class="px-point5" src="/search-icon.svg" width="25px" alt="">
        </div>

      </div>

      <div class="content-grid pt-md-2 pt-1">

        {{#each data}}

          <div class="card card-{{this.cardClass}}">

            <div class="place-1 d-flex justify-content-start align-items-center">

              <span class="report-badge text-white mr-point5">{{this.cardClass}}</span>
              <!-- hide report badge DONE-->
              <span class="check-box card-select">
                <svg class="check-box" width="13" height="13" viewBox="0 0 15 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path class="check-box" d="M5.12512 8.04543L1.82387 5.5L0.699707 6.61625L5.12512 11.0417L14.6251 1.54166L13.5089 0.425415L5.12512 8.04543Z" fill="#C0C1C5"></path>
                </svg>
              </span>
              <!-- make fill blue and tick white DONE CHECK ONCE COMPLETED-->

            </div>

            <div class="place-2 text-right">
              <svg class="check-box" width="22" height="6" viewBox="0 0 22 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="3" cy="3" r="3" fill="#05386B"/>
                <circle cx="11" cy="3" r="3" fill="#05386B"/>
                <circle cx="19" cy="3" r="3" fill="#05386B"/>
              </svg>
            </div>
            <!-- circles updated DONE-->
            <div class="place-3">
              <div class="d-flex justify-content-start mt-1">
                <svg width="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M6.66659 13.3333V9.33333H9.33325V13.3333H12.6666V8H14.6666L7.99992 2L1.33325 8H3.33325V13.3333H6.66659Z" fill="#05386B"/>
                </svg>
                <svg width="16" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <g clip-path="url(#clip0)">
                  <path d="M7.04004 8.23827C7.3335 10.3347 8.29453 12.2943 9.76369 13.8226L11.628 12.9133C11.8567 12.8017 12.1284 12.8318 12.323 12.9834C12.9487 13.4597 13.668 13.8484 14.4496 14.1176C14.7963 14.2369 14.9823 14.6183 14.8629 14.965L14.1054 17.1649C13.9861 17.5116 13.6047 17.6975 13.258 17.5782C7.33909 15.5401 4.19387 9.09147 6.23193 3.17252C6.3513 2.82583 6.73263 2.63985 7.07932 2.75922L9.28553 3.51888C9.63222 3.63825 9.81821 4.01958 9.69883 4.36627C9.42752 5.1542 9.29314 5.95403 9.28328 6.74032C9.27665 6.98482 9.14157 7.21329 8.9043 7.32901L7.04004 8.23827Z" fill="#05386B"/>
                  </g>
                  <defs>
                  <clipPath id="clip0">
                  <rect width="16" height="16" fill="white" transform="translate(5.20898) rotate(19)"/>
                  </clipPath>
                  </defs>
                </svg>

              </div>
              <!-- change icon background to white DONE -->
              <p class="font-card">
                Earning <br class="d-md-none">
                <span class="report-badge text-white bg-pending">100 USD per Month</span><br>
                to support <br class="d-md-none">
                <span class="report-badge text-white bg-pending">9 Family Members.</span>
              </p>
              <!-- change texg to white and bg-pending to bg-white with text-green here DONE-->
            </div>
            <div class="place-4 d-flex justify-content-start">
              <svg viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M12.0001 5.33335H11.3334V4.00002C11.3334 2.16002 9.84008 0.666687 8.00008 0.666687C6.16008 0.666687 4.66675 2.16002 4.66675 4.00002V5.33335H4.00008C3.26675 5.33335 2.66675 5.93335 2.66675 6.66669V13.3334C2.66675 14.0667 3.26675 14.6667 4.00008 14.6667H12.0001C12.7334 14.6667 13.3334 14.0667 13.3334 13.3334V6.66669C13.3334 5.93335 12.7334 5.33335 12.0001 5.33335ZM8.00008 11.3334C7.26675 11.3334 6.66675 10.7334 6.66675 10C6.66675 9.26669 7.26675 8.66669 8.00008 8.66669C8.73341 8.66669 9.33341 9.26669 9.33341 10C9.33341 10.7334 8.73341 11.3334 8.00008 11.3334ZM10.0667 5.33335H5.93341V4.00002C5.93341 2.86002 6.86008 1.93335 8.00008 1.93335C9.14008 1.93335 10.0667 2.86002 10.0667 4.00002V5.33335Z" fill="#05386B"/>
              </svg>
              <span class="font-name">Name</span>
            </div>
            <!-- change locked icon to white and font-name to white DONE -->
            <div class="place-5 text-right">
              <span class="badge badge-secondary font-weight-bold">Q</span>
            </div>
            <!-- change Q to white DONE-->
            <div class="card-hover bg-pending text-light card-inactive">
              <svg width="16" viewBox="0 0 16 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M14 7H13V5C13 2.24 10.76 0 8 0C5.24 0 3 2.24 3 5V7H2C0.9 7 0 7.9 0 9V19C0 20.1 0.9 21 2 21H14C15.1 21 16 20.1 16 19V9C16 7.9 15.1 7 14 7ZM8 16C6.9 16 6 15.1 6 14C6 12.9 6.9 12 8 12C9.1 12 10 12.9 10 14C10 15.1 9.1 16 8 16ZM11.1 7H4.9V5C4.9 3.29 6.29 1.9 8 1.9C9.71 1.9 11.1 3.29 11.1 5V7Z" fill="#C0C1C5"/>
              </svg>
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M7.41 8.58997L12 13.17L16.59 8.58997L18 9.99997L12 16L6 9.99997L7.41 8.58997Z" fill="#C0C1C5"/>
              </svg>

              <p class="text-white">Contact details and Name will be visible after paying zakat.</p>
            </div>

            <div class="card-browser alpha60 d-none">
              <div class="d-flex align-items-end flex-col">
                <a  href="/updateperson" class="text-blue" type="button" name="button">Edit</a>
                <a class="text-blue" type="button" name="button">Delete</a>
                <a class="text-blue select-to-pay" type="button" name="button">Select to Pay Zakat</a>
                <a class="text-blue report-an-issue" type="button" name="button">Report an issue</a>
              </div>
            </div>

          </div>

          <script type="text/javascript">
            $('.place-1:eq(-1)').children('span:eq(0)').addClass('bg-'+`{{this.cardClass}}`.replace(/ /g,'').toLowerCase());
          </script>

        {{/each}}

      </div>

      <div class="subscription my-2 d-flex align-items-center flex-col">

        <button id="load-more" class="btn btn-primary d-flex align-items-center" type="button" name="button">Load More</button>
        <p class="text-green" style="margin-top:1rem">Subscribe to our newsletters and updates</p>

        <form id="subscribe-input" class="d-flex justify-content-start border" action="" method="">
          <input id="email" class="form-control flex-grow-1 text-center" type="text" name="email" value="" placeholder="your-email@some-thing.com">
          <button id="subscribe" class="btn btn-secondary d-flex align-items-center" type="button" name="button">Subscribe</button>
        </form>

      </div>


    </section>

    <section id="footer" class="mt-2 theme-gradient text-light">
      <div class="d-flex">
        <div class="d-md-block d-none mr-2">
          <img class="logo" src="/logo5.png" width="75px" alt="">
        </div>
        <div class="">
          <h3 class="">Foreword</h3>
          <p class="">I started this project to make zakat giving system easier. Organizations are not transparent. They don't tell us what they are doing with our money. Giving zakat to people directly and then recieving zakat delivery report on our cell phones is 'transparent'. Please retweet <a href="#" style="border-bottom:1px solid white">here</a> to make more people find it. </p>
        </div>
      </div>

      <div class="">
        <h3>Contact Me</h3>
        <p>zakatlists@gmail.com</p>
        <p>+92 323 5168638</p>
        <div class="d-block d-md-flex">

          <a href="https://facebook.com/qasimali22">
            <svg iam="facebook" active-color="#3B5998" width="35" height="35" viewBox="0 0 35 35" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="17.5" cy="17.5" r="17" stroke="#C0C1C5"/>
            <path d="M22.3447 19.125L22.8632 15.8674H19.621V13.7535C19.621 12.8623 20.0739 11.9936 21.526 11.9936H23V9.22008C23 9.22008 21.6624 9 20.3835 9C17.7134 9 15.9681 10.5602 15.9681 13.3847V15.8674H13V19.125H15.9681V27H19.621V19.125H22.3447Z" fill="#C0C1C5"/>
            </svg>
          </a>

          <a href="https://twitter.com/punch__lines">
            <svg iam="twitter" active-color="#1DA0F2" class="mx-point5" width="35" height="35" viewBox="0 0 35 35" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="17.5" cy="17.5" r="17" stroke="#C0C1C5"/>
            <path d="M25.1498 13.7383C25.1612 13.9023 25.1612 14.0664 25.1612 14.2305C25.1612 19.2344 21.4493 25 14.665 25C12.5749 25 10.6333 24.3789 9 23.3008C9.29697 23.3359 9.58247 23.3477 9.89086 23.3477C11.6155 23.3477 13.2031 22.75 14.4708 21.7305C12.849 21.6953 11.4898 20.6055 11.0216 19.1055C11.25 19.1406 11.4784 19.164 11.7183 19.164C12.0495 19.164 12.3807 19.1172 12.6891 19.0352C10.9987 18.6836 9.73094 17.1601 9.73094 15.3203V15.2734C10.222 15.5547 10.7932 15.7305 11.3984 15.7539C10.4048 15.0742 9.75379 13.914 9.75379 12.6015C9.75379 11.8984 9.9365 11.2539 10.2563 10.6914C12.0723 12.9883 14.802 14.4882 17.8629 14.6523C17.8058 14.3711 17.7716 14.0781 17.7716 13.7852C17.7716 11.6992 19.4162 10 21.4607 10C22.5228 10 23.4822 10.457 24.1561 11.1953C24.9898 11.0313 25.7893 10.7148 26.4975 10.2813C26.2233 11.1602 25.6409 11.8985 24.8756 12.3672C25.618 12.2852 26.3376 12.0742 27 11.7813C26.4975 12.5312 25.8693 13.1992 25.1498 13.7383Z" fill="#C0C1C5"/>
            </svg>
          </a>

          <a href="https://getmakerlog.com/@punch__lines">
            <svg iam="makerlog" active-color="#01B77A" class="" width="35" height="35" viewBox="0 0 35 35" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="17.5" cy="17.5" r="17" stroke="#C0C1C5"/>
            <path d="M14.4532 24.725L8.27824 18.6235C7.90725 18.2569 7.90725 17.6626 8.27824 17.296L9.62171 15.9684C9.99269 15.6018 10.5942 15.6018 10.9652 15.9684L15.125 20.0787L24.0348 11.2749C24.4058 10.9084 25.0073 10.9084 25.3783 11.2749L26.7218 12.6025C27.0927 12.969 27.0927 13.5634 26.7218 13.93L15.7968 24.7251C15.4257 25.0916 14.8242 25.0916 14.4532 24.725Z" fill="#C0C1C5"/>
            </svg>
          </a>

        </div>
      </div>



      <div class="copy-right d-flex align-items-center justify-content-between">
          <a class="d-none d-md-block" href="#">&copy; Zakat Lists</a>

          <div class="footer-btns d-flex flex-grow-1 flex-grow-md-0">
            <a href="/signin">Sign in</a>
            <a href="/zakatcalc">Calculate</a>
            <a href="/addpeople">Add People</a>
            <a class="d-md-block d-none" href="mailto:qasimali24@gmail.com">Contact</a>
          </div>
      </div>

      <div class="d-flex text-credits">
        <small>
          <span>Made with</span>
          <span class="px-point5">
            <svg active-color="#f90115" class="heart-icon" width="18" viewBox="0 0 25 22" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M22.5734 1.50428C19.8977 -0.78898 15.9183 -0.376488 13.4623 2.17213L12.5004 3.16898L11.5385 2.17213C9.08734 -0.376488 5.10304 -0.78898 2.42731 1.50428C-0.639037 4.13638 -0.800167 8.8604 1.94392 11.7135L11.392 21.5249C12.0023 22.1584 12.9935 22.1584 13.6039 21.5249L23.0519 11.7135C25.8009 8.8604 25.6398 4.13638 22.5734 1.50428Z" fill="#afafaf"/>
            </svg>
          </span>
          <span>by &nbsp</span>
          <a href="https://twitter.com/punch__lines">@punch__lines</a>
        </small>
      </div>

    </section>

    <script type="text/javascript" src="/javascript.js"></script>
    <script type="text/javascript" src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.7/jquery.validate.min.js"></script>

    <script type="text/javascript">

      $('.filter-btns .btn:eq(0)').addClass('active');
      updatecart();
      if ($('.card').length < 1) {$('#load-more').attr('disabled',true).html('No data found').css({border: 'none'});}

      $('.filter-btns .btn').on('click',function() {
        let filter = $(this).attr('data-target');
        if (filter == 'my') {$(this).addClass('active'); $('[data-target=all]').removeClass('active');}
        if (filter == 'all') {$(this).addClass('active'); $('[data-target=my]').removeClass('active');}
        $(this).not('[data-target=all],[data-target=my]').toggleClass('active');
        let allFilters = '';
        $.each($('.filter-btns .active'),(key,val) => {
          allFilters += $(val).attr('data-target') + ' ';
        })
        filterfn(allFilters);
      })

      function filterfn(order) {
        order = order.trim().split(' ');
        console.log(order);
        $(`.card`).hide();
        $.each(order,(key,val) => {
          $(`.card-${val}`).show();
        });
        if (order.length == 1) $(`.card`).show();
      }

      function updatecart() {
        console.log();
        if ($('.card-selected').length ) return $('.cart-circle').show().html($('.card-selected').length);
        $('.cart-circle').hide();
      }

      $(document).on('click','.select-to-pay',function() {
        $(this).closest('.card').find('.card-select').trigger('click');
      })

      $(document).on('click','.report-an-issue',function() {
        $('.modal').removeClass('d-none');
      })

      $(document).on('click','.close-modal',function() {
        $('.modal').addClass('d-none');
      })

      $('#load-more').on('click',function() {
        console.log('hello');
        let skip = $('.card').length;

        let data = {
          skip: skip,
        }

        console.log(data);

        $.ajax({
            url: '/loadmore',
            type: 'get',
            data,
            headers: {
                'content-type': 'application/json',
            }
          }).done((res) => {
            console.log(res);
            createcards(res);
            if (res.length < 12) $(this).attr('disabled',true).html('No more data found').css({border: 'none'});
          }).fail((e) => {
            console.log(e.responseText);
          });

      });

      function createcards(data) {
        $.each(data,(key,val) => {
          $('.card:eq(0)').clone().appendTo('.content-grid').removeClass('card-done card-pending card-issue card-inprogress').addClass(`card-${val.cardClass}`).find('span:eq(0)').removeClass('bg-done bg-pending bg-issue bg-inprogress').addClass(`bg-${val.cardClass}`);
        })
      };

      $(document).on('click','#subscribe',function(){

        if (!($("#subscribe-input").valid())) {

          return;

        }

        let data = {
          "query": 'subscription',
          "email": $('#subscribe-input input').val(),
        };

        data = JSON.stringify(data);

        $.ajax({
          url: '/signing',
          type: 'post',
          data,
          headers: {
              'content-type': 'application/json',
          }
        }).done((msg) => {
          console.log(msg);
          $('.success').show().html('Thank you, I will keep you updated.');
          $('button').attr('disabled',true);
        }).fail((e) => {
          $('.error').show().html(e.responseText);
          console.log(e.responseText);
        });
      });

      $("#subscribe-input").validate({

        rules: {
          'email' : {
            required: true,
            email: true
          }
        },
        messages: {
          'email' : {
            required: `Please enter your email address above`,
            email: `Email is invalid`,
          },
        },
        errorPlacement: function(error, element) {
          $('.error:not(input)').remove();
          error.appendTo('.subscription');
        },

      });


    </script>

  </body>
</html>
