<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    {{>googleAnalytics}}

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- HTML Meta Tags -->
    <title>Zakat Lists - Give, Calculate, Manage and Sponsor Zakats</title>
    <meta name="description" content="Zakat lists is a platform that lets you raise money for people in need of help around you. ">

    <!-- Google / Search Engine Tags -->
    <meta itemprop="name" content="Zakat Lists - Give, Calculate, Manage and Sponsor Zakats">
    <meta itemprop="description" content="Zakat lists is a platform that lets you raise money for people in need of help around you. ">
    <meta itemprop="image" content="https://www.zakatlists.com/meta-img.png">

    <!-- Facebook Meta Tags -->
    <meta property="og:url" content="https://www.zakatlists.com">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Zakat Lists - Give, Calculate, Manage and Sponsor Zakats">
    <meta property="og:description" content="Zakat lists is a platform that lets you raise money for people in need of help around you. ">
    <meta property="og:image" content="https://www.zakatlists.com/meta-img.png">

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Zakat Lists - Give, Calculate, Manage and Sponsor Zakats">
    <meta name="twitter:description" content="Zakat lists is a platform that lets you raise money for people in need of help around you. ">
    <meta name="twitter:image" content="https://www.zakatlists.com/meta-img.png">

    <!-- Meta Tags Generated via http://heymeta.com -->

    <link rel=icon href=/favicon.png>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800,900&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="  crossorigin="anonymous"></script>

    <link rel="stylesheet" href="/styles.css">
    <style media="screen">

      /* width */
      ::-webkit-scrollbar {
        /* width: 10px; */
      }

      /* Track */
      ::-webkit-scrollbar-track {
        background: white;
      }

      /* Handle */
      ::-webkit-scrollbar-thumb {
        background: #888;
      }

      /* Handle on hover */
      ::-webkit-scrollbar-thumb:hover {
        background: #555;
      }

      .modal-loading {
        position: absolute;
        width: 100vw;
        height: 100vh;
        left: 0;
        text-align: center;
        background: white;
        color: darkcyan;
        font-weight: bold;
        z-index: 1000;
      }

      a.disabled {
        border: 1px solid transparent;
        pointer-events: none;
      }
    </style>

  </head>
  <body>

      <div class="popover shadow"></div>

      <div class="corner-box">

      <div class="notification-box shadow my-point5">
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M12 2C6.48 2 2 6.48 2 12C2 17.52 6.48 22 12 22C17.52 22 22 17.52 22 12C22 6.48 17.52 2 12 2ZM13 17H11V11H13V17ZM13 9H11V7H13V9Z" fill="red"/>
        </svg>
        <p>Please sign in to perform this action.</p>
      </div>

      <div class="zakat-due-box shadow my-point5 d-none">
        <div class="d-flex align-items-center justify-content-between">
          <p>Due Zakat: 9.00 USD</p>
          <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
          <rect y="17.1097" width="24.1967" height="3" transform="rotate(-45 0 17.1097)" fill="whitesmoke"/>
          <rect x="2.12109" width="24.1967" height="3" transform="rotate(45 2.12109 0)" fill="whitesmoke"/>
          </svg>
        </div>
        <small class="d-block w-100">Calculated using <b><a href="/zakatcalc">zakat calculator</a></b></small>
      </div>

    </div>

    <div class="modal d-none d-flex flex-col align-items-center">
      <p class="text-white">Report an issue</p>
      <textarea class="my-2" type="text" name="" value="" placeholder="Submit an issue, I will get back to you soon. Thanks."></textarea>
      <div class="d-flex flex-row">
        <button class="btn btn-secondary" type="button" name="button">Submit</button>
        <button class="close-modal btn btn-primary ml-point5" type="button" name="button">Close</button>
      </div>

    </div>

    <section id="hero">
      <div class="grid theme-gradient">
        <div class="item-1">
          <img src="/logo5.png" alt="">
        </div>
        <div class="item-2">
          <img src="/quotes.svg" width="116.67px" alt="">
          <p class="text-light">Eat from their fruits, and give the due alms on the day of harvest .
            <br><br>- Al Quran 6:141
            <!-- <br><br>- zakatlists -->
          </p>
        </div>
        <div class="item-3 text-white">
          <div class="d-md-flex d-none flex-col justify-content-start">
            {{#if token}}
            <a class="nav-item my-1 text-light" href="/profile/{{token}}">{{name}}</a>
            <a class="nav-item my-1 text-light" href="/quranDaily">Quran Daily</a>
            <a class="nav-item my-1 text-light" href="/school/?pagerequest=stqa">School</a>
            <a class="nav-item my-1 text-light" href="/zakatcalc">Calculate zakat</a>
            <a class="nav-item my-1 text-light" href="/addpeople/?token={{token}}">Ask 4 Donation</a>
            <a class="nav-item my-1 text-light" href="/logout/{{token}}">Sign out</a>
            {{else}}
            <a class="nav-item my-1 text-light" href="/signin/home">Sign in</a>
            <a class="nav-item my-1 text-light" href="/quranDaily">Quran Daily</a>
            <a class="nav-item my-1 text-light" href="/school/?pagerequest=stqa">School</a>
            <a class="nav-item my-1 text-light" href="#explore">Explore</a>
            <a class="nav-item my-1 text-light" href="/zakatcalc">Calculate zakat</a>
            <a class="nav-item my-1 text-light" href="/signin/addpeople">Ask 4 Donation</a>
            {{/if}}
          </div>
          <p class="text-brand text-light">Zakat Lists</p>
        </div>
        <!-- OPEN NAV ICON  -->
        <div class="item-4 d-md-none">
          <img onclick="opennav()" id="nav-open-icon" src="/nav-icon.svg" alt="">
          <span class="due-circle" style="position: absolute;margin-top: -10px;">{{length due}}</span>
        </div>
      </div>


      <!-- OPEN MOBILE NAV ICON -->
      <div class="nav-menu d-flex flex-col align-items-center justify-content-center theme-gradient">
        <img id="nav-close-icon" src="/nav-close-icon.svg" alt="" onclick="closenav()">
        {{#if token}}
        <a class="nav-item my-point5 text-light" href="/profile/{{token}}">{{name}}</a>
        <a class="nav-item my-point5 text-light" href="/logout/{{token}}">Sign out</a>
        <a class="nav-item my-point5 text-light" href="/quranDaily">Quran Daily</a>
        <a class="nav-item my-point5 text-light" href="/school/?pagerequest=stqa">School</a>
        <a class="nav-item my-point5 text-light" href="/zakatcalc">Calculate zakat</a>
        <a class="nav-item my-point5 text-light" href="/addpeople/?token={{token}}">Ask 4 Donation</a>
        <a href="/due/?token={{token}}" class="nav-item my-point5 text-light">Due</a>
        {{else}}
        <a class="nav-item my-point5 text-light" href="/signin/home">Sign in</a>
        <a class="nav-item my-point5 text-light" href="#explore">Explore</a>
        <a class="nav-item my-point5 text-light" href="/quranDaily">Quran Daily</a>
        <a class="nav-item my-point5 text-light" href="/school/?pagerequest=stqa">School</a>
        <a class="nav-item my-point5 text-light" href="/zakatcalc">Calculate zakat</a>
        <a class="nav-item my-point5 text-light" href="/signin/addpeople">Ask 4 Donation</a>
        <a href="/signin/due" class="nav-item my-point5 text-light">Due</a>
        {{/if}}
        <span class="due-circle" style="margin-top: -37px;margin-right: -60px;">{{length due}}</span>
      </div>
    </section>


    <!-- NAV BAR -->
    <div class="nav-bar nav-bar-home bg-green d-flex">
      <div class="container flex-grow-1 d-flex justify-content-between align-items-center">
        <div class="logo-area d-flex flex-row">
          <img class="ml-1 my-point5 nav-bar-logo" src="/logo5small.png" width="35px" height="35px" alt="">
          <p class="ml-1 align-self-center text-light">Zakat Lists</p>
        </div>
        <div class="d-md-flex justify-content-around mr-2 d-none">
          {{#if token}}
          <a class="text-light px-point5 align-self-center" href="/profile/{{token}}">{{name}}</a>
          <a class="text-light px-point5 align-self-center" href="/logout/{{token}}" >Sign out</a>
          <a class="text-light px-point5 align-self-center" href="/zakatcalc">Calculate zakat</a>
          <a class="text-light px-point5 align-self-center" href="/quranDaily">Quran Daily</a>
          <a class="text-light px-point5 align-self-center" href="/addpeople/?token={{token}}">Ask 4 Donation</a>
          <a href="/due/?token={{token}}" class="text-light px-point5 align-self-center {{length due}}">Due</a>
          {{else}}
          <a class="text-light px-point5 align-self-center" href="/signin/home">Sign in</a>
          <a class="text-light px-point5 align-self-center" href="/quranDaily">Quran Daily</a>
          <a class="text-light px-point5 align-self-center" href="#explore">Explore</a>
          <a class="text-light px-point5 align-self-center" href="/zakatcalc">Calculate zakat</a>
          <a class="text-light px-point5 align-self-center" href="/signin/addpeople">Ask 4 Donation</a>
          <a href="/signin/due" class="text-light px-point5 align-self-center {{length due}}">Due</a>
          {{/if}}
          <span class="due-circle">{{length due}}</span>
        </div>
        </div>
        <!-- OPEN MOBILE NAV ICON -->
        <div class="d-md-none mr-2 d-flex align-items-center justify-content-center">
          <img onclick="opennav()" id="nav-open-icon" src="/nav-icon.svg" alt="">
          <span class="due-circle" style="position: absolute;margin-top: -9px;margin-left: 13px;">{{length due}}</span>
        </div>
      </div>
    </div>

    <section id="content" class="container pt-md-2 pt-1 px-1 px-md-2">

      <p id="explore" class="text-brand text-green">Filter Lists</p>
      <div data-show="showFilterBtns" id="filter-btns" class="filter-btns d-flex flex-wrap justify-content-start align-items-center">
        {{>filterBtns}}
      </div>

      <style media="screen">

        @media (max-width: 700px) {
          .sponsors {
            padding: 8px 0px 8px 8px;
            margin-left: -13px;
          }
        }

        .sponsors {
          display: flex;
          flex-wrap: wrap;
          padding: 8px 0px 8px 8px;
          margin-left: -8px;
          margin-right: 13px;
          max-height: 20vh;
          overflow: scroll;
        }

        .s_card {
          padding: 24px 18px 26px 21px;
          min-width: fit-content;
          border-radius: 2px;
          margin-right: 8px;
          margin-bottom: 8px;
          background: #FFFFFF;
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);

          transition: background 0.15s ease-in-out, color 0.15s ease-in-out;
          color: darkcyan;
        }

        .s_card:hover {
          background: darkcyan;
          color: white;
          cursor: pointer;
        }

        .s_card > p:nth-child(1) {
          /* h5 */
          font-family: Montserrat;
          font-style: normal;
          font-weight: bold;
          font-size: 18px;
          line-height: 26px;
          /* identical to box height */

          /* theme-green */
          display: flex;
          align-items: center;
        }

        .s_card svg:nth-child(1) {
          padding: 0px 8px 3px 8px;
          flex-grow: 1;
          width: 17px;
        }

        .s_card > p:nth-child(2) {
          /* p */
          font-family: Montserrat;
          font-style: normal;
          font-weight: 500;
          font-size: 18px;
          line-height: 22px;
        }

        .s_card svg:nth-child(3) {
          margin-left: -6px;
        }
      </style>

      <div class="sponsors">

        {{#each count.Sponsors}}

        <div class="s_card {{matchWithCaller caller _id}}" data-target="{{_id}}">
          <p>
            {{smallName name}}
            {{#if verified}}
            <svg class="info-circle" my-data="Verified by zakatlists. Zakatlists gurentees delivery to people added by this sponsor." width="17" height="21" viewBox="0 0 17 21" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M8.5 0L0 3.77774V9.44436C0 14.686 3.62667 19.5876 8.5 20.7776C13.3733 19.5876 17 14.686 17 9.44436V3.77774L8.5 0ZM6.61111 15.111L2.83333 11.3332L4.165 10.0016L6.61111 12.4382L12.835 6.21439L14.1667 7.55549L6.61111 15.111Z" fill="#F76963"/>
            </svg>
            {{/if}}
          </p>
          <p>{{sponsored}} Persons</p>
          <div class="flag" style='background-image: url(/flag/{{flag}}.svg)'>
          </div>

        </div>


        {{/each}}


      </div>



      <div class="filter-badges d-flex justify-content-start flex-wrap align-items-center my-1">
        <p linked-data="all" id="all-badge" class="">Show All <span>x</span> </p>
        <p linked-data="my" id="my-badge" class="d-none">My Lists <span>x</span> </p>
        <p linked-data="delivered" id="delivered-badge" class="d-none">Delivered <span>x</span> </p>
        <p linked-data="pending" id="pending-badge" class="d-none">Pending <span>x</span> </p>
        <p linked-data="inprogress" id="inprogress-badge" class="d-none">In progress <span>x</span> </p>
        <p id="active_sponsor" style="
            background: white;
            color: darkcyan;
        " class="{{checkActiveSponsor count.Sponsors.[0]}}">by</p>
        {{#each count.Sponsors}}
          {{#if (matchWithCaller caller _id)}}
            <p linked-data="{{_id}}" id="{{_id}}-badge" class="">{{smallName name}}<span>x</span> </p>
          {{else}}
            <p linked-data="{{_id}}" id="{{_id}}-badge" class="d-none">{{smallName name}}<span>x</span> </p>
          {{/if}}
        {{/each}}
      </div>


      <div data-show="showAllCards" id="all-data-here" class="encloser pt-md-0 pt-1">

        <div class="content-grid">

        {{#each data}}

          {{>cards token=../token}}

        {{/each}}

        </div>

        {{{loadMore query count.leftBehind}}}

      </div>

      <div data-show="showMyCards" id="my-data-here" class="encloser pt-md-0 pt-1"></div>

      <div class="subscription my-2 d-flex align-items-center flex-col">

        <p class="text-green" style="margin-top:1rem">Subscribe to our newsletters and updates</p>

        <form id="subscribe-input" class="d-flex justify-content-start border" action="" method="">
          <input id="email" class="form-control flex-grow-1 text-center" type="text" name="email" value="" placeholder="your-email@some-thing.com">
          <button id="subscribe" class="btn btn-secondary d-flex align-items-center" type="button" name="button">Subscribe</button>
        </form>

      </div>


    </section>

    <section id="footer" class="mt-2 theme-gradient text-light">
      <div class="d-flex">
        <div class="d-md-block d-none mr-2">
          <img class="logo" src="/logo5.png" width="75px" alt="">
        </div>
        <div class="">
          <h3 class="">Foreword</h3>
          <p class="">I started this project to make zakat giving system easier. Most systems are difficult to rely upon. They don't tell us what they are doing and how they are processing charities. Giving zakat to people directly and then recieving zakat delivery report on our cell phones is 'transparent'. I am looking for people who want to help. Please share it with your friends. </p>
        </div>
      </div>

      <div class="">
        <h3>Contact Me</h3>
        <a href="mailto:contact@zakatlists.com" style="
          font-weight: normal;
          padding-top: 1rem;
          display: block;
      " onclick="">contact@zakatlists.com</a>
        <p>+92 323 5168638</p>
        <div class="d-block d-md-flex">

          <a href="https://facebook.com/qasimali22">
            <svg iam="facebook" active-color="#3B5998" width="35" height="35" viewBox="0 0 35 35" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="17.5" cy="17.5" r="17" stroke="#C0C1C5"/>
            <path d="M22.3447 19.125L22.8632 15.8674H19.621V13.7535C19.621 12.8623 20.0739 11.9936 21.526 11.9936H23V9.22008C23 9.22008 21.6624 9 20.3835 9C17.7134 9 15.9681 10.5602 15.9681 13.3847V15.8674H13V19.125H15.9681V27H19.621V19.125H22.3447Z" fill="#C0C1C5"/>
            </svg>
          </a>

          <a href="https://twitter.com/punch__lines">
            <svg iam="twitter" active-color="#1DA0F2" class="mx-point5" width="35" height="35" viewBox="0 0 35 35" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="17.5" cy="17.5" r="17" stroke="#C0C1C5"/>
            <path d="M25.1498 13.7383C25.1612 13.9023 25.1612 14.0664 25.1612 14.2305C25.1612 19.2344 21.4493 25 14.665 25C12.5749 25 10.6333 24.3789 9 23.3008C9.29697 23.3359 9.58247 23.3477 9.89086 23.3477C11.6155 23.3477 13.2031 22.75 14.4708 21.7305C12.849 21.6953 11.4898 20.6055 11.0216 19.1055C11.25 19.1406 11.4784 19.164 11.7183 19.164C12.0495 19.164 12.3807 19.1172 12.6891 19.0352C10.9987 18.6836 9.73094 17.1601 9.73094 15.3203V15.2734C10.222 15.5547 10.7932 15.7305 11.3984 15.7539C10.4048 15.0742 9.75379 13.914 9.75379 12.6015C9.75379 11.8984 9.9365 11.2539 10.2563 10.6914C12.0723 12.9883 14.802 14.4882 17.8629 14.6523C17.8058 14.3711 17.7716 14.0781 17.7716 13.7852C17.7716 11.6992 19.4162 10 21.4607 10C22.5228 10 23.4822 10.457 24.1561 11.1953C24.9898 11.0313 25.7893 10.7148 26.4975 10.2813C26.2233 11.1602 25.6409 11.8985 24.8756 12.3672C25.618 12.2852 26.3376 12.0742 27 11.7813C26.4975 12.5312 25.8693 13.1992 25.1498 13.7383Z" fill="#C0C1C5"/>
            </svg>
          </a>

          <a href="https://getmakerlog.com/@punch__lines">
            <svg iam="makerlog" active-color="#01B77A" class="" width="35" height="35" viewBox="0 0 35 35" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="17.5" cy="17.5" r="17" stroke="#C0C1C5"/>
            <path d="M14.4532 24.725L8.27824 18.6235C7.90725 18.2569 7.90725 17.6626 8.27824 17.296L9.62171 15.9684C9.99269 15.6018 10.5942 15.6018 10.9652 15.9684L15.125 20.0787L24.0348 11.2749C24.4058 10.9084 25.0073 10.9084 25.3783 11.2749L26.7218 12.6025C27.0927 12.969 27.0927 13.5634 26.7218 13.93L15.7968 24.7251C15.4257 25.0916 14.8242 25.0916 14.4532 24.725Z" fill="#C0C1C5"/>
            </svg>
          </a>

        </div>
      </div>



      <div class="copy-right d-flex align-items-center justify-content-between">
          <a class="d-none d-md-block" href="#">&copy; Zakat Lists</a>

          <div class="footer-btns d-flex flex-grow-1 flex-grow-md-0">
            <a href="/signin">Sign in</a>
            <a href="/zakatcalc">Calculate</a>
            <a href="/addpeople">Ask 4 Donation</a>
            <a id="mailto" class="d-md-block d-none" href="mailto:contact@zakatlists.com">Contact</a>
          </div>
      </div>

      <div class="d-flex text-credits">
        <small>
          <span>Made with</span>
          <span class="px-point5">
            <svg active-color="#f90115" class="heart-icon" width="18" viewBox="0 0 25 22" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M22.5734 1.50428C19.8977 -0.78898 15.9183 -0.376488 13.4623 2.17213L12.5004 3.16898L11.5385 2.17213C9.08734 -0.376488 5.10304 -0.78898 2.42731 1.50428C-0.639037 4.13638 -0.800167 8.8604 1.94392 11.7135L11.392 21.5249C12.0023 22.1584 12.9935 22.1584 13.6039 21.5249L23.0519 11.7135C25.8009 8.8604 25.6398 4.13638 22.5734 1.50428Z" fill="#afafaf"/>
            </svg>
          </span>
          <span>by &nbsp</span>
          <a href="https://twitter.com/punch__lines">@punch__lines</a>
        </small>
      </div>

    </section>


    <a data-pjax="#all-data-here" id="showAllCards" href=''></a>
    <a data-pjax="#my-data-here" id="showMyCards" href=''></a>

    <script type="text/javascript" src="/javascript.js"></script>
    <script type="text/javascript" src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.7/jquery.validate.min.js"></script>
    <script type="text/javascript" src="/jquery.pjax.js"></script>
    <script src="/reload/reload.js"></script>

    <script type="text/javascript">

      $(document).on('pjax:send', function() {
        // $('.modal-loading').removeClass('d-none');
      });

      $(document).on('pjax:complete', function() {
        // $('.modal-loading').addClass('d-none');
      });

      $(document).ready(function() {

        {{#if currency}}
          // $('.filter-btns .btn:eq(0)').addClass('active').trigger('click');
        {{else}}
          console.log('performing request to get local currency');
          doajax('https://json.geoiplookup.io/','get').then((res) => {
            console.log(res);
            let data = {
              query : "create-currency-session",
              msg: res.currency_code,
            };
            data = JSON.stringify(data);
            let headers = {
                'content-type': 'application/json',
            };
            return doajax('/signing','post',headers,data);
          }).then((msg) => {
            console.log(msg);
            $('.filter-btns .btn:eq(0)').addClass('active').trigger('click');
          }).catch((e) => {
            // $('.notification-box').css({opacity:1}).find('p').html('Geo IP Lookup: ' + JSON.parse(e.responseText).error);
            console.log(e);
          });
        {{/if}}

        {{#each dueIds}}
          console.log(`{{this}}`);
        {{/each}}

      });

      let doajax = function(url,type,headers,datastringified) {
        return new Promise(function(resolve, reject) {
          $.ajax({
              url: url,
              type: type,
              data: datastringified,
              headers: headers,
          }).done((msg) => {
            resolve(msg);
          }).fail((error) => {
            reject(error);
          });
        });
      }

      $('a[data-pjax]').pjax();
      $.pjax.defaults.timeout = 10000000;
      $.pjax.defaults.scrollTo = false;
      // $.pjax.defaults.push = false;

      function deleteMe(elem,id) {

        console.log($(elem));

        let data = {
          query : "deleteMe",
          id : id,
          token: `{{token}}`,
        }

        data = JSON.stringify(data);

        console.log(data);

        $.ajax({
            url: '/signing',
            type: 'post',
            data,
            headers: {
                'content-type': 'application/json',
            }
          }).done((res) => {
            console.log(res);
            $(elem).closest('.card').remove();
            $('.notification-box').addClass('opacity-1').find('p').html('Deleted 1 person!');
            setTimeout(function() {
              $('.notification-box').css({opacity: 0}).removeClass('opacity-1');
            }, 3000);
          }).fail((e) => {
            console.log(e.responseText);
            $('.notification-box').addClass('opacity-1').find('p').html(e.responseText);
            setTimeout(function() {
              $('.notification-box').css({opacity: 0}).removeClass('opacity-1');
            }, 3000);
          });
      }

      // $('.s_card').on('click', () => {
      //   // $('.filter-btns .btn:eq(0)').addClass('active').trigger('click');
      // })

      $('.filter-btns .btn, .s_card').on('click',function() {

        console.log('filter btn clicked');
        let filter = $(this).attr('data-target');
        if (filter == 'my') {$(this).addClass('active'); $('[data-target=all]').removeClass('active');}
        if (filter == 'all') {$(this).addClass('active'); $('[data-target=my]').removeClass('active');}
        $(this).not('[data-target=all],[data-target=my]').toggleClass('active');

        let allFilters = '';
        $.each($('.filter-btns .active, .s_card.active'),(key,val) => {
          allFilters += $(val).attr('data-target') + ' ';
        })

        console.log(allFilters);

        {{#unless token}}
        if (allFilters.indexOf('my') != -1) {
          let html = `<h2 class="w-100 text-center" style="
              font-size: 91%;
              color: brown;
          ">You are not signed in. Please sign in to make this request.</h2>`

          $('#all-data-here').html(html);
          return console.log('not signed in');
        }
        {{/unless}}

        filterfn(allFilters);
      })

      function filterfn(order) {

        $('.filter-badges').children().addClass('d-none');

        order = order.trim().split(' ');

        $.each(order,(key,val) => {
          $(`#${val}-badge`).removeClass('d-none'); //TODO: make badges for each sponsor
        });

        let type = order.shift();

        let str = order.reduce((total,val,key,arr) => {
          if (val.length < 15) return total += val + '|';
          return total += '';
        },'');

        let user = order.filter((val,index,arr) => {
          return val.length > 15;
        }).reduce((total, val) => {
          return total += val + ',';
        },'');

        if (user.length > 1) $('#active_sponsor').removeClass('d-none');


        var expression = str.slice(0,str.length-1);
        if (expression.length < 1) expression = 'pending|delivered|inprogress';

        let skip = $('.cards').not('.d-none').length + 12;

        if (type == 'all') {
          $('.sponsors').removeClass('d-none');
          $('#my-data-here').addClass('d-none').children().remove();
          $('#all-data-here').removeClass('d-none')
          if ('{{token}}'.length > 2) {
            $('#showAllCards').attr({href:`/home/?type=All&token={{token}}&showQty=${skip}&expression=${expression}&user=${user}`}).trigger('click');
          } else {
            $('#showAllCards').attr({href:`/?showQty=${skip}&expression=${expression}&user=${user}`}).trigger('click');
          }

          $.ajax({
              url: '/getFullCount',
              type: 'get',
              headers: {
                  'content-type': 'application/json',
              }
            }).done((res) => {
              console.log(res);
              $.each(res,(key,val) => {
                $(`#count-${key}`).html(val);
              })
            }).fail((e) => {
              console.log(e.responseText);
            });

            {{#if token}}
            $.ajax({
                url: '/getCount?token={{token}}',
                type: 'get',
                headers: {
                    'content-type': 'application/json',
                }
              }).done((res) => {
                $(`#count-myTotal`).html(res.myTotal);
                console.log(res);
              }).fail((e) => {
                console.log(e.responseText);
              });
            {{/if}}
          return;
        }

        if (type == 'my') {
          $('.sponsors').addClass('d-none');
          $('#all-data-here').addClass('d-none').children().remove();
          $('#my-data-here').removeClass('d-none')
          $('#showMyCards').attr({href:`/home/?token={{token}}&type=${type}&showQty=${skip}&expression=${expression}&people=both`}).trigger('click');
          console.log({href: $('#showMyCards').attr('href')});

          $.ajax({
              url: '/getCount?token={{token}}',
              type: 'get',
              headers: {
                  'content-type': 'application/json',
              }
            }).done((res) => {
              console.log(res);
              $.each(res,(key,val) => {
                $(`#count-${key}`).html(val);
              })
            }).fail((e) => {
              console.log(e.responseText);
            });
        }

      };

      $(document).on('click','.filter-badges span',function() {
        let removeFilter = $(this).closest('p').attr('linked-data');
        console.log(removeFilter);
        $(`[data-target=${removeFilter}]`).trigger('click');
      })

      function updatedue(id,type) {

        console.log($('.card-selected').length);

        if ($('.card-select').length < 1) return $('.due-circle').hide();

        let data = {
          query: 'update-due',
          type: type,
          due: id,
        };

        console.log(data);
        data = JSON.stringify(data);

        $.ajax({
            url: '/signing',
            type: 'post',
            data,
            headers: {
                'content-type': 'application/json',
            }
          }).done((res) => {
            console.log('item added successful');
            $('.due-circle').show().html(res.length);
          }).fail((e) => {
            console.log(e.responseText);
          });

      }

      $(document).on('click','.select-to-pay',function() {
        $(this).closest('.card').find('.card-select').trigger('click');
      })

      $(document).on('click','.report-an-issue',function() {
        $('.modal').removeClass('d-none');
      })

      $(document).on('click','.close-modal',function() {
        $('.modal').addClass('d-none');
      })

      $(document).on('click','.load-more',function() {
        let idoflink = $(this).attr('encloser');
        let pjaxlink = $(this).attr('my_href');
        $(`#${idoflink}`).attr({href: pjaxlink}).trigger('click');
      });

      function createcards(data) {
        $.each(data,(key,val) => {
          $('.card:eq(0)').clone().appendTo('.content-grid').removeClass('card-done card-pending card-issue card-inprogress').addClass(`card-${val.cardClass}`).attr({id: val._id}).find('span:eq(0)').removeClass('bg-done bg-pending bg-issue bg-inprogress').addClass(`bg-${val.cardClass}`);

          {{#each dueIds}}
          if (val._id == `{{this}}`) {
            console.log(val._id, `{{this}}`);
            return changeCardState($(`#{{this}}`));
          };
          {{/each}}

        })
      };

      $(document).on('click','#subscribe',function(){

        if (!($("#subscribe-input").valid())) {

          return;

        }

        let data = {
          "query": 'subscription',
          "email": $('#subscribe-input input').val(),
        };

        data = JSON.stringify(data);

        $.ajax({
          url: '/signing',
          type: 'post',
          data,
          headers: {
              'content-type': 'application/json',
          }
        }).done((msg) => {
          console.log(msg);
          $('.success').show().html('Thank you, I will keep you updated.');
          $('button').attr('disabled',true);
        }).fail((e) => {
          $('.error').show().html(e.responseText);
          console.log(e.responseText);
        });
      });

      $("#subscribe-input").validate({

        rules: {
          'email' : {
            required: true,
            email: true
          }
        },
        messages: {
          'email' : {
            required: `Please enter your email address above`,
            email: `Email is invalid`,
          },
        },
        errorPlacement: function(error, element) {
          $('.error:not(input)').remove();
          error.appendTo('.subscription');
        },

      });


    </script>

  </body>
</html>
