<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Primary Meta Tags -->
    <title>Zakat Lists - Give, Calculate, Manage and Sponsor Zakats</title>
    <meta name="title" content="Zakat Lists - Give, Calculate, Manage and Sponsor Zakats">
    <meta name="description" content="Zakatlists is a non-profit platform that lets you give zakat directly to people while seeing their monthly income and dependant family members while ensuring people's privacy. You can also sponsor people in your native area to receive and distribute zakats yourself.">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://www.zakatlists.com/">
    <meta property="og:title" content="Zakat Lists - Give, Calculate, Manage and Sponsor Zakats">
    <meta property="og:description" content="Zakatlists is a non-profit platform that lets you give zakat directly to people while seeing their monthly income and dependant family members while ensuring people's privacy. You can also sponsor people in your native area to receive and distribute zakats yourself.">
    <meta property="og:image" content="/meta-img.png">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://www.zakatlists.com/">
    <meta property="twitter:title" content="Zakat Lists - Give, Calculate, Manage and Sponsor Zakats">
    <meta property="twitter:description" content="Zakatlists is a non-profit platform that lets you give zakat directly to people while seeing their monthly income and dependant family members while ensuring people's privacy. You can also sponsor people in your native area to receive and distribute zakats yourself.">
    <meta property="twitter:image" content="/meta-img.png">

    <link rel=icon href=/favicon.png>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800,900&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="  crossorigin="anonymous"></script>

    <link rel="stylesheet" href="/styles.css">
    <style media="screen">

    </style>

    <title>Zakat Lists</title>
  </head>
  <body>

    <div class="corner-box">

      <div class="notification-box shadow my-point5">
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M12 2C6.48 2 2 6.48 2 12C2 17.52 6.48 22 12 22C17.52 22 22 17.52 22 12C22 6.48 17.52 2 12 2ZM13 17H11V11H13V17ZM13 9H11V7H13V9Z" fill="red"/>
        </svg>
        <p>Please sign in to perform this action.</p>
      </div>

      <div class="zakat-due-box shadow my-point5 d-none">
        <div class="d-flex align-items-center justify-content-between">
          <p>Due Zakat: 9.00 USD</p>
          <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
          <rect y="17.1097" width="24.1967" height="3" transform="rotate(-45 0 17.1097)" fill="whitesmoke"/>
          <rect x="2.12109" width="24.1967" height="3" transform="rotate(45 2.12109 0)" fill="whitesmoke"/>
          </svg>
        </div>
        <small class="d-block w-100">Calculated using <b><a href="/zakatcalc">zakat calculator</a></b></small>
      </div>

    </div>

    <div class="modal d-none d-flex flex-col align-items-center">
      <p class="text-white">Report an issue</p>
      <textarea class="my-2" type="text" name="" value="" placeholder="Submit an issue, I will get back to you soon. Thanks."></textarea>
      <div class="d-flex flex-row">
        <button class="btn btn-secondary" type="button" name="button">Submit</button>
        <button class="close-modal btn btn-primary ml-point5" type="button" name="button">Close</button>
      </div>

    </div>

    <section id="hero">
      <div class="grid theme-gradient">
        <div class="item-1">
          <img src="/logo5.png" alt="">
        </div>
        <div class="item-2">
          <img src="/quotes.svg" width="116.67px" alt="">
          <p class="text-light">Eat from, and give the due alms on the day of harvest .
            <br><br>- Al Quran 6:141</p>
        </div>
        <div class="item-3 text-white">
          <div class="d-md-flex d-none flex-col justify-content-start">
            {{#if token}}
            <a class="nav-item my-1 text-light" href="/profile/{{token}}">{{name}}</a>
            <a class="nav-item my-1 text-light" href="/logout/{{token}}" onclick="signOut()">Sign out</a>
            <a class="nav-item my-1 text-light" href="/zakatcalc">Calculate zakat</a>
            <a class="nav-item my-1 text-light" href="/addpeople/{{token}}">Add people</a>
            {{else}}
            <a class="nav-item my-1 text-light" href="/signin/home">Sign in</a>
            <a class="nav-item my-1 text-light" href="#explore">Explore</a>
            <a class="nav-item my-1 text-light" href="/zakatcalc">Calculate zakat</a>
            <a class="nav-item my-1 text-light" href="/signin/addpeople">Add people</a>
            {{/if}}
          </div>
          <p class="text-brand text-light">Zakat Lists</p>
        </div>
        <!-- OPEN NAV ICON  -->
        <div class="item-4 d-md-none">
          <img onclick="opennav()" id="nav-open-icon" src="/nav-icon.svg" alt="">
          <span class="due-circle" style="position: absolute;margin-top: -10px;">{{due}}</span>
        </div>
      </div>


      <!-- OPEN MOBILE NAV ICON -->
      <div class="nav-menu d-flex flex-col align-items-center justify-content-center theme-gradient">
        <img id="nav-close-icon" src="/nav-close-icon.svg" alt="" onclick="closenav()">
        {{#if token}}
        <a class="nav-item my-point5 text-light" href="/profile/{{token}}">{{name}}</a>
        <a class="nav-item my-point5 text-light" href="/logout/{{token}}" onclick="signOut()">Sign out</a>
        <a class="nav-item my-point5 text-light" href="/zakatcalc">Calculate zakat</a>
        <a class="nav-item my-point5 text-light" href="/addpeople/{{token}}">Add people</a>
        <a href="/due/{{token}}" class="nav-item my-point5 text-light">Due</a>
        {{else}}
        <a class="nav-item my-point5 text-light" href="/signin/home">Sign in</a>
        <a class="nav-item my-point5 text-light" href="#explore">Explore</a>
        <a class="nav-item my-point5 text-light" href="/zakatcalc">Calculate zakat</a>
        <a class="nav-item my-point5 text-light" href="/signin/addpeople">Add people</a>
        <a href="/signin/due" class="nav-item my-point5 text-light">Due</a>
        {{/if}}
        <span class="due-circle" style="margin-top: -37px;margin-right: -60px;">{{due}}</span>
      </div>
    </section>


    <!-- NAV BAR -->
    <div class="nav-bar nav-bar-home bg-green d-flex">
      <div class="container flex-grow-1 d-flex justify-content-between align-items-center">
        <div class="logo-area d-flex flex-row">
          <img class="ml-1 my-point5 nav-bar-logo" src="/logo5small.png" width="35px" height="35px" alt="">
          <p class="ml-1 align-self-center text-light">Zakat Lists</p>
        </div>
        <div class="d-md-flex justify-content-around mr-2 d-none">
          {{#if token}}
          <a class="text-light px-point5 align-self-center" href="/profile/{{token}}">{{name}}</a>
          <a class="text-light px-point5 align-self-center" href="/logout/{{token}}" onclick="signOut()">Sign out</a>
          <a class="text-light px-point5 align-self-center" href="/zakatcalc">Calculate zakat</a>
          <a class="text-light px-point5 align-self-center" href="/addpeople/{{token}}">Add people</a>
          <a href="/due/{{token}}" class="text-light px-point5 align-self-center {{due}}">Due</a>
          {{else}}
          <a class="text-light px-point5 align-self-center" href="/signin/home">Sign in</a>
          <a class="text-light px-point5 align-self-center" href="#explore">Explore</a>
          <a class="text-light px-point5 align-self-center" href="/zakatcalc">Calculate zakat</a>
          <a class="text-light px-point5 align-self-center" href="/signin/addpeople">Add people</a>
          <a href="/signin/due" class="text-light px-point5 align-self-center {{due}}">Due</a>
          {{/if}}
          <span class="due-circle">{{due}}</span>
        </div>
        </div>
        <!-- OPEN MOBILE NAV ICON -->
        <div class="d-md-none mr-2 d-flex align-items-center justify-content-center">
          <img onclick="opennav()" id="nav-open-icon" src="/nav-icon.svg" alt="">
          <span class="due-circle" style="position: absolute;margin-top: -9px;margin-left: 13px;">{{due}}</span>
        </div>
      </div>
    </div>

    <section id="content" class="container pt-md-2 pt-1 px-1 px-md-2">

      <p id="explore" class="text-brand text-green">Filter Lists</p>
      <div class="filter-btns d-flex flex-wrap justify-content-start align-items-center">
        <div class="d-flex justify-content-start overflow-scroll">
          <button data-target="all" class="btn btn-primary d-flex align-items-center" type="button" name="button">Show All <span class="ml-point5 badge bg-primary text-white">248</span> </button>
          <button data-target="my" class="btn btn-primary d-flex align-items-center ml-point5" type="button" name="button">My List <span class="ml-point5 badge bg-primary text-white">148</span> </button>
          <button data-target="delivered" class="btn btn-primary d-flex align-items-center ml-point5" type="button" name="button">Delivered <span class="ml-point5 badge bg-delivered text-white">28</span> </button>
          <button data-target="pending" class="btn btn-primary d-flex align-items-center ml-point5" type="button" name="button">Pending <span class="ml-point5 badge bg-pending text-white">18</span> </button>
          <button data-target="inprogress" class="btn btn-primary d-flex align-items-center ml-point5 mr-point5" type="button" name="button">In progress <span class="ml-point5 badge bg-inprogress text-white">81</span> </button>
        </div>

        <div class="d-flex justify-content-start border my-point5 search-bar flex-grow-1">
          <input class="form-control flex-grow-1" type="text" name="" value="" placeholder="Search">
          <img class="px-point5" src="/search-icon.svg" width="25px" alt="">
        </div>

      </div>

      <div class="filter-badges d-flex justify-content-start flex-wrap align-items-center my-1">
        <p linked-data="all" id="all-badge" class="d-none">Show All <span>x</span> </p>
        <p linked-data="my" id="my-badge" class="d-none">My Lists <span>x</span> </p>
        <p linked-data="delivered" id="delivered-badge" class="d-none">Delivered <span>x</span> </p>
        <p linked-data="pending" id="pending-badge" class="d-none">Pending <span>x</span> </p>
        <p linked-data="inprogress" id="inprogress-badge" class="d-none">In progress <span>x</span> </p>
      </div>

      <div data-show="showAllCards" id="all-data-here" class="encloser pt-md-2 pt-1"></div>
      <div data-show="showMyCards" id="my-data-here" class="encloser pt-md-2 pt-1"></div>

      <div class="subscription my-2 d-flex align-items-center flex-col">

        <p class="text-green" style="margin-top:1rem">Subscribe to our newsletters and updates</p>

        <form id="subscribe-input" class="d-flex justify-content-start border" action="" method="">
          <input id="email" class="form-control flex-grow-1 text-center" type="text" name="email" value="" placeholder="your-email@some-thing.com">
          <button id="subscribe" class="btn btn-secondary d-flex align-items-center" type="button" name="button">Subscribe</button>
        </form>

      </div>


    </section>

    <section id="footer" class="mt-2 theme-gradient text-light">
      <div class="d-flex">
        <div class="d-md-block d-none mr-2">
          <img class="logo" src="/logo5.png" width="75px" alt="">
        </div>
        <div class="">
          <h3 class="">Foreword</h3>
          <p class="">I started this project to make zakat giving system easier. Organizations are not transparent. They don't tell us what they are doing with our money. Giving zakat to people directly and then recieving zakat delivery report on our cell phones is 'transparent'. Please retweet <a href="#" style="border-bottom:1px solid white">here</a> to make more people find it. </p>
        </div>
      </div>

      <div class="">
        <h3>Contact Me</h3>
        <a href="mailto:contact@zakatlists.com" style="
          font-weight: normal;
          padding-top: 1rem;
          display: block;
      " onclick="">contact@zakatlists.com</a>
        <p>+92 323 5168638</p>
        <div class="d-block d-md-flex">

          <a href="https://facebook.com/qasimali22">
            <svg iam="facebook" active-color="#3B5998" width="35" height="35" viewBox="0 0 35 35" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="17.5" cy="17.5" r="17" stroke="#C0C1C5"/>
            <path d="M22.3447 19.125L22.8632 15.8674H19.621V13.7535C19.621 12.8623 20.0739 11.9936 21.526 11.9936H23V9.22008C23 9.22008 21.6624 9 20.3835 9C17.7134 9 15.9681 10.5602 15.9681 13.3847V15.8674H13V19.125H15.9681V27H19.621V19.125H22.3447Z" fill="#C0C1C5"/>
            </svg>
          </a>

          <a href="https://twitter.com/punch__lines">
            <svg iam="twitter" active-color="#1DA0F2" class="mx-point5" width="35" height="35" viewBox="0 0 35 35" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="17.5" cy="17.5" r="17" stroke="#C0C1C5"/>
            <path d="M25.1498 13.7383C25.1612 13.9023 25.1612 14.0664 25.1612 14.2305C25.1612 19.2344 21.4493 25 14.665 25C12.5749 25 10.6333 24.3789 9 23.3008C9.29697 23.3359 9.58247 23.3477 9.89086 23.3477C11.6155 23.3477 13.2031 22.75 14.4708 21.7305C12.849 21.6953 11.4898 20.6055 11.0216 19.1055C11.25 19.1406 11.4784 19.164 11.7183 19.164C12.0495 19.164 12.3807 19.1172 12.6891 19.0352C10.9987 18.6836 9.73094 17.1601 9.73094 15.3203V15.2734C10.222 15.5547 10.7932 15.7305 11.3984 15.7539C10.4048 15.0742 9.75379 13.914 9.75379 12.6015C9.75379 11.8984 9.9365 11.2539 10.2563 10.6914C12.0723 12.9883 14.802 14.4882 17.8629 14.6523C17.8058 14.3711 17.7716 14.0781 17.7716 13.7852C17.7716 11.6992 19.4162 10 21.4607 10C22.5228 10 23.4822 10.457 24.1561 11.1953C24.9898 11.0313 25.7893 10.7148 26.4975 10.2813C26.2233 11.1602 25.6409 11.8985 24.8756 12.3672C25.618 12.2852 26.3376 12.0742 27 11.7813C26.4975 12.5312 25.8693 13.1992 25.1498 13.7383Z" fill="#C0C1C5"/>
            </svg>
          </a>

          <a href="https://getmakerlog.com/@punch__lines">
            <svg iam="makerlog" active-color="#01B77A" class="" width="35" height="35" viewBox="0 0 35 35" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="17.5" cy="17.5" r="17" stroke="#C0C1C5"/>
            <path d="M14.4532 24.725L8.27824 18.6235C7.90725 18.2569 7.90725 17.6626 8.27824 17.296L9.62171 15.9684C9.99269 15.6018 10.5942 15.6018 10.9652 15.9684L15.125 20.0787L24.0348 11.2749C24.4058 10.9084 25.0073 10.9084 25.3783 11.2749L26.7218 12.6025C27.0927 12.969 27.0927 13.5634 26.7218 13.93L15.7968 24.7251C15.4257 25.0916 14.8242 25.0916 14.4532 24.725Z" fill="#C0C1C5"/>
            </svg>
          </a>

        </div>
      </div>



      <div class="copy-right d-flex align-items-center justify-content-between">
          <a class="d-none d-md-block" href="#">&copy; Zakat Lists</a>

          <div class="footer-btns d-flex flex-grow-1 flex-grow-md-0">
            <a href="/signin">Sign in</a>
            <a href="/zakatcalc">Calculate</a>
            <a href="/addpeople">Add People</a>
            <a id="mailto" class="d-md-block d-none" href="mailto:contact@zakatlists.com">Contact</a>
          </div>
      </div>

      <div class="d-flex text-credits">
        <small>
          <span>Made with</span>
          <span class="px-point5">
            <svg active-color="#f90115" class="heart-icon" width="18" viewBox="0 0 25 22" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M22.5734 1.50428C19.8977 -0.78898 15.9183 -0.376488 13.4623 2.17213L12.5004 3.16898L11.5385 2.17213C9.08734 -0.376488 5.10304 -0.78898 2.42731 1.50428C-0.639037 4.13638 -0.800167 8.8604 1.94392 11.7135L11.392 21.5249C12.0023 22.1584 12.9935 22.1584 13.6039 21.5249L23.0519 11.7135C25.8009 8.8604 25.6398 4.13638 22.5734 1.50428Z" fill="#afafaf"/>
            </svg>
          </span>
          <span>by &nbsp</span>
          <a href="https://twitter.com/punch__lines">@punch__lines</a>
        </small>
      </div>

    </section>

    <a data-pjax="#all-data-here" class="" id="showAllCards" href=''></a>
    <a data-pjax="#my-data-here" class="" id="showMyCards" href=''></a>

    <script type="text/javascript" src="/javascript.js"></script>
    <script type="text/javascript" src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.7/jquery.validate.min.js"></script>
    <script type="text/javascript" src="/jquery.pjax.js"></script>
    <script src="/reload/reload.js"></script>

    <script type="text/javascript">

      $(document).ready(function(){

        $('.filter-btns .btn:eq(0)').addClass('active').trigger('click');
        doajax('http://www.geoplugin.net/json.gp?ip','get').then((res) => {
          console.log(res);
          let data = {
            query : "create-currency-session",
            msg: res,
          };
          data = JSON.stringify(data);
          let headers = {
              'content-type': 'application/json',
          };
          return doajax('/signing','post',headers,data);
        }).then((msg) => {
          console.log(msg);
        }).catch((e) => {
          console.log(e);
        });

      });

      let doajax = function(url,type,headers,datastringified) {
        return new Promise(function(resolve, reject) {
          $.ajax({
              url: url,
              type: type,
              data: datastringified,
              headers: headers,
          }).done((msg) => {
            resolve(msg);
          }).fail((error) => {
            reject(error);
          });
        });
      }

      $('a[data-pjax]').pjax();
      $.pjax.defaults.timeout = 10000000;
      $.pjax.defaults.scrollTo = false;
      $.pjax.defaults.push = false;

      {{#each dueIds}}
        console.log('{{this}}');
        changeCardState($(`#{{this}}`));
      {{/each}}

      function deleteMe(elem,id) {

        console.log($(elem));

        let data = {
          query : "deleteMe",
          id : id,
          token: `{{token}}`,
        }

        data = JSON.stringify(data);

        console.log(data);

        $.ajax({
            url: '/signing',
            type: 'post',
            data,
            headers: {
                'content-type': 'application/json',
            }
          }).done((res) => {
            console.log(res);
            $(elem).closest('.card').remove();
            $('.notification-box').addClass('opacity-1').find('p').html('Deleted 1 person!');
            setTimeout(function() {
              $('.notification-box').css({opacity: 0}).removeClass('opacity-1');
            }, 3000);
          }).fail((e) => {
            console.log(e.responseText);
            $('.notification-box').addClass('opacity-1').find('p').html(e.responseText);
            setTimeout(function() {
              $('.notification-box').css({opacity: 0}).removeClass('opacity-1');
            }, 3000);
          });
      }

      $('.filter-btns .btn').on('click',function() {
        let filter = $(this).attr('data-target');
        if (filter == 'my') {$(this).addClass('active'); $('[data-target=all]').removeClass('active');}
        if (filter == 'all') {$(this).addClass('active'); $('[data-target=my]').removeClass('active');}
        $(this).not('[data-target=all],[data-target=my]').toggleClass('active');
        let allFilters = '';
        $.each($('.filter-btns .active'),(key,val) => {
          allFilters += $(val).attr('data-target') + ' ';
        })
        filterfn(allFilters);
      })

      function filterfn(order) {
        // return console.log(order);
        $('.filter-badges').children().addClass('d-none');
        order = order.trim().split(' ');
        let type = order[0];
        $.each(order,(key,val) => {
          $(`#${val}-badge`).removeClass('d-none');
        });
        let str = '';
        order.shift();
        $.each(order,(key,val) => {
          str += val + '|';
        });
        var expression = str.slice(0,str.length-1);
        if (expression.length < 1) expression = 'pending|delivered|inprogress';
        console.log(expression);

        let skip = $('.cards').not('.d-none').length + 12;
        if (type == 'all') {
          $('#my-data-here').addClass('d-none').children().remove();
          $('#all-data-here').removeClass('d-none')
          $('#showAllCards').attr({href:`/peopleBussinessCards?token={{token}}&type=${type}&showQty=${skip}&expression=${expression}`}).trigger('click');
          return;
        }

        if (type == 'my') {
          $('#all-data-here').addClass('d-none').children().remove();
          $('#my-data-here').removeClass('d-none')
          $('#showMyCards').attr({href:`/peopleBussinessCards?token={{token}}&type=${type}&showQty=${skip}&expression=${expression}`}).trigger('click');
        }

      };

      $(document).on('click','.filter-badges span',function() {
        let removeFilter = $(this).closest('p').attr('linked-data');
        console.log(removeFilter);
        $(`[data-target=${removeFilter}]`).trigger('click');
      })

      function updatedue(id,type) {

        console.log($('.card-selected').length);

        if ($('.card-select').length < 1) return $('.due-circle').hide();

        let data = {
          query: 'update-due',
          type: type,
          due: id,
        };

        console.log(data);
        data = JSON.stringify(data);

        $.ajax({
            url: '/signing',
            type: 'post',
            data,
            headers: {
                'content-type': 'application/json',
            }
          }).done((res) => {
            console.log('item added successful');
            $('.due-circle').show().html(res.length);
          }).fail((e) => {
            console.log(e.responseText);
          });

      }

      $(document).on('click','.select-to-pay',function() {
        $(this).closest('.card').find('.card-select').trigger('click');
      })

      $(document).on('click','.report-an-issue',function() {
        $('.modal').removeClass('d-none');
      })

      $(document).on('click','.close-modal',function() {
        $('.modal').addClass('d-none');
      })

      $(document).on('click','.load-more',function() {
        let idoflink = $(this).closest('.encloser').attr('data-show');
        let my = {
          type: $(this).attr('type'),
          expression: $(this).attr('expression'),
        };
        let visiblecards = $('.card').not('.d-none').length;
        $(`#${idoflink}`).attr({href:`/peopleBussinessCards?token={{token}}&type=${my.type}&showQty=${visiblecards+12}&expression=${my.expression}`}).trigger('click');

      });

      function createcards(data) {
        $.each(data,(key,val) => {
          $('.card:eq(0)').clone().appendTo('.content-grid').removeClass('card-done card-pending card-issue card-inprogress').addClass(`card-${val.cardClass}`).attr({id: val._id}).find('span:eq(0)').removeClass('bg-done bg-pending bg-issue bg-inprogress').addClass(`bg-${val.cardClass}`);

          {{#each dueIds}}
          if (val._id == `{{this}}`) {
            console.log(val._id, `{{this}}`);
            return changeCardState($(`#{{this}}`));
          };
          {{/each}}

        })
      };

      $(document).on('click','#subscribe',function(){

        if (!($("#subscribe-input").valid())) {

          return;

        }

        let data = {
          "query": 'subscription',
          "email": $('#subscribe-input input').val(),
        };

        data = JSON.stringify(data);

        $.ajax({
          url: '/signing',
          type: 'post',
          data,
          headers: {
              'content-type': 'application/json',
          }
        }).done((msg) => {
          console.log(msg);
          $('.success').show().html('Thank you, I will keep you updated.');
          $('button').attr('disabled',true);
        }).fail((e) => {
          $('.error').show().html(e.responseText);
          console.log(e.responseText);
        });
      });

      $("#subscribe-input").validate({

        rules: {
          'email' : {
            required: true,
            email: true
          }
        },
        messages: {
          'email' : {
            required: `Please enter your email address above`,
            email: `Email is invalid`,
          },
        },
        errorPlacement: function(error, element) {
          $('.error:not(input)').remove();
          error.appendTo('.subscription');
        },

      });


    </script>

  </body>
</html>
