<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>

    {{>googleAnalytics}}

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel=icon href=/favicon.png>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800,900&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="  crossorigin="anonymous"></script>

    <link rel="stylesheet" href="/styles.css">
    <style media="screen">
      .profile-pic-area {
        position: absolute;
        margin-top: -13rem;
        color: white;
        margin-left: 35px;
      }

      .profile-pic-area > .small-content {
        align-items: center;
        margin-left: 1px;
      }

      .no-data-context > p {
        line-height: 28px;
      }

      .no-data-context {
        grid-column: 1/-1;
        max-width: 800px;
        margin: 0 auto 3rem auto;
      }

      .pro-badge {
        padding: 3px 10px;
        background: #fff036;
        font-size: 12px;
        border-radius: 2px;
        color: #173627;
      }

      .status-pending {
        color: indianred;
      }

      .status-delivered {
        color: darkgreen;
      }

      .status-inprogress {
        color: cornflowerblue;
      }

      @media (min-width:600px) {
        .profile-pic-area > .small-content {
          align-items: center;
          margin-left: 6px;
        }
      }
    </style>



    <title>Zakat Lists</title>
  </head>
  <body style="margin-bottom: 11rem">

    {{>header}}



    <div class="modal d-none d-flex flex-col align-items-center">
      <p class="text-white">Report an issue</p>
      <textarea class="my-2" type="text" name="" value="" placeholder="Submit an issue, I will get back to you soon. Thanks."></textarea>
      <div class="d-flex flex-row">
        <button class="btn btn-secondary" type="button" name="button">Submit</button>
        <button class="close-modal btn btn-primary ml-point5" type="button" name="button">Close</button>
      </div>

    </div>

<div class="profile-pic-area">
  <p class="text-brand">{{name}}</p>
  <div class="d-flex justify-content-start small-content">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M20 4H4c-1.1 0-1.99.9-1.99 2L2 18c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2zm0 4l-8 5-8-5V6l8 5 8-5v2z" fill="white"/><path d="M0 0h24v24H0z" fill="none"/></svg>

    <p class="ml-1">{{email}}</p>
  </div>
  {{#if phone}}
  <div class="d-flex justify-content-start small-content">
    <svg width="15" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M3.62 7.79C5.06 10.62 7.38 12.93 10.21 14.38L12.41 12.18C12.68 11.91 13.08 11.82 13.43 11.94C14.55 12.31 15.76 12.51 17 12.51C17.55 12.51 18 12.96 18 13.51V17C18 17.55 17.55 18 17 18C7.61 18 0 10.39 0 1C0 0.45 0.45 0 1 0H4.5C5.05 0 5.5 0.45 5.5 1C5.5 2.25 5.7 3.45 6.07 4.57C6.18 4.92 6.1 5.31 5.82 5.59L3.62 7.79Z" fill="white"/>
</svg>

    <p class="ml-1">{{phone}}</p>
  </div>
  {{/if}}
</div>

    <section id="content" class="container pt-md-2 pt-1 px-1 px-md-2">
      <div class="filter-btns d-flex flex-wrap justify-content-start align-items-center">
        <div class="d-flex justify-content-start overflow-scroll">
          <button data-target="sponsored" class="btn btn-primary d-flex align-items-center" type="button" name="button">Sponsored <span class="ml-point5 badge bg-primary text-white">248</span> </button>
          <button data-target="orders" class="btn btn-primary d-flex align-items-center ml-point5" type="button" name="button">Orders<span class="ml-point5 badge bg-primary text-white">148</span> </button>
          <button data-target="suggestions" class="btn btn-primary d-flex align-items-center ml-point5 mr-point5" type="button" name="button">Suggestions<span class="ml-point5 badge bg-delivered text-white">28</span> </button>
        </div>

        <div class="d-flex justify-content-start border my-point5 search-bar flex-grow-1">
          <input class="form-control flex-grow-1" type="text" name="" value="" placeholder="Search">
          <img class="px-point5" src="/search-icon.svg" width="25px" alt="">
        </div>

      </div>

      <div class="all-content sponsored content-grid pt-md-2 pt-1">

        {{#unless data}}
        <div class="no-data-context">
          <p>You have not sponsored any one yet. If you want to sponsor people to let others give them zakat, please update your profile to <span class="pro-badge">pro</span> after getting nec verification from us. You will need a government document proving your ID with a valid bank account to recieve zakats for delivering to sponsored people. Click below to proceed.</p>
          <button class="btn btn-primary mt-1" type="button" name="button">Update to Pro for Free</button>
        </div>
        {{/unless}}

        {{#each data}}

        {{>cards}}

        {{/each}}

      </div>


      <div class="all-content orders d-none pt-md-2 pt-1">
        {{#unless payed}}
        <div class="no-data-context">
          <p>You have not given zakat to any body yet. If you want to calculate your yearly zakat you can check below. Or you can visit home page to find people (below nisab) to give zakat.</p>
          <a href="/zakatcalc" class="btn btn-primary mt-1 " type="button" name="button" style="display: inline-block; font-family: system-ui">Calculate zakat</a>
          <a href="/home/{{token}}" class="btn btn-primary mt-1 " type="button" name="button" style="display: inline-block; font-family: system-ui">Find people to give zakat</a>
        </div>
        {{/unless}}
        {{#if payed}}
        <table width="100%" style="display: inline-table; table-layout: auto">
          <tbody  style="color:darkcyan">

            <tr>
              <th>Status</th>
              <th>Receipt</th>
              <th>Zakat</th>
              <th>Person</th>
              <th>Sponsor</th>
            </tr>
            {{#each payed}}
            <tr>
              <td class="status-{{this.status}}">{{this.status}}</td>
              {{#if receipt}}
              <td><a href="{{receipt}}" target="_blank">click here</a></td>
              {{else}}
              <td>N/A</td>
              {{/if}}
              <td>{{this.amount}}</td>
              <td style="text-align: left">
                {{this.name}} <br>
                {{this.salary}} {{this.currency}} per month <br>
                {{this.fMembers}} family members <br>
                {{this.mob}} <br>
                {{this.address}}
              </td>
              <td style="text-align: left"><b>{{this.sponsorName}}</b> <br> {{this.sponsorMob}} <br> {{this.sponsorAddress}} </td>
            </tr>
            {{/each}}

          </tbody>
        </table>
        {{/if}}
      </div>

      <div class="all-content suggestions d-none pt-md-2 pt-1">
        {{#unless suggestions}}
        <div class="no-data-context">
          <p>No suggestions found.</p>
        </div>
        {{/unless}}
      </div>

    </section>

    <script type="text/javascript" src="/javascript.js"></script>
    <script type="text/javascript" src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.7/jquery.validate.min.js"></script>
    <script src="/reload/reload.js"></script>

    <script type="text/javascript">

      $('.filter-btns .btn:eq(0)').addClass('active');

      {{#each dueIds}}
        changeCardState($(`#{{this}}`));
      {{/each}}

      if ($('.card').length < 1) {$('#load-more').attr('disabled',true).html('No data found').css({border: 'none'});}

      function deleteMe(elem,id) {

        console.log($(elem));

        let data = {
          query : "deleteMe",
          id : id,
          token: `{{token}}`,
        }

        data = JSON.stringify(data);

        console.log(data);

        $.ajax({
            url: '/signing',
            type: 'post',
            data,
            headers: {
                'content-type': 'application/json',
            }
          }).done((res) => {
            console.log(res);
            $(elem).closest('.card').remove();
            $('.notification-box').addClass('opacity-1').find('p').html('Deleted 1 person!');
            setTimeout(function() {
              $('.notification-box').css({opacity: 0}).removeClass('opacity-1');
            }, 3000);
          }).fail((e) => {
            console.log(e.responseText);
            $('.notification-box').addClass('opacity-1').find('p').html(e.responseText);
            setTimeout(function() {
              $('.notification-box').css({opacity: 0}).removeClass('opacity-1');
            }, 3000);
          });
      }

      $('.filter-btns .btn').on('click',function() {
        let filter = $(this).attr('data-target');
        $('.filter-btns .btn').not(this).removeClass('active');
        $(this).addClass('active');
        $('.all-content').addClass('d-none');
        $(`.${filter}`).removeClass('d-none');
      });

      function updatedue(id,type) {

        console.log($('.card-selected').length);

        if ($('.card-select').length < 1) return $('.due-circle').hide();


        let data = {
          query: 'update-due',
          type: type,
          due: id,
        };

        console.log(data);
        data = JSON.stringify(data);

        $.ajax({
            url: '/signing',
            type: 'post',
            data,
            headers: {
                'content-type': 'application/json',
            }
          }).done((res) => {
            console.log('item added successful');
            $('.due-circle').show().html(res.length);
          }).fail((e) => {
            console.log(e.responseText);
          });

      }

      $(document).on('click','.select-to-pay',function() {
        $(this).closest('.card').find('.card-select').trigger('click');
      })

      $(document).on('click','.report-an-issue',function() {
        $('.modal').removeClass('d-none');
      })

      $(document).on('click','.close-modal',function() {
        $('.modal').addClass('d-none');
      })

      $('#load-more').on('click',function() {
        console.log('hello');
        let skip = $('.card').length;

        let data = {
          skip: skip,
        }

        console.log(data);

        $.ajax({
            url: '/loadmore',
            type: 'get',
            data,
            headers: {
                'content-type': 'application/json',
            }
          }).done((res) => {
            console.log(res);
            createcards(res);
            if (res.length < 12) $(this).attr('disabled',true).html('No more data found').css({border: 'none'});
          }).fail((e) => {
            console.log(e.responseText);
          });

      });

      function createcards(data) {
        $.each(data,(key,val) => {
          $('.card:eq(0)').clone().appendTo('.content-grid').removeClass('card-done card-pending card-issue card-inprogress').addClass(`card-${val.cardClass}`).attr({id: val._id}).find('span:eq(0)').removeClass('bg-done bg-pending bg-issue bg-inprogress').addClass(`bg-${val.cardClass}`);

          {{#each dueIds}}
          if (val._id == `{{this}}`) {
            console.log(val._id, `{{this}}`);
            return changeCardState($(`#{{this}}`));
          };
          {{/each}}

        })
      };


    </script>

  </body>
</html>
