<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-signin-client_id" content="133536550317-q6m1gun90s198i2un77l91d9qsv9cck6.apps.googleusercontent.com">
    <link rel=icon href=/favicon.png>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800,900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/styles.css">

    <title>Zakat Lists</title>
    <style media="screen">
      .timer {
        font-size: 400% !important;
        font-weight: bold !important;
        text-align: center;
        margin-bottom: 3rem !important;
        margin-top: 2rem !important;
      }
    </style>

  </head>
  <body>
    {{>header}}


    <div class="container form-placement">
      <h4>{{page}}</h4>

      <h4 style="font-size: 15px">{{message}}</h4>
      <p class="timer">{{timer}}</p>

    </div>


    <script src="https://code.jquery.com/jquery-3.3.1.min.js"  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="  crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.7/jquery.validate.min.js"></script>
    <script type="text/javascript" src="/javascript.js"></script>

    </script>

    <script type="text/javascript">

    $(document).ready(() => {
      let timer = 0;
      running(timer);
    });

    let running = function(timer) {
      parseInt(timer);
      $('.timer').html({{timer}} - timer);
      timer++;
      if ({{timer}} - timer == 0) {
        if (`{{token}}`.length > 0) return window.location.replace(`/home/{{token}}`);
        window.location.replace(`/`);
      };
      return setTimeout(() => running(timer),1000);
    };


    </script>
  </body>
</html>
