<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    {{>googleAnalytics}}

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-signin-client_id" content="133536550317-q6m1gun90s198i2un77l91d9qsv9cck6.apps.googleusercontent.com">
    <link rel=icon href=/favicon.png>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800,900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/styles.css">

    <title>Zakat Lists</title>

  </head>
  <body>
    {{>header}}


    <div class="container form-placement">
      <h4>Sign in</h4>
      {{#if call}}
      <p class="input-heading text-center" style="color:red;">You need to sign in to accesss <b>{{call}}</b> page</p>
      {{/if}}
      <hr>
      <div id="my-signin2"></div>
      <span class="d-block divider-text">OR</span>
      <form id="sign-in" class="" action="" method="">
        <div class="d-flex justify-content-start border my-point5 flex-grow-1">
          <input id="in-email" class="form-control flex-grow-1" type="text" name="email" value="" placeholder="Email">
        </div>
        <div class="d-flex justify-content-start border my-point5 flex-grow-1">
          <input id="in-pass" class="form-control flex-grow-1" type="password" name="password" value="" placeholder="Password">
        </div>
        <button id="click-login" class="mt-1 btn btn-secondary d-flex align-items-center" type="button" name="button">Sign in</button>
      </form>
      <hr>
      <div class="d-flex flex-col align-items-start">
        <a class="" href="/signup">New around here? Sign up</a>
        <a class="my-point5" href="/forgotpw">Forgot password?</a>
      </div>


    </div>


    <script src="https://code.jquery.com/jquery-3.3.1.min.js"  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="  crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.7/jquery.validate.min.js"></script>
    <script type="text/javascript" src="/javascript.js"></script>
    <script type="text/javascript" src="https://apis.google.com/js/platform.js?onload=renderButton" defer async>

    </script>

    <script type="text/javascript">

    $('#click-login').click(function(e) {

      console.log('log in clicked');
      if (!($("#sign-in").valid()))	return console.log('invalid email');;

      let data = {
        "query": 'Login',
        "email": $('#in-email').val(),
        "password": $('#in-pass').val()
      };

      data = JSON.stringify(data);

      $.ajax({
          url: '/signing',
          type: 'post',
          data,
          headers: {
              'content-type': 'application/json',
          }
        }).done((token) => {
          console.log('successful login: ', token);
          {{#if call}}
          window.location.assign(`/{{call}}/${token}`);
          {{else}}
          window.location.assign(`/home/?token=${token}`);
          {{/if}}
        }).fail((e) => {
          console.log(e);
          let errors = { password: e.responseText };
          $("#sign-in").validate().showErrors(errors);
        });

    });

    $("#sign-in").validate({

      rules: {
        'email' : {
          required: true,
          email: true
        },
        'password' : {
          required: true
        }
      },
      messages: {
        'email' : {
          required: `Please enter your email address above.`,
          email: `Invalid email address.`,
        },
        'password' : {
          required: 'Please enter your password above.',
        }
      },
      errorPlacement: function(error, element) {
        $(element).closest('div').after(error);
      },

    });

    function renderButton() {
      gapi.signin2.render('my-signin2', {
        'scope': 'profile email',
        'width': 'auto',
        'height': '42px',
        'longtitle': true,
        'theme': 'light',
        'onsuccess': onSuccess,
        'onfailure': onFailure
      });
    }

    window.onLoadCallback = function(){
        gapi.auth2.init();
    };

    function onSignIn(googleUser) {
      var profile = googleUser.getBasicProfile();


      console.log('ID: ' + profile.getId()); // Do not send to your backend! Use an ID token instead.
      console.log('Name: ' + profile.getName());
      console.log('Image URL: ' + profile.getImageUrl());
      console.log('Email: ' + profile.getEmail()); // This is null if the 'email' scope is not present.

    };

    function onFailure(error) {
      console.log(error);
    }

    function onSuccess(googleUser) {

      console.log('Logged in as: ' + googleUser.getBasicProfile().getName());
      console.log('email: ' + googleUser.getBasicProfile().getEmail());
      var id_token = googleUser.getAuthResponse().id_token;
      var profile = googleUser.getBasicProfile();

      let data = {
        'query': 'Google_ID',
        "id_token": googleUser.getAuthResponse().id_token,
        "client_id": profile.getId(),
        "name": googleUser.getBasicProfile().getName(),
        "email": googleUser.getBasicProfile().getEmail(),
      };

      data = JSON.stringify(data);

      $.ajax({
        url: '/signing',
        type: 'post',
        data,
        headers: {
            'content-type': 'application/json',
        }
      }).done((token) => {
        // return console.log('successful: ', token);
        {{#if call}}
        window.location.assign(`/{{call}}/${token}`);
        {{else}}
        window.location.assign(`/home/?token=${token}`);
        {{/if}}
      }).fail((e) => {
        console.log(e.responseText);
      });

    }

    function signOut() {
      var auth2 = gapi.auth2.getAuthInstance();
      auth2.signOut().then(function () {
        console.log('User signed out.');
      });
    };

    </script>
  </body>
</html>
