<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    {{>googleAnalytics}}

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel=icon href=/favicon.png>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800,900&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="  crossorigin="anonymous"></script>

    <link rel="stylesheet" href="/styles.css">

    <title>Zakat Lists</title>

    <style media="screen">
    .update-person-form p{
      margin-bottom:-6px;
    }

    .update-person-form p:not(:first-child){
      margin-top: 30px;
    }

    .update-person-form span{
      font-weight: bolder;
    }

    .update-person-form textarea {
      color: #173627;
      font-weight: bold;
      font-size: 18px;
      white-space: pre-line;
      background: transparent;
      margin-top: 0;
    }
    </style>

  </head>
  <body>
    {{>header}}


    <form id="person-form" class="container form-placement update-person-form">

      <h4>Some details required</h4>
      <p style="
    padding: 30px 0;
    text-align: center;
    margin-top: -57px;
      ">I need these details to let you sponsor people. It is required to route payments to you for your sponsors. After you submit you will be routed to the page where you will be able to add people.</p>

      <hr>

      <p>Full Name</p>
      <div style="" class="{{hasError data.name}} d-flex justify-content-start border my-point5 flex-grow-1">
        <input class="form-control flex-grow-1" type="text" name="myname" id="myname" value="{{data.name}}" placeholder="Enter your full name here">
      </div>
      <p>Email</p>
      <div style="" class="{{hasError data.email}} d-flex justify-content-start border my-point5 flex-grow-1">
        <input class="form-control flex-grow-1" type="text" name="email" id="email" value="{{data.email}}" placeholder="yourname@email.com">
      </div>
      <p>Username</p>
      <div style="" class="{{hasError data.username}} d-flex justify-content-start border my-point5 flex-grow-1">
        <input class="form-control flex-grow-1" type="text" name="username" id="username" value="{{data.username}}" placeholder="letters only with no space">
      </div>
      <p>Mobile Number</p>
      <div style="" class="{{hasError data.mob}} d-flex justify-content-start border my-point5 flex-grow-1">
        <input class="form-control flex-grow-1" type="text" name="mob" id="mob" value="{{data.mob}}" placeholder="+923235168635">
      </div>
      <p>Account Title</p>
      <div style="" class="{{hasError data.sponsorAccountTitle}} d-flex justify-content-start border my-point5 flex-grow-1">
        <input class="form-control flex-grow-1" type="text" name="sponsorAccountTitle" id="sponsorAccountTitle" value="{{data.sponsorAccountTitle}}" placeholder="Hashim Ali">
      </div>
      <p>Name of Bank</p>
      <div style="" class="{{hasError data.sponsorAccountBank}} d-flex justify-content-start border my-point5 flex-grow-1">
        <input class="form-control flex-grow-1" type="text" name="sponsorAccountBank" id="sponsorAccountBank" value="{{data.sponsorAccountBank}}" placeholder="Metro Politan Bank Malir Karachi">
      </div>
      <p>Local Bank Account Number</p>
      <div style="" class="{{hasError data.sponsorAccountNo}} d-flex justify-content-start border my-point5 flex-grow-1">
        <input class="form-control flex-grow-1" type="text" name="sponsorAccountNo" id="sponsorAccountNo" value="{{data.sponsorAccountNo}}" placeholder="00470125856896">
      </div>
      <p>International Bank Account Number (IBAN)</p>
      <div style="" class="{{hasError data.sponsorAccountIBAN}} d-flex justify-content-start border my-point5 flex-grow-1">
        <input class="form-control flex-grow-1" type="text" name="sponsorAccountIBAN" id="sponsorAccountIBAN" value="{{data.sponsorAccountIBAN}}" placeholder="PK009898612341234">
      </div>
      <p>Your Country</p>
      <div style="" class="{{hasError data.flag}} d-flex justify-content-start border my-point5 flex-grow-1">
        <input class="form-control flex-grow-1" type="text" name="flag" id="flag" value="{{data.flag}}" placeholder="Pakistan">
      </div>
      <p>Special Note</p>
      <div style="" class="{{hasError data.specialNote}} d-flex justify-content-start border my-point5 flex-grow-1">
        <textarea wrap="" rows="4" class="form-control flex-grow-1" type="text" id="specialNote" name="specialNote" placeholder="Any details to help paying person know this person more.">{{data.specialNote}}</textarea>
      </div>
      <div class="">
        <button id="click-submit" class="btn btn-primary" type="button" name="button">Go to Sponsor page</button>
      </div>
      <div class="success d-none"></div>
      <div class="error d-none"></div>


    </form>



    <script src="https://code.jquery.com/jquery-3.3.1.min.js"  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="  crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.7/jquery.validate.min.js"></script>
    <script type="text/javascript" src="/javascript.js"></script>

    <script type="text/javascript">
    $('#click-submit').click(function(e) {

      if (!($("#person-form").valid()))	return console.log('invalid email');

      let data = {
        "name": $('#myname').val(),
        "username": $('#username').val(),
        "email": $('#email').val(),
        "mob": $('#mob').val(),
        "sponsorAccountTitle": $('#sponsorAccountTitle').val(),
        "sponsorAccountBank": $('#sponsorAccountBank').val(),
        "sponsorAccountNo": $('#sponsorAccountNo').val(),
        "sponsorAccountIBAN": $('#sponsorAccountIBAN').val(),
        "flag": $('#flag').val(),
        "specialNote": $('#specialNote').val(),
      };

      // Name	, Mobile No,	Earning per month,	Occupation	, Currency,	Family Members,	Address,	Story
      // return console.log(data);
      console.log(data);
      data = JSON.stringify(data);

      $.ajax({
          url: '/updateUser/?token={{token}}',
          type: 'post',
          data,
          headers: {
              'content-type': 'application/json',
          }
        }).done((res) => {
          console.log(res);
          // window.location.assign(`{{route}}/?token={{token}}`);
          // if (res.n == 0) return $(this).closest('div').nextAll('.success:first').removeClass('d-none').html('Did not find this person in database.');
          // if (res.nModified == 0) return $(this).closest('div').nextAll('.success:first').removeClass('d-none').html('No changes added by you.');
          // return $(this).closest('div').nextAll('.success:first').removeClass('d-none').html('Succesfully updated this person.');

        }).fail((e) => {
          console.log('error here', e);
          // let errors = { story: e.responseText };
          // $("#person-form").validate().showErrors(errors);
        });

    });

    jQuery.validator.addMethod("lettersonly", function(value, element) {
      return this.optional(element) || /^[a-z ,.'-]+$/i.test(value);
    }, "Letters only please");

    jQuery.validator.addMethod("noSpaces", function(value, element) {
      return this.optional(element) || /^[a-z,0-9,.'-]+$/i.test(value);
    }, "Username can not have spaced.");

    jQuery.validator.addMethod("mobileNumber", function(value, element) {
      return this.optional(element) || (/^\+[0-9]*$/.test(value));
    }, "Wrong format. Please write in a format that is accessible internationally e.g. +923135182738");

    $("#person-form").validate({

      rules: {
        myname : {
          required: true,
          lettersonly: true,
        },
        email : {
          required: true,
          email: true,
        },
        username: {
          required: true,
          noSpaces: true,
        },
        mob : {
          required: true,
          mobileNumber: true,
        },
        sponsorAccountTitle : {
          required: true,
          lettersonly: true,
        },
        sponsorAccountBank : {
          required: true,
        },
        sponsorAccountNo : {
          required: true,
          noSpaces: true,
        },
        sponsorAccountIBAN : {
          required: true,
          noSpaces: true,
        },
        specialNote : {
          required: true,
        },
        flag: {
          required: true,
        }
      },
      messages: {
        myname : {
          required: 'This field is required.',
          lettersonly: 'In valid name. Please write a valid name.',
        },
        email : {
          required: 'This field is required.',
        },
        mob : {
          required: 'This field is required.',
        },
        sponsorAccountTitle : {
          required: 'This field is required.',
          lettersonly: 'In valid name. Please write a valid name.',
        },
        sponsorAccountBank : {
          required: 'This field is required.',
        },
        sponsorAccountNo : {
          required: 'This field is required.',
          number: 'Only numbers. Avoid writing dashes or characters.',
        },
        sponsorAccountIBAN : {
          required: 'This field is required.',
          number: 'Only numbers. Avoid writing dashes or characters.',
        },
        flag : {
          required: 'This field is required.',
        },
        specialNote : {
          required: 'This field is required.',
        }
      },
      errorPlacement: function(error, element) {
        $(element).closest('div').after(error);
      },
      highlight: function(element,errorClass,validClass){
        $(element).closest('div').addClass('hasError');
      },
      unhighlight: function(element) {
        $(element).closest('div').removeClass('hasError');
      },

    });
    </script>
  </body>
</html>
