<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    {{>googleAnalytics}}

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel=icon href=/favicon.png>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800,900&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="  crossorigin="anonymous"></script>

    <link rel="stylesheet" href="/styles.css">

    <title>Zakat Lists</title>

    <style media="screen">
    .update-person-form p{
      margin-bottom:-6px;
    }

    .update-person-form p:not(:first-child){
      margin-top: 30px;
    }

    .update-person-form span{
      font-weight: bolder;
    }

    .update-person-form textarea {
      color: #173627;
      font-weight: bold;
      font-size: 18px;
      white-space: pre-line;
    }
    </style>

  </head>
  <body>
    {{>header}}


    <form id="person-form" class="container form-placement update-person-form">
      {{#if call}}
      <h4>{{call}}</h4>
      {{else}}
      <h4>Update <span>{{data.name}}</span></h4>

      {{/if}}
      <hr>

      <p>Full Name</p>
      <div class="d-flex justify-content-start border my-point5 flex-grow-1">
        <input class="form-control flex-grow-1" type="text" name="myname" id="myname" value="{{data.name}}" placeholder="Name of person in trouble">
      </div>
      <p>Mobile Number</p>
      <div class="d-flex justify-content-start border my-point5 flex-grow-1">
        <input class="form-control flex-grow-1" type="text" name="mob" id="mob" value="{{data.mob}}" placeholder="+923135182738">
      </div>
      <p>Occupation</p>
      <div class="d-flex justify-content-start border my-point5 flex-grow-1">
        <input class="form-control flex-grow-1" type="text" name="mob" id="occupation" value="{{data.occupation}}" placeholder="labour at some factory">
      </div>
      <p>Earning per month - {{currency}}</p>
      <div class="d-flex justify-content-start border my-point5 flex-grow-1">
        <input class="form-control flex-grow-1" type="text" name="salary" id="salary" value="{{data.salary}}" placeholder="a number in USD e.g 220">
      </div>
      <p>Family Members</p>
      <div class="d-flex justify-content-start border my-point5 flex-grow-1">
        <input class="form-control flex-grow-1" type="text" name="fMembers" id="fMembers" value="{{data.fMembers}}" placeholder="a number e.g 9">
      </div>
      <p>Address</p>
      <div class="d-flex justify-content-start border my-point5 flex-grow-1">
        <input class="form-control flex-grow-1" type="text" name="address" id="address" value="{{data.address}}" placeholder="Postal address to send a card to recepient">
      </div>
      <p>Special Note</p>
      <div class="d-flex justify-content-start border my-point5 flex-grow-1">
        <textarea wrap="" rows="4" class="form-control flex-grow-1" type="text" id="story" name="story" placeholder="Precise trouble this person is facing.">{{data.story}}</textarea>
      </div>
      <div class="">
        <button id="click-submit" class="btn btn-primary" type="button" name="button">Update</button>
        <button class="btn btn-secondary" type="button" name="button">Cancel</button>
      </div>
      <div class="success d-none"></div>
      <div class="error d-none"></div>


    </form>



    <script src="https://code.jquery.com/jquery-3.3.1.min.js"  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="  crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.7/jquery.validate.min.js"></script>
    <script type="text/javascript" src="/javascript.js"></script>

    <script type="text/javascript">
    $('#click-submit').click(function(e) {

      if (!($("#person-form").valid()))	return console.log('invalid email');

      let data = {
        "id": "{{data._id}}",
        "name": $('#myname').val(),
        "mob": $('#mob').val(),
        "salary": $('#salary').val(),
        "fMembers": $('#fMembers').val(),
        "address": $('#address').val(),
        "story": $('#story').val(),
        "currency": "{{currency}}",
        "occupation": $('#occupation').val(),
      };

      // Name	, Mobile No,	Earning per month,	Occupation	, Currency,	Family Members,	Address,	Story

      data = JSON.stringify(data);

      $.ajax({
          url: '/updateOneinExcel/?token={{token}}',
          type: 'post',
          data,
          headers: {
              'content-type': 'application/json',
          }
        }).done((res) => {
          console.log(res);
          if (res.n == 0) return $(this).closest('div').nextAll('.success:first').removeClass('d-none').html('Did not find this person in database.');
          if (res.nModified == 0) return $(this).closest('div').nextAll('.success:first').removeClass('d-none').html('No changes added by you.');
          return $(this).closest('div').nextAll('.success:first').removeClass('d-none').html('Succesfully updated this person.');

        }).fail((e) => {
          console.log('error here', e);
          let errors = { story: e.responseText };
          $("#person-form").validate().showErrors(errors);
        });

    });

    jQuery.validator.addMethod("lettersonly", function(value, element) {
      return this.optional(element) || /^[a-z ,.'-]+$/i.test(value);
    }, "Letters only please");

    jQuery.validator.addMethod("mobileNumber", function(value, element) {
      return this.optional(element) || (/^\+[0-9]*$/.test(value));
    }, "Wrong format. Please write in a format that is accessible internationally e.g. +923135182738");

    $("#person-form").validate({

      rules: {
        myname: {
          required: true,
          lettersonly: true,
        },
        mob : {
          required: true,
          mobileNumber: true,
          minlength: 8,
        },
        occupation: {
          required: true,
          minlength: 7,
        },
        salary : {
          required: true,
          number: true,
        },
        fMembers : {
          required: true,
          number: true,
        },
        address : {
          required: true,
        },
        story : {
          required: true,
        },
      },
      messages: {
        myname: {
          required: 'This field is required.',
          lettersonly: 'Please enter a valid name'
        },
        mob: {
          required: 'This field is required.',
          minlength: 'The minimum length of valid phone numbers is 9 digits for Sweden and 11 for Israel and 8 for Solomon Islands. Yours must be above it.',
        },
        occupation: {
          required: 'This field is required.',
          minlength: 'The minimum length of this field is 7 letters.'
        },
        salary: {
          required: 'This field is required.',
          number : 'Please enter numbers only'
        },
        fMembers: {
          required: 'This field is required.',
          number : 'Please enter numbers only'
        },
        address: {
          required: 'This field is required.',
        },
        story : {
          required: 'This field is required.',
        }
      },
      errorPlacement: function(error, element) {
        $(element).closest('div').after(error);
      },

    });
    </script>
  </body>
</html>
