<h3 style="font-size:100%;color:darkcyan;">People added by me</h3>

<div class="addedbyme content-grid pt-md-2 pt-1">

  {{#unless addedbyme}}
  <h2 class="w-100 text-center" style="
  grid-column: 1/-1;
  font-size: 91%;
  color: brown;
  align-self: center;
  ">Did not find any data for this filter !</h2>
  {{/unless}}


  {{#each addedbyme.people}}

  {{>cards}}

  {{/each}}

</div>

{{#if addedbyme.leftBehind}}

  <button encloser="addedbyme" my_href="{{addedbyme.query.url}}?token={{token}}&showQty={{addedbyme.query.showQty}}&expression={{addedbyme.query.expression}}&people=addedbyme" class="load-more btn btn-primary d-flex align-items-center" type="button" name="button" style="margin:2rem auto; display: block; width: fit-content;">Load More ({{addedbyme.leftBehind}} left)</button>

  <!-- <button type="{{query.type}}" expression="{{query.expression}}" class="load-more btn btn-primary d-flex align-items-center" type="button" name="button" style="margin:2rem auto; display: block">Load More</button> -->

{{else}}

<a class="disabled load-more btn btn-primary d-flex align-items-center" type="button" name="button" style="margin:2rem auto; display: block; width: fit-content;">Thats it. {{addedbyme.leftBehind}}</a>

{{/if}}

<h3 style="font-size:100%;color:darkcyan;">People given zakat by me</h3>

<div class="paidbeme content-grid pt-md-2 pt-1">

  {{#unless paidbyme}}
  <h2 class="w-100 text-center" style="
  grid-column: 1/-1;
  font-size: 91%;
  color: brown;
  align-self: center;
  ">Did not find any data for this filter !</h2>
  {{/unless}}

  {{#each paidbyme.people}}

    {{>cards}}

  {{/each}}

</div>

{{#if paidbyme.leftBehind}}

<!-- <button type="{{query.type}}" expression="{{query.expression}}" class="load-more btn btn-primary d-flex align-items-center" type="button" name="button" style="margin:2rem auto; display: block">Load More</button> -->

<button encloser="addedbyme" my_href="{{paidbyme.query.url}}?token={{token}}&showQty={{paidbyme.query.showQty}}&expression={{paidbyme.query.expression}}&people=paidbyme" class="load-more btn btn-primary d-flex align-items-center" type="button" name="button" style="margin:2rem auto; display: block; width: fit-content;">Load More ({{paidbyme.leftBehind}} left)</button>

{{else}}

<a class="disabled load-more btn btn-primary d-flex align-items-center" type="button" name="button" style="margin:2rem auto; display: block; width: fit-content;">Thats it. {{addedbyme.leftBehind}}</a>

{{/if}}
