<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="google-signin-client_id" content="133536550317-q6m1gun90s198i2un77l91d9qsv9cck6.apps.googleusercontent.com">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <style type="text/css">
      nav {
        /* position: absolute !important; */
        /* top: 0px;
        width: 100%; */
      }

      body {
        padding: 0px;
        margin: 0px;
      }

      .switch {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 30px;
      }

      .switch input {
        opacity: 0;
        width: 0;
        height: 0;
      }

      .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #212529;
        -webkit-transition: .4s;
        transition: .4s;
      }

      .slider:before {
        position: absolute;
        content: "";
        height: 24px;
        width: 24px;
        left: 3px;
        bottom: 3px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
      }

      input:checked + .slider {
        background-color: #28A745;
      }

      input:focus + .slider {
        box-: 0 0 1px #28A745;
      }

      input:checked + .slider:before {
        -webkit-transform: translateX(30px);
        -ms-transform: translateX(30px);
        transform: translateX(30px);
      }
      /* Rounded sliders */
      .slider.round {
        border-radius: 34px;
      }

      .slider.round:before {
        border-radius: 50%;
      }

      .bg-done {
        background-color: #236d45;
      }

      .bg-inprogress {
        background-color: #1E555C;
      }

      .bg-pending {
        background-color: #3A2E39;
      }

      .bg-issue {
        background-color: #C03221;
      }

      /* .badge-done {
        background-color: #236d45;
      } */

      .btn-done {
        color: #236d45;
        border: 1px solid #236d45;
      }

      .btn-done:hover {
        background-color: #bbeac5;
      }

      .btn-done:focus {
        background-color: #236d45;
        color: white;
      }

      .btn-inprogress {
        color: #1E555C;
        border: 1px solid #1E555C;
      }

      .btn-inprogress:hover {
        background-color: #93c1c6;
      }

      .btn-inprogress:focus {
        background-color: #1E555C;
        color: white;
      }

      .btn-issue {
        color: #C03221;
        border: 1px solid #C03221;
      }

      .btn-issue:hover {
        background-color: #edb5af;
      }

      .btn-issue:focus {
        background-color: #C03221;
        color: white;
      }

      .btn-pending {
        color: #3A2E39;
        border: 1px solid #3A2E39;
      }

      .btn-pending:hover {
        background-color: #a384a0;
      }

      .btn-pending:focus {
        background-color: #3A2E39;
        color: white;
      }

      .card {
        cursor: pointer;
      }

      .mt-80 {
        margin-top: 80px;
      }

      .payment {
        cursor: pointer;
        background-color: #eab2b6 !important;
      }

      .payment:hover {
        background-color: #82e096 !important;
      }

      .modal {
        overflow: scroll !important;
      }

      .file-error {
        word-break: break-all;
      }

      .upload-msgs {
        word-break: break-all;
      }

      .card-active {
        opacity: 1 !important;
        transition: opacity 0.35s ease;
      }

      .card-inactive {
        opacity: 0.7 !important;
        transition: opacity 0.35s ease;
      }

      @media(max-width:767px){
        .btn-container {
          min-width: 800px;
          overflow-x: scroll;
        }

        .btn-container-holder {
          width: 100%;
          overflow-x: scroll;
        }
      }

    </style>

    <title>Zakat Lists</title>
  </head>
  <body class="bg-light">

    <nav class="container navbar navbar-expand-lg navbar-light bg-light d-flex justify-content-between">
      <div class="brand">
        <img src="/logo5.png" alt="" class="" style="height:44px">
        <!-- <a href="#" class="navbar-brand">Zakat Lists</a> -->
      </div>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            {{#if token}}
            <a class="nav-link active" href="#" onclick="signOut()" data-toggle="" data-target="#">Sign out - {{name}}</a>
            {{else}}
            <a class="nav-link active sign-in-modalOpener" href="#" data-toggle="modal" data-target="#exampleModal2" modal-header="Sign In">Sign In</a>
            {{/if}}
          </li>
          <li class="nav-item">
            {{#if token}}
            <a class="nav-link" href="#" data-toggle="modal" data-target="#exampleModal3">Add People</a>
            {{else}}
            <a class="nav-link sign-in-modalOpener" href="#" data-toggle="modal" data-target="#exampleModal2" modal-header="Sign in to Add People">Add People</a>
            {{/if}}
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" data-toggle="modal" data-target="#exampleModal4">Zakat Calculator</a>
            </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Blog</a>
          </li>
        </ul>
      </div>
    </nav>

    <div class="container hero-section px-4">
      <p class="display-md-2 display-4 font-weight-bolder">Zakat Lists</p>
      <p class="lead">Let us unite as an ummah and collectively build lives of people around us !</p>
      <hr width='25%' align="left">
      <div class="d-md-block d-none">
        <p class="d-flex align-items-center"><span class="d-md-block d-none">Sponsor People in your neighbourhood by adding your lists </span> <button type="button" name="button" class="ml-md-2 btn btn-sm btn-outline-dark">Add People</button></p>
        <p class="d-flex align-items-center"><span class="d-md-block d-none">Calculate due zakat through </span> <button type="button" name="button" class="ml-md-2 btn btn-sm btn-outline-dark">Zakat Calculator</button></p>
        <p class="d-flex align-items-center"><span class="d-md-block d-none">Give Zakat using Credit Card or Online Transfer to </span> <button type="button" name="button" class="ml-md-2 btn btn-sm btn-outline-dark">Pending People</button></p>
        <p class="d-flex align-items-center"><span class="d-md-block d-none">Track people who are being reached </span> <button type="button" name="button" class="ml-md-2 btn btn-sm btn-outline-dark">Show All Lists</button></p>
      </div>
    </div>

    <div class="container mt-1 px-4 btn-container-holder">
      <div class="btn-container">
        <button type="button" class="filter-btn mr-2 btn btn-sm btn-outline-info" data-toggle="card">
          Show All Lists <span class="badge badge-done">4</span>
        </button>
        <button type="button" class="filter-btn mr-2 btn btn-sm btn-outline-dark" data-toggle="">
          My List <span class="badge badge-pending">4</span>
        </button>
        <button type="button" class="filter-btn mr-2 btn btn-sm btn-pending" data-toggle="bg-pending">
          Pending <span class="badge badge-pending">4</span>
        </button>
        <button type="button" class="filter-btn mr-2 btn btn-sm btn-done" data-toggle="bg-done">
          Done <span class="badge badge-done">4</span>
        </button>
        <button type="button" class="filter-btn mr-2 btn btn-sm btn-inprogress"  data-toggle="bg-inprogress">
          In Progress <span class="badge badge-inprogress">4</span>
        </button>
        <button type="button" class="filter-btn mr-2 btn btn-sm btn-issue" data-toggle="bg-issue">
          Issues <span class="badge badge-issues">4</span>
        </button>
      </div>
    </div>

    <div class="mt-3 d-flex justify-content-start flex-wrap cards-container">
      {{#each data}}
      <div class="col-xl-2 col-lg-3 col-md-4 col-6 rounded px-md-2 px-1 pb-2">
        <div class="person-card card bg-{{this.cardClass}} text-light rounded card-active" data-toggle="collapse" data-target="#details-div-{{@index}}" role="button" aria-expanded="false" aria-controls="details-div-{{@index}}">
          <div class="p-2">
            <b class="">{{inc @index}}.</b> <br>
            {{this.name}}<br>
            {{this.fMembers}} x Members in a family<br>
            Earning Rs {{this.salary}}/- per month <br>
          </div>
          <hr class="my-1">
          <div class="p-2">
            <b class="badge badge-warning">Order Details</b> <br>
            <small>
               Package: {{this.package}} in Rs {{this.packageCost}} <br>
               Ordered On: {{this.orderDate}} <br>
               Delivered On: {{this.deliveryDate}}
             </small>
             <br>
             <b class="badge badge-warning">Status</b>
             <small>{{this.cardClass}}</small>
          </div>
          <hr class="my-1">
          <small class="p-2 text-dark">Click to view details.</small>
        </div>
        <div id="details-div-{{@index}}" class="details-div collapse p-md-2 p-1" style="width: 100vw;" >
          <div class="card-body rounded bg-{{this.cardClass}} text-light d-flex flex-wrap w-100">
            <h4 class="col-12">{{this.name}}</h4>
            <div class="col-md-6 col-12">
              <small><span class="badge badge-warning mr-3">Mobile: </span> {{this.mob}}</small><br>
              <small><span class="badge badge-warning mr-3">Family Members: </span> {{this.fMembers}}</small><br>
              <small><span class="badge badge-warning mr-3">Story: </span> {{this.story}}</small><br>
              <small><span class="badge badge-warning mr-3">Address: </span> {{this.address}}</small><br>
              <small><span class="badge badge-warning mr-3">Package: </span> {{this.package}}</small><br>
              <small><span class="badge badge-warning mr-3">Package Cost: </span> {{this.packageCost}}</small><br>
              <small><span class="badge badge-warning mr-3">Package Quantity: </span> {{this.packageQty}}</small><br>
              <small><span class="badge badge-warning mr-3">Sponsor Name: </span> {{this.sponsorName}}</small><br>
              <small><span class="badge badge-warning mr-3">Sponsor Mobile: </span> {{this.sponsorMob}}</small><br>
              <small><span class="badge badge-warning mr-3">Package Status: </span> {{this.cardClass}}</small><br>
              <small><span class="badge badge-warning mr-3">Package Delivery: </span> Due on {{this.deliveryDate}}</small><br>
            </div>
            <div class="col-md-6 col-12">
              <hr align="left" class="d-md-none w-25 bg-warning">
              <h5>Payment Details</h5>
              <small><span class="badge badge-light mr-3">Online Bank Transfer </span></small><br>
              <small><span class="badge badge-warning mr-3">Account Title: </span> {{this.sponsorAccountTitle}}</small><br>
              <small><span class="badge badge-warning mr-3">Account No: </span> {{this.sponsorAccountNo}}</small><br>
              <small><span class="badge badge-warning mr-3">Account IBAN: </span> {{this.sponsorAccountIBAN}}</small><br>
              <small><span class="badge badge-light mr-3">Pay using Credit Card </span></small><br>
              <small class="my-1 d-flex align-items-center"><span class="badge badge-warning mr-3">Card No: </span><input style="height: 20px" type="Number" name="" value="" class="d-inline form-control" placeholder="xxxx-xxxx-xxxx-xxxx"> </small>
              <small class="my-1 d-flex align-items-center"><span class="badge badge-warning mr-3">Card Expiry Date: </span><input style="height: 20px" type="Number" name="" value="" class="d-inline form-control" placeholder="01/21"> </small>
              <small class="my-1 d-flex align-items-center"><span class="badge badge-warning mr-3">Card Security No: </span><input style="height: 20px" type="Number" name="" value="" class="d-inline form-control" placeholder="142"> </small>
              <small><span class="badge badge-light mr-3">Pay Now </span></small>

            </div>
          </div>
        </div>
      </div>

      {{/each}}

    </div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title pl-3" id="exampleModalLabel"><span class="d-none edit-toggle">Details of Person</span><span class="edit-modal-title edit-toggle">Edit</span> </h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <table class="table table-borderless">
              <tbody>
                <tr class="">
                  <th scope="row">Name:</th>
                  <td colspan="2" class="d-none edit-toggle modal-name">Qasim Ali</td>
                  <td colspan="2" class="edit-toggle"><input type="text" name="" value="" class="form-control modal-name" placeholder="Name of person who needs help."></td>
                </tr>
                <tr>
                  <th scope="row">Contact No:</th>
                  <td colspan="2" class="d-none text-danger font-weight-bold edit-toggle modal-mob">+92 323 5168638</td>
                  <td colspan="2" class="edit-toggle"><input class="form-control modal-mob" type="text" name="" value="" placeholder="Mobile Number with country code."> </td>
                </tr>
                <tr>
                  <th scope="row">Salary in PKR (Rs):</th>
                  <td colspan="2" class="d-none text-danger font-weight-bold edit-toggle modal-salary">5872</td>
                  <td colspan="2" class="edit-toggle"><input class="form-control modal-salary" type="number" name="" value="" placeholder="Please enter salary of the person in PKR."> </td>
                </tr>
                <tr>
                  <th scope="row" colspan="2">Dependant Family Members:</th>
                  <td class="d-none edit-toggle modal-familyMembers">3</td>
                  <td class=" edit-toggle"><input class="form-control modal-familyMembers" type="text" name="" value="" placeholder="Enter the number of family members dependant."> </td>
                </tr>
                <tr>
                  <th scope="row" class="text-danger">Help needed:</th>
                  <td colspan="2" class="d-none edit-toggle modal-helpType">Financially broken, need ration to feed the entire family for 1 month.</td>
                  <td colspan="2" class=" edit-toggle"><input class="form-control modal-helpType" type="text" name="" value="" placeholder="Please enter the problem in detail."> </td>
                </tr>
                <tr>
                  <th scope="row">Address:</th>
                  <td colspan="2" class="d-none edit-toggle modal-address">Wazirabad Teh, Dist Multan, <span class="text-danger font-weight-bold">Pakistan</span>.</td>
                  <td colspan="2" class=" edit-toggle"><input class="form-control modal-address" type="text" name="" value="" placeholder="Address with name of distt."> </td>
                </tr>
                <tr class="">
                  <th scope="row">Middle Man:</th>
                  <td class="d-none edit-toggle modal-sponserName">Ahmed Iqbal</td>
                  <td colspan="" class=" edit-toggle"><input class="form-control modal-sponserName" type="text" name="" value="" placeholder="Your Name."> </td>
                  <td class="d-none edit-toggle modal-sponserMob">+92 323 5145644</td>
                  <td colspan="" class=" edit-toggle"><input class="form-control modal-sponserMob" type="text" name="" value="" placeholder="Your Cell No."> </td>
                </tr>
                <tr class="d-none edit-toggle">
                  <th scope="row" class="text-danger">Status:</th>
                  <td colspan="2" class="modal-status">Delivered!</td>
                </tr>
              </tbody>
            </table>
            <hr>
            <div class="pl-2 pb-2">
              <h5 class="text-danger">Payment options</h5>
              <span class="d-none edit-toggle">Click one below:-</span>
              <span class="edit-toggle">Click below to enter the account details:-</span>
            </div>
            <div class="accordion" id="accordionExample">
              <h5 class="pl-2 payment py-2 my-0"  data-toggle="collapse" data-target="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">Western Union / Online bank transfer</h5>
              <div class="pl-2 collapse" id="collapseExample" data-parent="#accordionExample">
                <p class="py-2 edit-toggle">Please make a deposit on following account and press 'Done' below:-</p>
                <ul class="pl-3 pb-0">
                  <li><b>Account title:</b>
                    <span class="d-none edit-toggle modal-accountTitle">Qasim Ali and Iram Riaz</span>
                    <span class="edit-toggle"><input type="text" name="" value="" class="form-control modal-accountTitle" placeholder="Account title."> </span></li>
                  <li><b>Bank:</b>
                    <span class="d-none edit-toggle modal-accountBank">Askari Bank Haider Road Rawalpindi</span>
                    <span class="edit-toggle"><input type="text" name="" value="" class="form-control modal-accountBank" placeholder="Bank"></span> </li>
                  <li><b>Account Number:</b>
                    <span class="d-none edit-toggle modal-accountNumber">09787638267</span>
                    <span class="edit-toggle"><input type="text" name="" value="" class="form-control modal-accountNumber" placeholder="Account Number."> </span>  </li>
                  <li class="pb-0"><b>International Banking Account Number (IBAN):</b>
                    <span class="d-none edit-toggle modal-accountIBAN">89736482648291734</span>
                    <span class="edit-toggle"><input type="text" name="" value="" class="form-control modal-accountIBAN" placeholder="International Bank Account No."> </span> </li>
                </ul>
                <div class="d-none edit-toggle">
                  <h5>After deposit details</h5>
                  <p>Please fill following details after making the depsoit:-</p>
                  <div class="form-group row">
                      <label for="inputEmail3" class="col-6 col-form-label">Amount deposited</label>
                      <div class="col-6 input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text">$</span>
                        </div>
                        <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
                        <div class="input-group-append">
                          <span class="input-group-text">.00</span>
                        </div>
                      </div>
                  </div>
                  <div class="form-group row">
                      <label for="inputEmail3" class="col-4 col-form-label">Deposit slip</label>
                      <div class="col-8 input-group">
                        <div class="custom-file">
                          <input type="file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01">
                          <label class="custom-file-label" for="inputGroupFile01">Upload photo</label>
                        </div>
                      </div>
                  </div>
                  <div class="text-center">
                    <button type="button" class="btn btn-outline-success btn-block" name="button">Done</button>
                  </div>
                  <small class="text-left">Your payment is routed directly to the person in need. He will update the status on completion.</small>
                </div>
                <hr>
              </div>
              <h5 class="d-none pl-2 payment py-2 my-0 edit-toggle" data-toggle="collapse" data-target="#collapseExample2" role="button" aria-expanded="false" aria-controls="collapseExample2">Credit / Debit Card</h5>
              <div class="d-none edit-toggle collapse pl-2 pt-2" id="collapseExample2" data-parent="#accordionExample">
                <form action="/echo" method="post" novalidate="novalidate" class="needs-validation">
                    <div class="form-group">
                        <label for="cc-payment" class="control-label mb-1">Payment amount in USD</label>
                        <input id="cc-payment" name="cc-payment" type="text" class="form-control" aria-required="true" aria-invalid="false" required value="100.00">
                        <span class="invalid-feedback">Enter the payment amount</span>
                    </div>
                    <div class="form-group has-success">
                        <label for="cc-name" class="control-label mb-1">Name on card</label>
                        <input id="cc-name" name="cc-name" type="text" class="form-control cc-name" required autocomplete="cc-name" aria-required="true" aria-invalid="false" aria-describedby="cc-name-error">
                        <span class="invalid-feedback">Enter the name as shown on credit card</span>
                    </div>
                    <div class="form-group">
                        <label for="cc-number" class="control-label mb-1">Card number</label>
                        <input id="cc-number" name="cc-number" type="tel" class="form-control cc-number identified visa" required="" pattern="[0-9]{16}">
                        <span class="invalid-feedback">Enter a valid 16 digit card number</span>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                                <label for="cc-exp" class="control-label mb-1">Expiration</label>
                                <input id="cc-exp" name="cc-exp" type="tel" class="form-control cc-exp" required placeholder="MM / YY" autocomplete="cc-exp">
                                <span class="invalid-feedback">Enter the expiration date</span>
                            </div>
                        </div>
                        <div class="col-6">
                            <label for="x_card_code" class="control-label mb-1">Security code</label>
                            <div class="input-group">
                                <input id="x_card_code" name="x_card_code" type="tel" class="form-control cc-cvc" required autocomplete="off">
                                <span class="invalid-feedback order-last">Enter the 3-digit code on back</span>
                                <div class="input-group-append">
                                    <div class="input-group-text">
                                    <span class="fa fa-question-circle fa-lg" data-toggle="popover" data-container="body" data-html="true" data-title="Security Code"
                                    data-content="<div class='text-center one-card'>The 3 digit code on back of the card..<div class='visa-mc-cvc-preview'></div></div>"
                                    data-trigger="hover"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="x_zip" class="control-label mb-1">Postal code</label>
                        <input id="x_zip" name="x_zip" type="text" class="form-control" value="" data-val="true" data-val-required="Please enter the ZIP/Postal code" autocomplete="postal-code">
                        <span class="help-block" data-valmsg-for="x_zip" data-valmsg-replace="true"></span>
                    </div>
                    <div class="text-center">
                        <button id="payment-button" type="submit" class="btn btn-outline-success btn-block">
                            <span id="payment-button-amount">Pay Now</span>
                            <span id="payment-button-sending" class="d-none">Sending…</span>
                        </button>
                    </div>
                </form>
              </div>
            </div>


          </div>
          <div class="modal-footer">
            <button type="button" name="button" class="btn btn-success edit-toggle save-btn">Save</button>
            <button type="button" class="btn btn-danger edit-btn">
              <span class="d-none edit-toggle">Edit</span>
              <span class="edit-toggle">Cancel</span>
            </button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal Sign Up or Login -->
    <div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title pl-4" id="exampleModalLabel">Sign in to view credentials</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="wrapper px-4 mb-3">
              <div id="my-signin2"></div>
            </div>

            <div class="dropdown-divider"></div>
            <form class="px-4 py-3" role="form" id="sign-in" novalidate action="/home" method="get">
              <div class="form-group">

  							<div class="d-flex justify-content-between align-items-center">
  								<label for="in-email">Email address</label>
  								<small class="text-warning pl-2 text-right"><label for="in-email" generated="true" class="error"></label></small>
  							</div>

  							<input name="in-email" class="form-control" id="in-email" aria-describedby="emailHelp" placeholder="Enter email" value="qasimali24@gmail.com">

  						</div>
              <div class="form-group">

  							<div class="d-flex justify-content-between align-items-center">
  								<label for="in-pass">Password</label>
  								<small class="text-warning pl-2 text-right"><label for="in-pass" generated="true" class="error"></label></small>
  							</div>

  							<input name="in-pass" type="password" class="form-control" id="in-pass" placeholder="Password" value="pakistani">

  						</div>

              <p class="d-none"><small class="text-danger check-label"><label for="agreeTerms" generated="true" class="signup-error"></label></small></p>

              <button type="button" id="click-login" class="btn btn-primary">Sign In</button>
            </form>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/signup">New around here? Sign up</a>
            <a class="dropdown-item" href="/forgotpw">Forgot password?</a>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal Add People -->
    <div class="modal fade" id="exampleModal3" tabindex="-1" role="dialog" aria-labelledby="addpeopleModal" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title pl-4" id="addpeopleModal">Add people</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="px-4 py-3">
              <p class="lead">Add a person in your neighbourhood who might need help.</p>
              <button type="button" name="button" class="btn btn-outline-dark mr-2 mb-2" id="add-one-btn">Add 1 Person</button>

              <p class="text-center lead font-weight-bold">OR</p>

              <p class="lead">Add entire list by uploading the excel sheet:-</p>
              <a href="/sample.xlsx" name="button" class="btn btn-outline-dark mr-2 mb-2" download>1: Download Sample Excel File</a> <br>
              <div class="custom-file mb-2 text-wrap">
                <input type="file" class="custom-file-input" id="fileInp" aria-describedby="fileInp">
                <label class="custom-file-label border border-dark text-dark" for="fileInp" data="{{sampleRows}}">2: Upload File</label>
              </div>
              <small class="file-error text-danger mb-2"></small>
              <button type="button" name="button" class="btn btn-outline-dark mr-2 mb-2" id="uploadData" disabled>3: Update</button>
              <div class="upload-msgs">
                <small class="upload-success text-success d-none"></small>
                <small class="upload-error text-danger d-none"></small>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-outline-dark close-modal" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal Zakat Calculator -->
    <div class="modal fade" id="exampleModal4" tabindex="-1" role="dialog" aria-labelledby="zakatcalculator" aria-hidden="true">
      <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title pl-4" id="zakatcalculator">Zakat Calculator</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="">
              <form>
                <h3>Zakat Eligible Assets</h3>
                <small>This is the first step in figuring out how much zakat you'll pay. You exclude the assets you use for everyday life. For example, your primary residence, car, clothes and business equipment are not used in you zakat asset calculations. It is  based on what is left after you take care of you and your family's living expenses.</small>
                <div class="form-group row">
                  <label for="stocks" class="col-sm-2 col-form-label">Stocks</label>
                  <div class="col-sm-10">
                    <input type="number" class="form-control" id="stocks" value="" placeholder="$ USD">
                  </div>
                </div>
                <div class="form-group row">
                  <label for="savings" class="col-sm-2 col-form-label">Savings</label>
                  <div class="col-sm-10">
                    <input type="number" class="form-control" id="savings" placeholder="$ USD">
                  </div>
                </div>
                <div class="form-group row">
                  <label for="investment" class="col-sm-2 col-form-label">Investment Properties</label>
                  <div class="col-sm-10">
                    <input type="number" class="form-control" id="investment" placeholder="$ USD">
                  </div>
                </div>
                <div class="form-group row">
                  <label for="cash" class="col-sm-2 col-form-label">Cash</label>
                  <div class="col-sm-10">
                    <input type="number" class="form-control" id="cash" placeholder="$ USD">
                  </div>
                </div>
                <div class="form-group row">
                  <label for="business" class="col-sm-2 col-form-label">Business Income</label>
                  <div class="col-sm-10">
                    <input type="number" class="form-control" id="business" placeholder="$ USD">
                  </div>
                </div>
                <div class="form-group row">
                  <label for="jewelery" class="col-sm-2 col-form-label">Jewelery (Gold / Silver / Metals)</label>
                  <div class="col-sm-10">
                    <input type="number" class="form-control" id="jewelery" placeholder="$ USD">
                  </div>
                </div>

                <h3>Zakat Liabilities</h3>
                <small>Debt from credit cards, college or other loans subtracts from your personal net worth. These outstanding debts are deducted from your total zakat-eligible assets.</small>

                <div class="form-group row">
                  <label for="creditCard" class="col-sm-2 col-form-label">Credit Cards Payments</label>
                  <div class="col-sm-10">
                    <input type="number" class="form-control" id="creditCard" placeholder="$ USD">
                  </div>
                </div>
                <div class="form-group row">
                  <label for="collegeDebt" class="col-sm-2 col-form-label">College Debt Payment</label>
                  <div class="col-sm-10">
                    <input type="number" class="form-control" id="collegeDebt" placeholder="$ USD">
                  </div>
                </div>
                <div class="form-group row">
                  <label for="loans" class="col-sm-2 col-form-label">Other Loans</label>
                  <div class="col-sm-10">
                    <input type="number" class="form-control" id="loans" placeholder="$ USD">
                  </div>
                </div>

                <h3>Nisab</h3>
                <small>For example, your zakat net worth is $4,000. Each ounce of silver is currently worth $15, so the nisab using the silver calculation is $315 ($15 X 21 ounces = $315). You have more than the nisab so you owe zakat.</small>

                <div class="form-group row">
                  <div class="col-12">
                    <input type="text" readonly class="form-control" id="nisab" value="$ 236.00">
                  </div>
                </div>

                <h3>Total Obligatory</h3>
                <small>Western calendar uses 2.557% of your net worth. Hijri calendar uses 2.5% of your net worth. We are using Western calendar cycle of <b>2.557%</b> to calculate your zakat.</small>

                <div class="form-group row">
                  <div class="col-12">
                    <input type="text" readonly class="form-control" id="total" value="$ 356.00">
                  </div>
                </div>

                <button type="button" name="button" class="btn btn-dark">Give Zakat</button>

              </form>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-outline-dark close-modal" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>





    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="  crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.8.0/jszip.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.8.0/xlsx.js"></script>
    <script type="text/javascript" src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.7/jquery.validate.min.js"></script>
		<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.0/additional-methods.js"></script>
    <script src="https://apis.google.com/js/platform.js?onload=renderButton" async defer></script>


    <script type="text/javascript">

      $(document).ready(() => {
        if (`{{error}}`.length) return window.location.assign(`/`);
        console.log('window loaded fine');
      });

      $('.edit-toggle').toggleClass('d-none');
      let editStatus = false;

      $(document).on('click','.edit-btn',function() {
        console.log('edit clicked');
        $('.edit-toggle').toggleClass('d-none');
        $(this).toggleClass('btn-success btn-outline-success');
        editStatus = !editStatus;
        console.log(editStatus);
        $('#exampleModal').attr({editStatus: !editStatus});
      });

      $('#exampleModal').on('hidden.bs.modal', function (e) {
        if (editStatus) {
          $('.edit-btn').trigger('click').show();
        };
        $('.edit-modal-title').html('Edit');
      });


      $('.sign-in-modalOpener').on('click',function() {
        let header = $(this).attr('modal-header')
        $('#exampleModal2').find('.modal-title').html(header);
      });


      $(document).on('click','.filter-btn',function(){
        let className = $(this).attr('data-toggle');
        $('.person-card').parent('.rounded').addClass('d-none');
        $(`.${className}`).parent('.rounded').removeClass('d-none');
      })

      $(document).on('click','.card',function(){
        $('.details-div').removeClass('show');
        let ml = this.getBoundingClientRect().left;
        $(this).css({
          opacity: 1,
        }).siblings('.details-div').removeClass('show').css({
          'margin-left': `-${ml}px`,
        });
      });

      // $(document).on('mouseleave','.cards-container',function() {
      //   $('.card').removeClass('card-inactive');
      // })

      $(document).on('mouseenter mouseleave','.card',function(){
        $('.card').not(this).toggleClass('card-active card-inactive');
      })


      $(document).on('click','.save-btn',function(){

        let data = {
          name:$('.modal-name:eq(-1)').val(),
          mob:$('.modal-mob:eq(-1)').val(),
          familyMembers:$('.modal-familyMembers:eq(-1)').val(),
          helpType:$('.modal-helpType:eq(-1)').val(),
          address:$('.modal-address:eq(-1)').val(),
          sponserName:$('.modal-sponserName:eq(-1)').val(),
          sponserMob:$('.modal-sponserMob:eq(-1)').val(),
          status:$('.modal-status:eq(-1)').html(),
          accountTitle:$('.modal-accountTitle:eq(-1)').val(),
          accountBank:$('.modal-accountBank:eq(-1)').val(),
          accountNumber:$('.modal-accountNumber:eq(-1)').val(),
          accountIBAN:$('.modal-accountIBAN:eq(-1)').val(),
        }

        console.log(data);

        if (
          $('.modal-name:eq(-1)').val() == ''  ||
          $('.modal-mob:eq(-1)').val() == '' ||
          $('.modal-familyMembers:eq(-1)').val() == '' ||
          $('.modal-helpType:eq(-1)').val() == '' ||
          $('.modal-address:eq(-1)').val() == '' ||
          $('.modal-sponserName:eq(-1)').val() == '' ||
          $('.modal-sponserMob:eq(-1)').val() == '' ||
          $('.modal-status:eq(-1)').html() == '' ||
          $('.modal-accountTitle:eq(-1)').val() == '' ||
          $('.modal-accountBank:eq(-1)').val() == '' ||
          $('.modal-accountNumber:eq(-1)').val() == '' ||
          $('.modal-accountIBAN:eq(-1)').val() == ''
        ) return console.log('please fill all values');



        data = JSON.stringify(data);

        $.ajax({
            url: '/data',
            type: 'post',
            data,
            headers: {
                'content-type': 'application/json',
            }
          }).done((res) => {
            console.log(res);
          }).fail((e) => {
            console.log(e.responseText);
          });

      });

      $(document).on('click','#add-one-btn',function(){
        $('#exampleModal3').modal('hide');
        $('#exampleModal').modal('show');
        $('.edit-btn').trigger('click').hide();
        $('input').val('');
        $('.edit-modal-title').html('Add a person');
      });

      function readURL(input) {

        return new Promise(function(resolve, reject) {

          if (input.files && input.files[0] && (/\.(xlsx)$/i.test(input.files[0].name))) {

              var reader = new FileReader();

              reader.addEventListener("load", function(e) {

                var data = e.target.result;
                var workbook = XLSX.read(data, {
                  type: 'binary'
                });

                workbook.SheetNames.forEach(function(sheetName) {
                  var XL_row_object = XLSX.utils.sheet_to_row_object_array(workbook.Sheets[sheetName]);
                  resolve(XL_row_object);
                })

              });

              reader.onerror = function(ex) {
                reject(ex);
              };

              reader.readAsBinaryString(input.files[0]);

          } else {
              reject('not proper format of file');
          }

        });

      }

      let uploadedData;

      $("#fileInp").change(function() {
        let dataLength = $(this).siblings('label').attr('data').split(',').length;
        let incomplete = [];
        readURL(this).then((msg) => {
          console.log(msg);
          if (msg.length < 1) incomplete.push(1);
          $.each(msg, (key,val) => {
            let count = 0;
            for (i in val) {
                if (val.hasOwnProperty(i)) {
                    count++;
                }
            }
            console.log(dataLength, count);
            if (count < dataLength) return incomplete.push([key,val.Name]);
          })
          if (incomplete.length) {
            uploadedData = '';
            $('.file-error').addClass('d-block').removeClass('d-none').html(`Incomplete data entry at row(s): ${JSON.stringify(incomplete).substr(1).slice(0, -1)}`);
            return $(this).siblings('label').removeClass('text-dark text-success border-dark border-success').addClass('text-danger border-danger').html('2: Sorry! Invalid Data.');
          }
          uploadedData = msg;
          $('#uploadData').attr({disabled:false});
          $('.file-error').addClass('d-none').removeClass('d-block');
          $(this).siblings('label').removeClass('text-danger border-danger text-dark border-dark').addClass('text-success border-success').html('2: Ok! All entries are valid.');
        }).catch((e) => {
          $('.file-error').addClass('d-block').removeClass('d-none').html(e);
          return $(this).siblings('label').removeClass('text-dark text-success border-dark border-success').addClass('text-danger border-danger').html('2: Sorry! Bad Error.');
        });
      });

      $('#uploadData').on('click',function() {
        if (uploadedData.length < 1) return console.log('no file added');
        $('.upload-msgs').children().addClass('d-none');
        // return console.log(uploadedData);
        data = JSON.stringify(uploadedData);
        console.log(data);
        $.ajax({
            url: '/excelData',
            type: 'post',
            data: data,
            headers: {
                'content-type': 'application/json',
            }
          }).done((res) => {
            console.log(res);
            $('.upload-success').removeClass('d-none').html(res);
            $(this).toggleClass('btn-outline-dark btn-outline-success');
          }).fail((e) => {
            $(this).toggleClass('btn-outline-dark btn-outline-danger');
            let errorMsg = '';
            $.each(JSON.parse(e.responseText),(key,val) => {
              errorMsg += val + '<br>'
            })
            $('.upload-error').removeClass('d-none').html(errorMsg);
          });

      });

      $('#click-login').click(function(e) {

        console.log('log in clicked');
				if (!($("#sign-in").valid()))	return;

				let data = {
					"query": 'Login',
					"email": $('#in-email').val(),
					"password": $('#in-pass').val()
				};

				data = JSON.stringify(data);

				$.ajax({
				    url: '/signing',
				    type: 'post',
				    data,
				    headers: {
				        'content-type': 'application/json',
				    }
					}).done((token) => {
						console.log('successful login: ', token);
						window.location.replace(`/home/${token}`);
					}).fail((e) => {
						console.log('error here', e);
						return $('.signup-error').html(`<i class="fas fa-exclamation-circle"></i> ` + e.responseText).closest('p').removeClass('d-none');
					});

			});

      // GOOGLE O-AUTH

      function onSignIn(googleUser) {
        var profile = googleUser.getBasicProfile();
        console.log('ID: ' + profile.getId()); // Do not send to your backend! Use an ID token instead.
        console.log('Name: ' + profile.getName());
        console.log('Image URL: ' + profile.getImageUrl());
        console.log('Email: ' + profile.getEmail()); // This is null if the 'email' scope is not present.
      };

      function onSuccess(googleUser) {

        console.log('Logged in as: ' + googleUser.getBasicProfile().getName());
        console.log('email: ' + googleUser.getBasicProfile().getEmail());

        {{#unless token}}

        let data = {
          'query': 'GoogleIn',
          "name": googleUser.getBasicProfile().getName(),
          "email": googleUser.getBasicProfile().getEmail(),
        };

        data = JSON.stringify(data);

        $.ajax({
          url: '/signing',
          type: 'post',
          data,
          headers: {
              'content-type': 'application/json',
          }
        }).done((token) => {
          console.log('successful: ', token);
          window.location.assign(`/home/${token}`);
        }).fail((e) => {
          // signOut();
          return console.log('error here', e.responseText);
        });

        {{/unless}}

      }

      function onFailure(error) {
        console.log(error);
      }

      function renderButton() {
        gapi.signin2.render('my-signin2', {
          'scope': 'profile email',
          'width': 'auto',
          'longtitle': true,
          'theme': 'dark',
          'onsuccess': onSuccess,
          'onfailure': onFailure
        });
      }

      window.onLoadCallback = function(){
        gapi.auth2.init();
      };

      function signOut() {
        var auth2 = gapi.auth2.getAuthInstance();
        auth2.signOut().then(function () {
          console.log('User signed out.');
        });
        window.location.assign(`/logout/{{token}}`);
      };




    </script>
  </body>
</html>
