<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <style type="text/css">
      nav {
        /* position: absolute !important; */
        /* top: 0px;
        width: 100%; */
      }

      body {
        padding: 0px;
        margin: 0px;
      }

      .switch {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 30px;
      }

      .switch input {
        opacity: 0;
        width: 0;
        height: 0;
      }

      .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #212529;
        -webkit-transition: .4s;
        transition: .4s;
      }

      .slider:before {
        position: absolute;
        content: "";
        height: 24px;
        width: 24px;
        left: 3px;
        bottom: 3px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
      }

      input:checked + .slider {
        background-color: #28A745;
      }

      input:focus + .slider {
        box-: 0 0 1px #28A745;
      }

      input:checked + .slider:before {
        -webkit-transform: translateX(30px);
        -ms-transform: translateX(30px);
        transform: translateX(30px);
      }
      /* Rounded sliders */
      .slider.round {
        border-radius: 34px;
      }

      .slider.round:before {
        border-radius: 50%;
      }

      .bg-done {
        background-color: #236d45;
      }

      .bg-inprogress {
        background-color: #1E555C;
      }

      .bg-pending {
        background-color: #3A2E39;
      }

      .bg-issue {
        background-color: #C03221;
      }

      /* .badge-done {
        background-color: #236d45;
      } */

      .btn-done {
        color: #236d45;
        border: 1px solid #236d45;
      }

      .btn-done:hover {
        background-color: #bbeac5;
      }

      .btn-done:focus {
        background-color: #236d45;
        color: white;
      }

      .btn-inprogress {
        color: #1E555C;
        border: 1px solid #1E555C;
      }

      .btn-inprogress:hover {
        background-color: #93c1c6;
      }

      .btn-inprogress:focus {
        background-color: #1E555C;
        color: white;
      }

      .btn-issue {
        color: #C03221;
        border: 1px solid #C03221;
      }

      .btn-issue:hover {
        background-color: #edb5af;
      }

      .btn-issue:focus {
        background-color: #C03221;
        color: white;
      }

      .btn-pending {
        color: #3A2E39;
        border: 1px solid #3A2E39;
      }

      .btn-pending:hover {
        background-color: #a384a0;
      }

      .btn-pending:focus {
        background-color: #3A2E39;
        color: white;
      }

      .card {
        cursor: pointer;
      }

      .mt-80 {
        margin-top: 80px;
      }

      .payment {
        cursor: pointer;
        background-color: #eab2b6 !important;
      }

      .payment:hover {
        background-color: #82e096 !important;
      }

      .modal {
        overflow: scroll !important;
      }

      @media(max-width:767px){
        .btn-container {
          min-width: 600px;
          overflow-x: scroll;
        }

        .btn-container-holder {
          width: 100%;
          overflow-x: scroll;
        }
      }

    </style>

    <title>Life for all</title>
  </head>
  <body class="bg-light">

    <nav class="navbar navbar-expand-lg navbar-light bg-light d-flex justify-content-between">
      <div class="brand">
        <!-- <img src="/logo5.png" alt="" class="" style="height:44px"> -->
        <a href="#" class="navbar-brand">needyList</a>
      </div>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link active" href="#">Signed in as <b>Qasim</b></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/">Sign out</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" data-toggle="modal" data-target="#exampleModal3">Add People</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Blog</a>
          </li>
        </ul>
      </div>
    </nav>

    <div class="mt-1 pl-3 btn-container-holder">
      <div class="btn-container">
        <button type="button" class="filter-btn mr-2 btn btn-outline-info" data-toggle="card">
          Show All <span class="badge badge-done">4</span>
        </button>
        <button type="button" class="filter-btn mr-2 btn btn-done" data-toggle="bg-done">
          Done <span class="badge badge-done">4</span>
        </button>
        <button type="button" class="filter-btn mr-2 btn btn-inprogress"  data-toggle="bg-inprogress">
          In Progress <span class="badge badge-inprogress">4</span>
        </button>
        <button type="button" class="filter-btn mr-2 btn btn-issue" data-toggle="bg-issue">
          Issues <span class="badge badge-issues">4</span>
        </button>
        <button type="button" class="filter-btn mr-2 btn btn-pending" data-toggle="bg-pending">
          Pending <span class="badge badge-pending">4</span>
        </button>
      </div>
    </div>

    <div class="mt-3 d-flex justify-content-start flex-wrap">
      {{#each data}}
      {{#if this.[23]}}
      <div class="col-xl-2 col-lg-3 col-md-4 col-6 rounded px-2 pb-2">
        <div class="person-card card bg-{{this.[23]}} text-light rounded" data-toggle="modal" data-target="#exampleModal" data="
        {{this.[1]}},
        {{this.[2]}},
        {{this.[3]}},
        {{this.[4]}},
        {{this.[5]}},
        {{this.[6]}} {{this.[7]}} {{this.[8]}} {{this.[9]}},
        {{this.[10]}},
        {{this.[11]}},
        {{this.[23]}},
        {{this.[12]}},
        {{this.[13]}},
        {{this.[14]}},
        {{this.[15]}}
        ">
          <div class="p-2">
            <b class="">{{this.[0]}}.</b> <br>
            {{this.[1]}}<br>
            {{this.[4]}} x Members in a family<br>
            Earning Rs {{this.[3]}}/- per month
          </div>
          <hr class="my-1">
          <div class="p-2">
            <b class="badge badge-warning">Order Details</b> <br>
            <small>
               Package: {{this.[17]}} in Rs {{this.[16]}} <br>
               Ordered On: {{this.[18]}} <br>
               Delivered On: {{this.[19]}}
             </small>
             <br>
             <b class="badge badge-warning">Status</b>
             <small>{{this.[23]}}</small>
          </div>
          <hr class="my-1">
          <small class="p-2 text-light">Click to view details.</small>
        </div>
      </div>
      {{/if}}
      {{/each}}

    </div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title pl-3" id="exampleModalLabel"><span class="d-none edit-toggle">Details of Person</span><span class="edit-modal-title edit-toggle">Edit</span> </h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <table class="table table-borderless">
              <tbody>
                <tr class="">
                  <th scope="row">Name:</th>
                  <td colspan="2" class="d-none edit-toggle modal-name">Qasim Ali</td>
                  <td colspan="2" class="edit-toggle"><input type="text" name="" value="" class="form-control modal-name" placeholder="Name of person who needs help."></td>
                </tr>
                <tr>
                  <th scope="row">Contact No:</th>
                  <td colspan="2" class="d-none text-danger font-weight-bold edit-toggle modal-mob">+92 323 5168638</td>
                  <td colspan="2" class="edit-toggle"><input class="form-control modal-mob" type="text" name="" value="" placeholder="Mobile Number with country code."> </td>
                </tr>
                <tr>
                  <th scope="row">Salary in PKR (Rs):</th>
                  <td colspan="2" class="d-none text-danger font-weight-bold edit-toggle modal-salary">5872</td>
                  <td colspan="2" class="edit-toggle"><input class="form-control modal-salary" type="number" name="" value="" placeholder="Please enter salary of the person in PKR."> </td>
                </tr>
                <tr>
                  <th scope="row" colspan="2">Dependant Family Members:</th>
                  <td class="d-none edit-toggle modal-familyMembers">3</td>
                  <td class=" edit-toggle"><input class="form-control modal-familyMembers" type="text" name="" value="" placeholder="Enter the number of family members dependant."> </td>
                </tr>
                <tr>
                  <th scope="row" class="text-danger">Help needed:</th>
                  <td colspan="2" class="d-none edit-toggle modal-helpType">Financially broken, need ration to feed the entire family for 1 month.</td>
                  <td colspan="2" class=" edit-toggle"><input class="form-control modal-helpType" type="text" name="" value="" placeholder="Please enter the problem in detail."> </td>
                </tr>
                <tr>
                  <th scope="row">Address:</th>
                  <td colspan="2" class="d-none edit-toggle modal-address">Wazirabad Teh, Dist Multan, <span class="text-danger font-weight-bold">Pakistan</span>.</td>
                  <td colspan="2" class=" edit-toggle"><input class="form-control modal-address" type="text" name="" value="" placeholder="Address with name of distt."> </td>
                </tr>
                <tr class="">
                  <th scope="row">Middle Man:</th>
                  <td class="d-none edit-toggle modal-sponserName">Ahmed Iqbal</td>
                  <td colspan="" class=" edit-toggle"><input class="form-control modal-sponserName" type="text" name="" value="" placeholder="Your Name."> </td>
                  <td class="d-none edit-toggle modal-sponserMob">+92 323 5145644</td>
                  <td colspan="" class=" edit-toggle"><input class="form-control modal-sponserMob" type="text" name="" value="" placeholder="Your Cell No."> </td>
                </tr>
                <tr class="d-none edit-toggle">
                  <th scope="row" class="text-danger">Status:</th>
                  <td colspan="2" class="modal-status">Delivered!</td>
                </tr>
              </tbody>
            </table>
            <hr>
            <div class="pl-2 pb-2">
              <h5 class="text-danger">Payment options</h5>
              <span class="d-none edit-toggle">Click one below:-</span>
              <span class="edit-toggle">Click below to enter the account details:-</span>
            </div>
            <div class="accordion" id="accordionExample">
              <h5 class="pl-2 payment py-2 my-0"  data-toggle="collapse" data-target="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">Western Union / Online bank transfer</h5>
              <div class="pl-2 collapse" id="collapseExample" data-parent="#accordionExample">
                <p class="py-2 edit-toggle">Please make a deposit on following account and press 'Done' below:-</p>
                <ul class="pl-3 pb-0">
                  <li><b>Account title:</b>
                    <span class="d-none edit-toggle modal-accountTitle">Qasim Ali and Iram Riaz</span>
                    <span class="edit-toggle"><input type="text" name="" value="" class="form-control modal-accountTitle" placeholder="Account title."> </span></li>
                  <li><b>Bank:</b>
                    <span class="d-none edit-toggle modal-accountBank">Askari Bank Haider Road Rawalpindi</span>
                    <span class="edit-toggle"><input type="text" name="" value="" class="form-control modal-accountBank" placeholder="Bank"></span> </li>
                  <li><b>Account Number:</b>
                    <span class="d-none edit-toggle modal-accountNumber">09787638267</span>
                    <span class="edit-toggle"><input type="text" name="" value="" class="form-control modal-accountNumber" placeholder="Account Number."> </span>  </li>
                  <li class="pb-0"><b>International Banking Account Number (IBAN):</b>
                    <span class="d-none edit-toggle modal-accountIBAN">89736482648291734</span>
                    <span class="edit-toggle"><input type="text" name="" value="" class="form-control modal-accountIBAN" placeholder="International Bank Account No."> </span> </li>
                </ul>
                <div class="d-none edit-toggle">
                  <h5>After deposit details</h5>
                  <p>Please fill following details after making the depsoit:-</p>
                  <div class="form-group row">
                      <label for="inputEmail3" class="col-6 col-form-label">Amount deposited</label>
                      <div class="col-6 input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text">$</span>
                        </div>
                        <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
                        <div class="input-group-append">
                          <span class="input-group-text">.00</span>
                        </div>
                      </div>
                  </div>
                  <div class="form-group row">
                      <label for="inputEmail3" class="col-4 col-form-label">Deposit slip</label>
                      <div class="col-8 input-group">
                        <div class="custom-file">
                          <input type="file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01">
                          <label class="custom-file-label" for="inputGroupFile01">Upload photo</label>
                        </div>
                      </div>
                  </div>
                  <div class="text-center">
                    <button type="button" class="btn btn-outline-success btn-block" name="button">Done</button>
                  </div>
                  <small class="text-left">Your payment is routed directly to the person in need. He will update the status on completion.</small>
                </div>
                <hr>
              </div>
              <h5 class="d-none pl-2 payment py-2 my-0 edit-toggle" data-toggle="collapse" data-target="#collapseExample2" role="button" aria-expanded="false" aria-controls="collapseExample2">Credit / Debit Card</h5>
              <div class="d-none edit-toggle collapse pl-2 pt-2" id="collapseExample2" data-parent="#accordionExample">
                <form action="/echo" method="post" novalidate="novalidate" class="needs-validation">
                    <div class="form-group">
                        <label for="cc-payment" class="control-label mb-1">Payment amount in USD</label>
                        <input id="cc-payment" name="cc-payment" type="text" class="form-control" aria-required="true" aria-invalid="false" required value="100.00">
                        <span class="invalid-feedback">Enter the payment amount</span>
                    </div>
                    <div class="form-group has-success">
                        <label for="cc-name" class="control-label mb-1">Name on card</label>
                        <input id="cc-name" name="cc-name" type="text" class="form-control cc-name" required autocomplete="cc-name" aria-required="true" aria-invalid="false" aria-describedby="cc-name-error">
                        <span class="invalid-feedback">Enter the name as shown on credit card</span>
                    </div>
                    <div class="form-group">
                        <label for="cc-number" class="control-label mb-1">Card number</label>
                        <input id="cc-number" name="cc-number" type="tel" class="form-control cc-number identified visa" required="" pattern="[0-9]{16}">
                        <span class="invalid-feedback">Enter a valid 16 digit card number</span>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                                <label for="cc-exp" class="control-label mb-1">Expiration</label>
                                <input id="cc-exp" name="cc-exp" type="tel" class="form-control cc-exp" required placeholder="MM / YY" autocomplete="cc-exp">
                                <span class="invalid-feedback">Enter the expiration date</span>
                            </div>
                        </div>
                        <div class="col-6">
                            <label for="x_card_code" class="control-label mb-1">Security code</label>
                            <div class="input-group">
                                <input id="x_card_code" name="x_card_code" type="tel" class="form-control cc-cvc" required autocomplete="off">
                                <span class="invalid-feedback order-last">Enter the 3-digit code on back</span>
                                <div class="input-group-append">
                                    <div class="input-group-text">
                                    <span class="fa fa-question-circle fa-lg" data-toggle="popover" data-container="body" data-html="true" data-title="Security Code"
                                    data-content="<div class='text-center one-card'>The 3 digit code on back of the card..<div class='visa-mc-cvc-preview'></div></div>"
                                    data-trigger="hover"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="x_zip" class="control-label mb-1">Postal code</label>
                        <input id="x_zip" name="x_zip" type="text" class="form-control" value="" data-val="true" data-val-required="Please enter the ZIP/Postal code" autocomplete="postal-code">
                        <span class="help-block" data-valmsg-for="x_zip" data-valmsg-replace="true"></span>
                    </div>
                    <div class="text-center">
                        <button id="payment-button" type="submit" class="btn btn-outline-success btn-block">
                            <span id="payment-button-amount">Pay Now</span>
                            <span id="payment-button-sending" class="d-none">Sending…</span>
                        </button>
                    </div>
                </form>
              </div>
            </div>


          </div>
          <div class="modal-footer">
            <button type="button" name="button" class="btn btn-success edit-toggle save-btn">Save</button>
            <button type="button" class="btn btn-danger edit-btn">
              <span class="d-none edit-toggle">Edit</span>
              <span class="edit-toggle">Cancel</span>
            </button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal Sign Up or Login -->
    <div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title pl-4" id="exampleModalLabel">Sign in to view credentials</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="px-4 py-3">
              <a class="btn bg-primary text-light rounded" href="/home" name="button"><i class="fab fa-google"></i> | Sign in with Google</a>
            </div>
            <div class="dropdown-divider"></div>
            <form class="px-4 py-3">
              <div class="form-group">
                <label for="exampleDropdownFormEmail1">Email address</label>
                <input type="email" class="form-control" id="exampleDropdownFormEmail1" placeholder="email@example.com">
              </div>
              <div class="form-group">
                <label for="exampleDropdownFormPassword1">Password</label>
                <input type="password" class="form-control" id="exampleDropdownFormPassword1" placeholder="Password">
              </div>
              <div class="form-group">
                <div class="form-check">
                  <input type="checkbox" class="form-check-input" id="dropdownCheck">
                  <label class="form-check-label" for="dropdownCheck">
                    Remember me
                  </label>
                </div>
              </div>
              <button type="submit" class="btn btn-primary">Sign in</button>
            </form>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">New around here? Sign up</a>
            <a class="dropdown-item" href="#">Forgot password?</a>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal Add People -->
    <div class="modal fade" id="exampleModal3" tabindex="-1" role="dialog" aria-labelledby="addpeopleModal" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title pl-4" id="addpeopleModal">Add people</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="px-4 py-3">
              <p class="lead">Add a person in your neighbourhood who might need help.</p>
              <button type="button" name="button" class="btn btn-outline-dark mr-2 mb-2" id="add-one-btn">Add 1 Person</button>

              <p class="text-center lead font-weight-bold">OR</p>

              <p class="lead">Add entire list by uploading the excel sheet:-</p>
              <a href="/sample.xlsx" name="button" class="btn btn-outline-dark mr-2 mb-2" download>1: Download Sample Excel File</a> <br>
              <div class="custom-file mb-2">
                <input type="file" class="custom-file-input" id="fileInp" aria-describedby="fileInp">
                <label class="custom-file-label border border-dark text-dark" for="fileInp" data="{{sampleRows}}">2: Upload File</label>
              </div>
              <button type="button" name="button" class="btn btn-outline-dark mr-2 mb-2">3: Update</button>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default close-modal" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>





    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="  crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.8.0/jszip.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.8.0/xlsx.js"></script>


    <script type="text/javascript">

      $('.edit-toggle').toggleClass('d-none');
      let editStatus = false;

      $(document).on('click','.edit-btn',function() {
        console.log('edit clicked');
        $('.edit-toggle').toggleClass('d-none');
        $(this).toggleClass('btn-success btn-outline-success');
        editStatus = !editStatus;
        console.log(editStatus);
        $('#exampleModal').attr({editStatus: !editStatus});
      });

      $('#exampleModal').on('hidden.bs.modal', function (e) {
        if (editStatus) {
          $('.edit-btn').trigger('click').show();
        };
        $('.edit-modal-title').html('Edit');

      })


      $(document).on('click','.filter-btn',function(){
        let className = $(this).attr('data-toggle');
        $('.person-card').parent('.rounded').addClass('d-none');
        $(`.${className}`).parent('.rounded').removeClass('d-none');
      })

      $(document).on('click','.card',function(){
        let myData = $(this).attr('data').split(',');
        console.log(myData);
        $('.modal-name').html(myData[0].trim()).attr({value:myData[0].trim()});
        $('.modal-mob').html(myData[1].trim()).attr({value:myData[1].trim()});
        $('.modal-salary').html(myData[2].trim()).attr({value:myData[2].trim()});
        $('.modal-familyMembers').html(myData[3].trim()).attr({value:myData[3].trim()});
        $('.modal-helpType').html(myData[4].trim()).attr({value:myData[4].trim()});
        $('.modal-address').html(myData[5].trim()).attr({value:myData[5].trim()});
        $('.modal-sponserName').html(myData[6].trim()).attr({value:myData[6].trim()});
        $('.modal-sponserMob').html(myData[7].trim()).attr({value:myData[7].trim()});
        $('.modal-status').html(myData[8].trim()).attr({value:myData[8].trim()});
        $('.modal-accountTitle').html(myData[9].trim()).attr({value:myData[9].trim()});
        $('.modal-accountBank').html(myData[10].trim()).attr({value:myData[10].trim()});
        $('.modal-accountNumber').html(myData[11].trim()).attr({value:myData[11].trim()});
        $('.modal-accountIBAN').html(myData[12].trim()).attr({value:myData[12].trim()});
      });


      $(document).on('click','.save-btn',function(){

        let data = {
          name:$('.modal-name:eq(-1)').val(),
          mob:$('.modal-mob:eq(-1)').val(),
          familyMembers:$('.modal-familyMembers:eq(-1)').val(),
          helpType:$('.modal-helpType:eq(-1)').val(),
          address:$('.modal-address:eq(-1)').val(),
          sponserName:$('.modal-sponserName:eq(-1)').val(),
          sponserMob:$('.modal-sponserMob:eq(-1)').val(),
          status:$('.modal-status:eq(-1)').html(),
          accountTitle:$('.modal-accountTitle:eq(-1)').val(),
          accountBank:$('.modal-accountBank:eq(-1)').val(),
          accountNumber:$('.modal-accountNumber:eq(-1)').val(),
          accountIBAN:$('.modal-accountIBAN:eq(-1)').val(),
        }

        console.log(data);

        if (
          $('.modal-name:eq(-1)').val() == ''  ||
          $('.modal-mob:eq(-1)').val() == '' ||
          $('.modal-familyMembers:eq(-1)').val() == '' ||
          $('.modal-helpType:eq(-1)').val() == '' ||
          $('.modal-address:eq(-1)').val() == '' ||
          $('.modal-sponserName:eq(-1)').val() == '' ||
          $('.modal-sponserMob:eq(-1)').val() == '' ||
          $('.modal-status:eq(-1)').html() == '' ||
          $('.modal-accountTitle:eq(-1)').val() == '' ||
          $('.modal-accountBank:eq(-1)').val() == '' ||
          $('.modal-accountNumber:eq(-1)').val() == '' ||
          $('.modal-accountIBAN:eq(-1)').val() == ''
        ) return console.log('please fill all values');



        data = JSON.stringify(data);

        $.ajax({
            url: '/data',
            type: 'post',
            data,
            headers: {
                'content-type': 'application/json',
            }
          }).done((res) => {
            console.log(res);
          }).fail((e) => {
            console.log(e.responseText);
          });

      });

      $(document).on('click','#add-one-btn',function(){
        $('#exampleModal3').modal('hide');
        $('#exampleModal').modal('show');
        $('.edit-btn').trigger('click').hide();
        $('input').val('');
        $('.edit-modal-title').html('Add a person');
      });

      function readURL(input) {

        return new Promise(function(resolve, reject) {

          if (input.files && input.files[0] && (/\.(xlsx)$/i.test(input.files[0].name))) {

              var reader = new FileReader();

              reader.addEventListener("load", function(e) {

                var data = e.target.result;
                var workbook = XLSX.read(data, {
                  type: 'binary'
                });

                workbook.SheetNames.forEach(function(sheetName) {

                  var XL_row_object = XLSX.utils.sheet_to_row_object_array(workbook.Sheets[sheetName]);
                  var json_object = JSON.stringify(XL_row_object);
                  // console.log(json_object);
                  console.log('completed reading data');
                  resolve(XL_row_object);
                  // resolve(json_object);

                })

              });

              reader.onerror = function(ex) {
                reject(ex);
              };

              reader.readAsBinaryString(input.files[0]);

          } else {

              reject('not proper format of file');

          }

        });



      }

      $("#fileInp").change(function() {

          readURL(this).then((msg) => {
            // console.log(msg);
            $.each(msg, (key,val) => {
              $.each(val, (key2,val2) => {
                console.log(key2);
              })
            })
            $(this).siblings('label').toggleClass('text-dark text-success border-dark border-success').html('Ok! All entries are valid.');
          }).catch((e) => {
            console.log(e);
          });

      });


    </script>
  </body>
</html>
