<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Funds 4 {{msg.heading}}</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:500,700,900|Roboto:100,300i,400,400i,700,900&display=swap" rel="stylesheet">
    <script src="https://js.stripe.com/v3/"></script>

    <style media="screen">

      p {
        font-family: Roboto;
        font-weight: normal;
        font-size: 25px;
        line-height: 1.8;
        color: #828282;
      }

      .container {
        /* border: 1px solid red; */
        width: 1300px;
        max-width: 100vw;
        margin: 0 auto;
        padding: 0 20px;
        box-sizing: border-box;
      }

      .container > * {
        /* border: 1px solid blue; */
      }

      h1 {
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 46px;
        line-height: 39px;
        width: 100%;
        font-weight: bold;
      }

      .brown {
        color: brown;
      }

      .upper {
        display: flex;
        flex-wrap: wrap;
      }

      .upper > .text {
        width: 60%;
      }

      .text > p {

        font-size: 22px;
        line-height: 1.8;
        color: lightslategrey;
      }

      .upper > .photo {
        width: 40%;
        border-radius: 50%;
        padding: 20px;
        box-sizing: border-box;
        display: flex;
      }

      .photo > img {
        width: 74%;
        max-width: 250px;
        /* height: 300px; */
        border-radius: 50%;
        /* padding: 20px; */
        box-sizing: border-box;
        background: #f7f7f7;
        margin: auto;
        margin-top: 0;
        box-shadow: 0px 0px 5px rgba(0,0,0);
      }

      .status_bar {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        position: fixed;
        bottom: 0;
        left: 50%;
        transform: translate(-50%);
        background: white;
        border-top: 4px solid brown;
        padding: 20px 20px 0 20px;
        box-sizing: border-box;
      }

      .bar {
        position: relative;
        margin-top: 4rem;
        background: #f5f4f4;
        /* box-sizing: border-box; */
        /* max-width: 60%; */
        height: 20px;
        width: 779px;
        border-radius: 10px;
        max-width: 100%;
      }

      .green_bar {
        position: absolute;
        width: {{msg.difference}}%;
        background-color: green;
        height: 20px;
        box-sizing: border-box;
        border-radius: 10px;
      }


      .greencircle {
        position: absolute;
        top: -39px;
        left: 0;
      }

      .greencircle > span, .yellowcircle > span {
        position: absolute;
        white-space: nowrap;
        top: -41%;
        padding: 12px 29px;
        background: white;
        font-size: 22px;
        color: lightslategrey;
        font-weight: bold;
      }

      .greencircle > span {
        left: 0;
        border: 1px solid green;
      }

      .yellowcircle > span {
        right: 0;
        border: 1px solid lightgray;
      }

      .yellowcircle {
        position: absolute;
        top: -39px;
        left: 97%;
      }

      .counter {
        font-weight: bold;
        font-size: x-large;
        margin-left: auto;
      }

      .status_bar > button {
        /* float: left; */
      }

      .status_bar > *:nth-child(2) {
        display: flex;
        width: 100%;
        padding: 20px 12px;
        box-sizing: border-box;
        align-items: center;
        max-width: 799px;
      }

      button {
        padding: 12px 16px;
        border: none;
        font-family: Roboto;
        font-size: 18px;
        font-weight: 400;
        margin-right: 8px;
        margin-bottom: 13px;
      }

      button.primary {
        color: white;
        background: green;
        border: 1px solid green;
      }

      button.secondary {
        color: green;
        background: white;
        border: 1px solid green;
      }

      button.danger {
        color: white;
        background: brown;
        border: 1px solid brown;
      }

      .modal {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: white;
        border: 4px solid brown;
        box-sizing: border-box;
        padding: 0 20px;
        overflow: scroll;
      }

      .selectBox > span {
        width: 86px;
        height: 45px;
        background: white;
        border: 1px solid lightgrey;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        margin: 2px 0;
        font-family: Montserrat;
        color: grey;
      }

      .selectBox > span:hover {
        opacity: 0.6;
        cursor: pointer;
      }

      span.active {
        background: green;
        color: white;
        border: 1px solid green;
      }

      span.active:hover {
        opacity: 1;
      }

      .selectBoxOut > *:nth-child(1) {

        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 121px;
        line-height: 147px;

        /* Green 1 */
        color: green;
      }

      .selectBoxOut > *:nth-child(2) {
        color: green;
        font-style: normal;
      }

      .stripe.container {
        margin-left: 0;
        box-sizing: border-box;
        padding: 0;
        box-shadow: none;
        padding-right: 25px;
        max-width: 600px;
      }

      .MyCardElement {
        /* height: 40px; */
        padding: 10px 12px;
        width: 100%;
        color: #32325d;
        background-color: white;
        /* border: 1px solid transparent; */
        /* border-radius: 4px; */

        box-shadow: 0 1px 3px 0 #e6ebf1;
        -webkit-transition: box-shadow 150ms ease;
        transition: box-shadow 150ms ease;

        border: 1px solid lightgrey;
        margin-bottom: 20px;
      }

      .MyCardElement--focus {
        box-shadow: 0 1px 3px 0 #cfd7df;
      }

      .MyCardElement--invalid {
        border-color: #fa755a;
      }

      .MyCardElement--webkit-autofill {
        background-color: #fefde5 !important;
      }

      .bold {
        font-weight: bold;
      }

      .green {
        color: green;
      }

      .d-none {
        display: none;
      }


      .drop_target {
        background: #007f01;
        padding: 1px 10px;
        box-sizing: border-box;
        margin: 20px 0;
      }

      .drop_target > p {
        color: white;
        font-size: 18px;
      }

      .drop_target > h6 {
        font-size: 18px;
        margin: 0;
        font-style: italic;
        color: white;
        text-decoration: underline;
      }

      .drop_target a {
        text-decoration: none;
        color: lightskyblue;
      }

      button:focus {
        background: green;
        color: white;
      }

      .text h3 {
        border-bottom: 4px solid brown;
        color: brown;
      }

      .donation {
        margin: 2px 2px 2px 0;
        display: inline-block;
        width: 25%;
        background: #FFFFFF;
        box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
      }

      .donation > * {
        margin: 0;
        padding: 0;
      }

      .donation .amount {
        font-weight: bold;
        font-size: 35px;
        color: white;
        text-align: center;
        background: brown;
        padding: 10px;
      }

      .donation .comment {
        font-size: 16px;
          /* color: #5f5f5f; */
        line-height: 1.4;
        padding: 10px;
      }

      .donation small {
        margin-top: -3px;
        display: block;
        color: #b5b5b5;
        padding: 10px;
      }

      @media (max-width: 700px) {
        p {
          font-size: 17px;
        }

        h1 {
          font-size: 35px;
        }

        .upper > h1 {
          order: 1;
        }

        .upper > .photo {
          order: 2;
        }

        .upper > .text {
          order: 3;
          width: 100%;
        }

        .text > p {
          font-size: 17px;
        }

        .upper > .photo {
          width: 78%;
          padding: 0px;
          display: block;
        }

        .donation {
          width: 48%;
          max-width: 161px;
        }

        .status_bar {
          padding: 20px 20px 0 9px;
        }

        .div_2 {
          padding: 21px 0px 15px 0px;
        }


        .div_2 > button {
          padding: 12px 12px;
          font-size: 12px;
          margin-right: 4px;
          white-space: nowrap;
        }

        .greencircle > span, .yellowcircle > span {
            padding: 12px 15px;
            font-size: 12px;
        }
      }
    </style>
  </head>
  <body>

    <div class="container">

      {{> breadcrumb page=this.page}}


      <div class="upper">
        <h1 class="brown">{{msg.heading}}</h1>
        <div class="text">
          <p>{{msg.description}}</p>
          {{#if msg.donations}}
          <h3>Donations</h3>
          {{#each msg.donations}}
          <div class="donation">
            <p class="amount">{{this.amount}} USD</p>
            <p class="comment">{{this.comment}}</p>
            <small>{{date this.time}}</small>
          </div>
          {{/each}}
          {{/if}}
        </div>
        <div class="photo">
          <img src="{{msg.img}}" alt="">
        </div>
      </div>

    </div>

    <div class="status_bar">
      <div class="bar">
        <div class="green_bar">
        </div>

        <div class="greencircle">
          <svg width="24" height="61" viewBox="0 0 24 61" fill="none" xmlns="http://www.w3.org/2000/svg">
            <line x1="12.5" y1="2.18557e-08" x2="12.5" y2="38" stroke="green"/>
            <circle cx="12" cy="49" r="11.5" fill="green" stroke="darkcyan"/>
            </svg>

          <span class="">Raised till now: USD {{msg.raised}}</span>
        </div>

        <div class="yellowcircle">
          <svg width="24" height="61" viewBox="0 0 24 61" fill="none" xmlns="http://www.w3.org/2000/svg">
          <line x1="12.5" y1="2.18557e-08" x2="12.5" y2="38" stroke="lightgrey"/>
          <circle cx="12" cy="49" r="11.5" fill="#f5f4f4" stroke="lightgrey"/>
          </svg>

          <span class="">Target: USD {{msg.target}}</span>
        </div>

      </div>
      <div class="div_2">
        <button class="primary" type="button" name="button" onclick="toggleModal()">Donate</button>
        <button class="secondary" type="button" name="button" onclick="window.location.assign(`{{msg.learnMore}}`)">Read Blog</button>
        <button class="secondary" type="button" name="button" onclick="window.location.assign(`https://wa.me/{{msg.whatsapp}}`)">WhatsApp</button>
        <button class="secondary" type="button" name="button" onclick="window.location.assign(`/updateDonations?ser={{msg.ser}}`)">Add Donation</button>

        <!-- <div class="counter brown">
          00:89:30:34
        </div> -->
      </div>
    </div>

    <div class="modal d-none">
        <h1 class="brown">Donate Box</h1>

        <p>Thank you. Please press on one of the buttons to select the amount you want to donate in this cause.</p>
        <div class="selectBox">
          <span class="active">10</span>
          <span>20</span>
          <span>30</span>
          <span>40</span>
          <br>
          <span>50</span>
          <span>80</span>
          <span>100</span>
          <span>200</span>
        </div>

        <p class="selectBoxOut">
          <span>10.00</span>
          <span>USD</span>
        </p>

        <p>will go to <span class="green bold">Laurel Home School</span> Funds. Please enter your credit card details below to make the payment.</p>

        <div id="payment-form"  class="stripe container form-placement">
          <form id="payment-form">
            <div id="card-element" class="MyCardElement">
              <!-- Elements will create input elements here -->
            </div>

            <!-- We'll put the error messages in this element -->
            <div id="card-errors" role="alert"></div>

            <button id="submit" class="primary">Donate 10.00 USD</button>
          </form>
        </div>



        <p>Or use one of the following payment methods to make the donation.</p>

        <div class="otherButtons">
          <button data-target="paypal" class="drop_toggle secondary" type="button" name="button">Paypal</button>
          <button data-target="bank" class="drop_toggle secondary" type="button" name="button">Online Bank Transfer</button>
          <button data-target="easypaisa" class="drop_toggle secondary" type="button" name="button">Easy Paisa</button>
        </div>

        <div class="d-none drop_target" data-parent="paypal">
          <p>Please make the payment on following paypal account. Send the receipt on <a href="https://wa.me/923235168638" target=_blank>WhatsApp number</a>.</p>
          <p>abi1023@gmail.com</p>
        </div>

        <div class="d-none drop_target" data-parent="bank">
          <p>Please make the payment on following account number. If you are located outside Pakistan you can use <a href="https://transferwise.com/" target=_blank>Transferwise</a> to make the payment.</p>
          <h6>Account Title</h6>
          <p>0123123123421323214</p>
          <h6>Account No</h6>
          <p>0123123123421323214</p>
          <h6>Account IBAN</h6>
          <p>IBAN08123AKJKASD123R9094091</p>
        </div>

        <div class="d-none drop_target" data-parent="easypaisa">
          <p>Please make a transfer on following easypaisa account. Send the payment receipt on this <a href="https://wa.me/923235168638" target=_blank>WhatsApp number</a>.</p>
          <h6>Name</h6>
          <p>Ahmed Ali</p>
          <h6>Mobile No</h6>
          <p>0323 5168435</p>
        </div>

        <button class="danger" type="button" name="button" onclick="toggleModal()">Close</button>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="  crossorigin="anonymous"></script>

    <script type="text/javascript">

    $(document).ready(function() {
      console.log('hello');
      $('.selectBox > span:eq(0)').trigger('click');
    })

    let toggleModal = function() {
      $('.modal').toggleClass('d-none');
    }

    let toggleDonation = function() {
      $('.donations').toggleClass('d-none');
    }

    $('.selectBox > span').on('click', function() {
      $('.selectBox > span').removeClass('active');
      $(this).toggleClass('active');
      let value = $(this).text();
      $('.selectBoxOut > span:nth-child(1)').html(`${value}.00`);
      $.get( `/secret?amount=${$(this).text()}00`, function( data ) {
        console.log(data);
        $('#payment-form').attr('code',data);
        $(`#payment-form > #submit`).html(`Donate ${value}.00 USD`);
      })
      .catch(e => {
        console.log(e);
        $('#payment-form > #submit').html(e.responseText);
      })
    })

// STRIPE Payment

    var stripe = Stripe(`{{publishableKey}}`);
    var elements = stripe.elements();

    // Set up Stripe.js and Elements to use in checkout form
    var style = {
      base: {
        color: "#32325d",
        fontFamily: '"Helvetica Neue", Helvetica, sans-serif',
        fontSmoothing: "antialiased",
        fontSize: "20px",
        "::placeholder": {
          color: "#aab7c4"
        }
      },
      invalid: {
        color: "#fa755a",
        iconColor: "#fa755a"
      }
    };

    var card = elements.create("card", { style: style });

    card.mount("#card-element");

    card.addEventListener('change', ({error}) => {
      const displayError = document.getElementById('card-errors');
      if (error) {
        $('#payment-form > #submit').html(error.message);
      } else {
        displayError.textContent = '';
      }
    });

    var form = document.getElementById('payment-form');

    form.addEventListener('submit', function(ev) {
      ev.preventDefault();
      $('#payment-form > #submit').html('Processing payment...');
      stripe.confirmCardPayment($('#payment-form').attr('code'), {
        payment_method: {
          card: card,
          // billing_details: {
          //   name: 'Jenny Rosen',
          //   email: 'qasimali24@gmail.com'
          // }
        }
      }).then(function(result) {
        if (result.error) {
          // Show error to your customer (e.g., insufficient funds)
          console.log(result.error);
          $('#payment-form > #submit').html(result.error.message);
        } else {
          // The payment has been processed!
          console.log(result);
          if (result.paymentIntent.status === 'succeeded') {
            $('#payment-form > #submit').html('Payment was successful. Thanks');
            updateDonation(result.paymentIntent.amount.toString().slice(0, -2));
          }
        }
      });
    });

    let updateDonation = (amount) => {

      let data = {
        ser: `{{msg.ser}}`,
        amount: amount,
        client_secret: $('#payment-form').attr('code'),
        comment: 'Credit Card Payment'
      }

      console.log(data);

      data = JSON.stringify(data);

      $.ajax({
          url: '/addStripeDonation',
          type: 'post',
          data,
          headers: {
              'content-type': 'application/json',
          }
        }).done((msg) => {
          console.log(msg);
          // $(this).html('Donation Added !');
          // window.location.assign('/updateDonations?ser={{msg.ser}}');
          // $('.stage').toggleClass('d-none');
          // window.location.assign('/tickets');
        }).fail((e) => {
          // $(this).html(`Error: ${e.responseText}`);
          console.log(e);
        });

    }

    // STRIPE ends here

    $('.drop_toggle').on('click',function() {
      let target = $(this).attr('data-target');
      $('.drop_target').addClass('d-none');
      $(`[data-parent=${target}]`).toggleClass('d-none');
    })
    </script>
  </body>
</html>
